section {
    padding: 40px 0;
}

img.logo-header {
    width: 262px;
}

img.ico-sosmed {
    width: 20px;
    vertical-align: middle;
}

img.center {
    margin: 15px auto;
    display: block; 
}

span.equal {
    padding: 0 20px;
    font-size: 11px;
}

.center {
    text-align: center;
}

a.blue {
    font-family: 'OpenSansBold';
}

.absolute {
    position: absolute;
}

.right {
    text-align: right;
}

h1.big-blue {
    font-size: 4rem;
    color: #0368ff;
    font-family: OpenSansBold;
}

div.table-rewards {
    margin-top: 3rem;
}

thead.border-green {
    background: none;
    border: none;
    border-top: 2px solid #4fac71;
    border-bottom: 2px solid #4fac71;
}

table.rewards {
    margin-top: 1rem;
}

table tbody tr:nth-child(even) {
    background-color: #e5f0ff;
}

.required:after {
    content: '*';
    color: red;
    position: absolute;
    right: -10px;
    font-size: 12px;
    top: -2px;
}

span.icon-upload {
    position: absolute;
    margin-left: 370px;
    margin-top: -39px;
}

.contact-us-box h6 {
    font-family: 'opensansbold';
    margin-top: 15px;
}

.contact-us-box {
    padding-bottom: 0;
    color: #808184;
}

ul.reach-us-here {
    list-style: none;
    font-family: 'opensanssemibold';
}

.sub-content {
    font-family: opensanssemibold;
    font-size: 12px;
}

.delivery-box {
    padding: 50px 0;
}

ul.sidebar li {
    margin-bottom: 25px;
    line-height: 25px;
}

.red {
    color: #ff0335;
}

a.accordion-title.no-border.subtitle {
    color: #0368ff;
}

div.knowmore {
    margin-top: 40px;
}

.knowmore p {
    font-size: 13px;    
}

section#blue-bg {
    background: #e5f0ff;
    padding: 20px 0;
}

h5.grey-bold {
    font-family: OpenSansBold;
}

section#blue-bg img {
    height: 60px;
    margin-bottom: 20px;
}

ul.claim-refund {
    list-style: none;
    margin-left: 0;
    padding-bottom: 20px;
}

ul.claim-refund li {
    font-family: OpenSansSemiBold;
    padding: 5px 0px;
}

section#claim-form {
    background: #ffe5ea;
}

hr#claim-refund { 
    background: url('../images/dashed.png') repeat top center;
    background-size: contain;
    display: block;
    height: 4px;
    border: 0;
    position: relative;
}

section#claim-form div.form-box div {
    margin-top: 5px;
}

p.semi {
    font-family: OpenSansSemiBold;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 50px;
}

.left {
    text-align: left;
}

a.grey-underline {
    text-decoration: underline;
    color: #808083;
    margin-right: 20px;
    font-family: OpenSansBold;
}

a.blue-bg {
    color: #fff;
    font-family: OpenSansBold;
    background: #0368ff;
}

#myRatingsReviews .tabs-title.is-active a {
    font-family: 'OpenSansBold';
}

div#panelGrocer,div#panelCook,div#panelEats {
    padding: 0;
}

.item-myhearts:before {
    content: url(../../assets/images/love_icon_small.png);
    position: absolute;
    right: 10px;
    bottom: 5px;
    cursor: pointer;
}

div.item-myhearts {
    border: 2px solid #0368ff !important;
    min-height: 190px;
}

div.myheart-price {
    border: 2px solid #0368ff;
    border-top: none;
    padding: 5px 0;
}

.myheart-price p {
    margin: 5px;
    font-size: 13px;
}

.item-box.box-myhearts {
    margin-bottom: 25px;
}

div.mail-option {
    padding-left: 10px;
}

img.trash-icon {
    margin-left: 64px;
    margin-top: -10px;
}

input.mail-checkbox {
    opacity: 1;
}

small.user {
    background: #0368ff;
    color: #fff;
    padding: 2px 10px;
    border-radius: 10px;
}

small.admin {
    background: #ff0335;
    color: #fff;
    padding: 2px 10px;
    border-radius: 10px;
}

p.name-sender {
    font-size: 15px;
    color: #0368ff;
    margin-bottom: 5px;
    font-family: 'OpenSansSemiBold';
}

p.date-mail {
    margin-top: 5px;
    font-style: italic;
    font-size: 9px;
    color: #808184;
}

p.content-mail {
    border-bottom: 2px solid #929497;
    padding-bottom: 20px;
}

span.date-write {
    margin-top: 5px;
    font-style: italic;
    margin-left: 5px;
    font-size: 9px;
    color: #808184; 
}

ul.sender {
    list-style: none;
    margin-left: 0;
    display: inline-flex;
}

ul.sender li {
    padding-right: 10px;
}

td.icon-mail {
    vertical-align: top;
    width: 60px;
}

img.user-icon {
    margin-top: 10px;
    width: 100%;
}

tbody.mails {
    border: none;
}

tbody.mails tr {
    border-top: 2px solid #0368ff;
}

div.mail-list {
    margin-top: 20px;
}

.ui-checkbox+label {
    position: relative;
    display: inline-block;
    font-size: 12px;
    margin-left: -20px;
}

.ui-checkbox:checked+label:before {
    border: 1px solid #88898c;
    color: #88898c;
}

.ui-checkbox+label:before {
    background-color: #fff;
    border: 1px solid #88898c;
    padding: 6px;
    display: block;
    position: absolute;
    content: "";
}
.ui-checkbox:checked+label:after {
    content: '';
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 3px;
    color: #88898c;
}

table.unstriped tbody tr:nth-child(even) {
    background: none;
}

div.options img.trash-icon {
    margin-left: 30px;
    margin-top: 0;
}

#toTop {
    display: none;
    position: absolute;
    bottom: 195px;
    right: 85px;
    width: 80px;
    height: 80px;
    background-image: url(../images/autoupicon.png);
    background-repeat: no-repeat;
    filter: alpha(opacity=40);
    background-size: 50px;
}

#toTop:hover {
    opacity: 1;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.btn-action {
    margin: 0;
    margin-left: 10px;
}

.btn-action.red {
    background: #ff0335;
    color: #fff;    
}

input.redeem-field {
    border: 2px solid #808184;
    margin-bottom: 5px;
}

div.promotional button {
    font-family: OpenSansBold;
    background: #0368ff;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    text-align: right;
    top: -34px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

input#uploadFile {
    width: 100%;
    background: none;
    border: 1px solid;
    padding: 3px;
}

.top-bar .search {
    padding: 20px;
}

.top-bar .search-btn {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 1px solid #0368ff;
    padding: 12px;
    background-color: #0368ff;
    outline: none;
    padding-bottom: 11px;
}

span#map-help {
    width: 100%;
    background: #025EFF !important;
    font-weight: bold;
    display: block;
}

#container-map {
    border: 5px solid #025EFF;
    display: none;
    margin: 20px 0;
}

#map {
  height: 300px;
}
.mqa-display {
  max-width:none !important;
} 

#description {
font-size: 15px;
font-weight: 300;
}

#infowindow-content .title {
font-weight: bold;
}

#infowindow-content {
display: none;
}

#map #infowindow-content {
display: inline;
}

a#pin-location {
    background: #ff0335;
}

.pac-card {
margin: 10px 10px 0 0;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
background-color: #fff;
font-family: Roboto;
}

#pac-container {
padding-bottom: 12px;
margin-right: 12px;
}

.pac-controls {
display: inline-block;
padding: 5px 11px;
}

.pac-controls label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    margin-top: 10px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}

.check-claim {
    margin: 3rem 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding-bottom: 15px;
    margin-top: 70px;
}
div#return-exchange {
    padding-left: 0;
}

div#rules-rewards {
    border: 1px solid #0368ff;
    padding: 10px;
    margin-left: -15px;
}

h6 {
    font-size: 15px;
    font-family: 'opensanssemibold';
    color: #2975ff;
}

/*=============================================================================================	
        New Custom Style - Muhammad Ramdhani (mr.ramdani@outlook.com) & Ghalia Adzana
==============================================================================================*/

.after_clear:after{display: block;content: '';width: 100%;clear: both;}
.ul_nostyle{list-style: none;margin: 0px;padding: 0px;}
a.linkMore{
    font-family: BrandonGrotesqueBlack;
    font-size: 14px;
    position: relative;
    color: #ff0335;text-transform: uppercase;
    padding: 0 15px 0 0px;

    &:hover{
        outline: none;
        text-decoration: underline;
    }
    &:after{
        content: '';
        background: url('../images/materials/chevron-right-red.png') no-repeat;
        width: 5px;height: 9px;
        position: absolute;right: 0;
        top: 5px;
    }
}

#godOfContent{
	.newboxMenu {
	    max-width: 1200px;
	    margin:0 auto;
		.newleftMenu{
			float: left;
			width: 280px;
			margin: 20px 0 20px 30px;
			border: 1px solid #ddd;

			li{
				a{
					border-bottom:1px solid #ddd;
					display: block;
					line-height: 40px;
					font-size: 16px;color: #666;
					position: relative;
					padding: 0 80px; 
                    font-family: BrandonGrotesqueMedium;

					img{
						position: absolute;left: 20px;top: 7px;
                        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(100%);
					}

                    &.active,
					&:hover{
						font-family: BrandonGrotesqueBlack;
                        color: #0368ff;

                        &:after,
                        img{
                            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                            filter: grayscale(0%);
                        }


					}
					&:after{
						content: '';
						position: absolute;
						background: url('../images/materials/chevron-right.png') no-repeat;
						width: 5px;height: 9px;
						right: 20px;top: 16px;
                        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(100%);
					}
				}

				&:last-child{
					a{border-bottom: 0px;}
				}
			}
		}
		.orbit.orbit-custom{
			float: right;
			width: 870px;height: 492px;
		}

	}

    #productDetail{
        .breadcrumb{
            margin-left: 15px;
            .margin-left-20{
                margin-left: 20px;
            }
            span{
                font-family: OpenSansSemiBold;
                font-size: 10px;
                a.text-grey{
                }
            }
        }
        .box-detail-inner{
            width: 1030px;

            .product-image{
                padding-left: 0px;
                .item-box {
                    width: 100%;
                        box-sizing:border-box;
                    .item.xlarge{
                        padding-left: 0px;
                        width: 100%;height: 413px;
                        box-sizing:border-box;
                    }
                }
            }
            .product-detail-text{
                padding-left: 100px;
            }
        }
    }
	.box-content{
		.exploreProd{
			margin:40px 0px 80px 30px;
			.exploreProdList{
				margin:0 0 30px;

				.headingTitle{
					h1{float: left;border-left:4px solid;font-size: 28px;
                        text-transform: uppercase;margin-bottom: 0px;color: #333;
                        font-family: BrandonGrotesqueBold;
						padding-left: 10px;
						margin-bottom: 20px;
					}
					a.linkMore{
                        font-family: BrandonGrotesqueBlack;
						float: right;font-size: 14px;
						position: relative;top: 10px;
						color: #ff0335;text-transform: uppercase;
						padding: 0 15px 0 0px;

                        &:hover{
                            outline: none;
                            text-decoration: underline;
                        }
						&:after{
							content: '';
                            background: url('../images/materials/chevron-right-red.png') no-repeat;
                            width: 5px;height: 9px;
                            position: absolute;right: 0;
                            top: 5px;
						}
					}

				}

				.prodlistInner{
					display: table;
					width: 100%;

					.prodItem{
						display: table-cell;
                        min-width: 234px;height: 330px;
						border: 1px solid #ddd;
						text-align: center;
						position: relative;
						border-left: 1px solid transparent;
                        position: relative;

						&:first-child{border-left: 1px solid #ddd;}


                        &:hover{
                            border: 1px solid #ff0335;
                            box-shadow: 0 1px 0 0 #ff0335; /* Border bottom */
                            box-shadow: 0 -1px 0 0 #ff0335; /* Border top */
                            box-shadow: -1px 0 0 0 #ff0335; /* Border left */
                            box-shadow: 1px 0 0 0 #ff0335; /* Border right */
                            box-shadow: 0 0 0 1px #ff0335; /* All the borders by using the spread properties */
                        }
						img{
							margin: 0 auto;
							max-width: 100%;height: auto;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -70%);
						}
						.prodCaption{
							position: absolute;
							bottom: 30px;
							width: 100%;
                            font-family: BrandonGrotesqueReguler;
                            font-size: 19px;
                            color: #333;

                            .oth_desc{font-size: 15px;color: #999}
						}
					}
				}


				&:nth-child(1){
					.headingTitle{
						h1{border-color:#ff0335 }
					}
				}
				&:nth-child(2){
					.headingTitle{
						h1{border-color:#0368ff }
					}
                    // .prodlistInner{
                    //     .prodItem{
                    //         &:hover{
                    //             border: 1px solid #0368ff;
                    //             box-shadow: 0 1px 0 0 #0368ff; /* Border bottom */
                    //             box-shadow: 0 -1px 0 0 #0368ff; /* Border top */
                    //             box-shadow: -1px 0 0 0 #0368ff; /* Border left */
                    //             box-shadow: 1px 0 0 0 #0368ff; /* Border right */
                    //             box-shadow: 0 0 0 1px #0368ff; /* All the borders by using the spread properties */
                    //         }
                    //     }
                    // }

				}
				&:nth-child(3){
					.headingTitle{
						h1{border-color:#13a9d8 }
					}
                    // .prodlistInner{
                    //     .prodItem{
                    //         &:hover{
                    //             border: 1px solid #13a9d8;
                    //             box-shadow: 0 1px 0 0 #13a9d8; /* Border bottom */
                    //             box-shadow: 0 -1px 0 0 #13a9d8; /* Border top */
                    //             box-shadow: -1px 0 0 0 #13a9d8; /* Border left */
                    //             box-shadow: 1px 0 0 0 #13a9d8; /* Border right */
                    //             box-shadow: 0 0 0 1px #13a9d8; /* All the borders by using the spread properties */
                    //         }
                    //     }
                    // }
				}
			}
		}  
        .detail{
            .subtitle.large{font-size: 28px !important;font-family: OpenSansSemiBold;}
            span.price{font-size: 18px;}
            .counter{padding: 15px 0 0 ;}
        }
        .add-to-cart-box{
            margin-bottom: 60px;
            position: relative;

            .button.btn-aneh{
                padding: 12px 10px;
                font-family: OpenSansBold;
                font-weight: normal;
                font-size: 14px;
            }
            span{
                &.price-large{
                    font-family: OpenSansSemiBold;
                    font-size: 26px;color: #333333;
                    padding-left: 0px;
                    margin-bottom: 0px;
                    display: block;
                }
            }
            .boxLoveShare{
                position: absolute;
                right: 0px;
                width: auto;

                .text-blue{
                    font-family: OpenSansSemiBold;font-size: 13px;font-weight: normal;
                }
                tbody{
                    tr{
                        td{
                        }
                    }
                }
            }
            .product-info{  
                border-top: 1px solid #c1c1c1;
                padding: 20px 0;
                p{
                    font-family: OpenSans;font-size: 12px;color: #011111;
                    letter-spacing: 2px;margin-bottom: 10px;
                    strong{color: #333333;font-family: OpenSansBold;}
                }
                ul{
                    list-style: none;padding: 0px;margin: 0px;
                    li{
                        font-size: 12px;
                        line-height: 25px;
                        color: #333333;font-family: OpenSansBold;

                        span{
                            font-size: 12px;
                        }
                        .val,
                        .lbl{
                            float: left;
                        }
                        .lbl{
                            width: 100px;
                        }

                        .val{
                            font-size: 12px;

                             &.width-2{
                                width: 85px;
                            }
                        }

                        ul{
                            clear: left;
                            padding-left: 16px;
                            li{
                                width: 85px;
                                float: left;
                                font-family: OpenSans;font-size: 11px;

                                strong{font-size: 12px;}
                            }
                        }
                    }
                }
            }
            .box_whole{
                border-top: 1px solid #c1c1c1;
                border-bottom: 1px solid #c1c1c1;
                margin-bottom: 20px;
                padding: 20px 0;
                a{
                    font-size: 14px;
                }                
            }
            .accordion{
                border-top: 1px solid #c1c1c1;
                padding-top: 20px;
                li{
                    .accordion-content{
                        font-family: OpenSans;color: #929497;
                        padding:10px 0px;
                        line-height: 1.6 !important;
                    }

                    .accordion-content,
                    a.accordion-title{
                        padding-left: 0px;
                        font-weight: normal;
                        font-family: OpenSans;
                        line-height: 30px;
                        
                        &:before{
                            right: 0px;
                        }
                    }
                    &.is-active{
                        a.accordion-title{
                            font-family: OpenSansBold;                            
                        }
                    }

                }
            }

        }  

	}
    
    .feature-box{
        height: auto;
        padding: 40px 0;
        padding-left: 0px;

        .box-content{
            width: 1170px;
            ul{
                display: table;
                width: 100%;
                li{
                    padding: 0px 0px;
                    display: table-cell;
                    position: relative;
                    a{
                        display: block;width: 100%;
                        max-width: 100%;
                        transition:.3s;
                        -webkit-transition:.3s;

                        .label-feature{
                            color: #0368ff;font-size: 14px;
                            font-family: BrandonGrotesqueBold;
                            line-height: 1.2;text-transform: uppercase;   
                            text-align: center;
                            width: 129px;  
                            margin-top: 10px;   
                        }  
                        img{
                            &:hover{
                                transform:none;
                            }
                        }
                        &:hover{
                            transform:scale(1.2);
                            transition:.5s;
                            -webkit-transition:.5s;
                        }
                    }

                    &:nth-child(1){
                        a{
                            width: 132px;
                            text-align: left;
                            img{max-width: 132px;}
                        }
                    }
                    &:nth-child(2){
                        a{
                            width: 115px;
                            text-align: left;
                            .label-feature{
                                width: 115px;
                            }
                            img{max-width: 115px;}
                        }
                    }
                    &:nth-child(3){
                        a{
                            width: 119px;
                            .label-feature{
                                width: 119px;
                                margin: 10px auto;
                            }
                            img{max-width: 119px;}
                        }
                    }
                    &:nth-child(4){
                        a{
                            width: 148px;
                            text-align: center;
                            .label-feature{
                                width: 148px;
                                margin: 10px auto;
                            }
                            img{max-width: 148px;}
                        }
                    }
                    &:nth-child(5){
                        width: 106px;
                        a{
                            width: 106px;
                            text-align: right;
                            .label-feature{
                                width: 106px;
                            }
                            img{max-width: 106px;}
                        }
                    }
                }
            }
        }
    }    
}
.copyright .box-content {
    max-width: 1142px;
}
footer{
    .box-content{
        padding: 50px 0px 50px 30px;
        .row{
            ul{
                li{
                    a{
                        font-family: BrandonGrotesqueMedium;
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }

            div{

                &:nth-child(4){
                    margin-bottom: 150px;
                    .form-box{
                        margin-right: 8px;

                    }

                }
            }
        }
        .box_down_app{
            position: absolute;
            bottom: 20px;
            left: 30px;
            a{margin-right: 15px;}
        }
        .box_call_bubble{
            position: absolute;
            right: 0px;
            bottom: 30px;
            background: url('../../assets/images/materials/bubble_call.png') no-repeat;
            width: 232px;height: 157px;

            ul{
                margin-top: 18px;
                margin-left: 75px;
                padding: 0px;
                li{
                    float: none;
                    a{
                        display: block;line-height: 30px;
                        font-family: BrandonGrotesqueReguler;
                        color: #fff;font-size: 14px;
                        position: relative;
                    }

                    &:nth-child(1){
                        a{
                            &:before{
                                content:'';
                                position: absolute;
                                left: -35px;top: 3px;
                                background: url('../../assets/images/materials/ico_wa.png') no-repeat;
                                width: 22px;height: 22px;
                            }
                        }
                    }
                    &:nth-child(2){
                        a{
                            &:before{
                                content:'';
                                position: absolute;
                                left: -35px;top: 3px;
                                background: url('../../assets/images/materials/ico_call.png') no-repeat;
                                width: 23px;height: 23px;
                            }
                        }
                    }

                }
            }
        }
    }
}

.sub-nav ul.left-side li{
    &.active{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            background-color: #ff0335;
            width: 38px;height: 3px;
            top: -11px;left: 40%;
            transform:translate(-50%, -50%);
        }
    }   
    &:nth-child(2){
        padding-left: 0px;
    }
}

section{
    .columns{
        button.btn{margin-bottom: 15px;}
    }
    .small-12.columns{
        h5.title.title-margin{
            margin-bottom: 20px;
        }
        .desc{
            width: 625px;margin: 0 auto 60px auto;
            font-family: OpenSansSemiBold;
            color: #808184;font-size: 12px;
            text-align: center !important;
            position: relative;
            padding:0px 30px 40px 30px;

            &.with-border:after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background-image: url(../images/dashed.png);
                background-position: center;
            }
        }

    }
}

.ico_required{
    color: red;
    font-size: 12px;position: relative;
    top: -3px;
}

select.white{
    font-size: 13px;
    background-color: #fff;color: #0368ff;
    background-image: url(../images/materials/ico_drop_grey.png);
}
select.active{
    font-family: OpenSans;
    font-style: italic;color: #c5c5c5;
}

button.btn{
    padding:8px 10px;

    &.btn-grey{
        background-color: #cfcfcf;color: #fff;
    }
}
.box-upload-foto{
    padding-top: 20px;padding-bottom: 20px;
    .boxloop-photo{
        float: left;
        margin-right: 15px;
    }
    .preview.simple{
        border: 1px solid #eee;
        background-image: url(../../assets/images/materials/img_change.png);
    }
    .info-upload-image{
        float: left;
        margin-left: 15px;
        width: 200px;
        height: 80px;
        position: relative;

        .info{
            margin-top: 20px;
            font-family: OpenSansLight;font-size: 13px;
            font-style: italic;color: #808184;

            .size-image{
                font-size: 10px;
            }
        }
    }
    .add-image-toupload{
        border: 1px solid #ddd;
        width: 80px;height: 80px;
        float: left;
        position: relative;
        cursor: pointer;

        &:after{
            content: '+';
            color: #d1d1d1;text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            position: absolute;font-family: OpenSansLight;font-size: 50px;
        }
    }
    .file-upload-wrapper.custom{
        height: 20px;
        display: block;clear: left;
    }
}

section.boxCreateRecipe{
    width: 680px;
    padding: 0px;
    padding-bottom: 40px;
    margin:40px auto 80px;
    border: 1px solid #ddd;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(221,221,221,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(221,221,221,1);
    box-shadow: 10px 10px 0px 0px rgba(221,221,221,1);


    .boxForm{
        margin: 0 40px;

        .button{
            &.btn-rounded{
                border-radius: 5040px  !important;
                -moz-border-radius: 40px !important;
                -webkit-border-radius: 40px !important;
            }
            &.btn-recipe{
                font-size: 16px;font-family: BrandonGrotesqueBold;
            }
        }

        label{
            font-size: 13px;color: #5f5f5f;
            font-family: BrandonGrotesqueMedium;
            margin-bottom: 5px;
        }

        &.vertical{
            .column, .columns{float: none;display: block;width: 100%;}
        }

        &.rounded-input{
            input[type='file'],
            input[type='text'], input[type='password'], select{
                border-radius: 6px;
                border: 1px solid #ddd;
                box-shadow: none;line-height: 44px;height: 44px;
                padding-left: 20px;
                font-size: 16px;
                font-family: BrandonGrotesqueLight;color: #5f5f5f;
                
            }
            select{
                background-image: none;
                background-color: #fff !important;                
                &:focus,
                &:active{
                    outline: none;
                }
            }
            input::placeholder {
              color: #b0b0b0 !important;
              font-style: italic!important;
            }
            input[type='file']{
                width: 100%;
                position: relative;
                color: transparent;
                outline: none;
                z-index: 2;
                opacity: 0;
            }
            .label_file{
                text-align: left;
                border: 1px solid #ddd;
                position: absolute;
                top: 0px;background-color: #fff;
                height: 44px;line-height: 44px;
                padding-left: 20px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                 font-size: 16px;
                 font-family: BrandonGrotesqueLight;
                color: #b0b0b0 !important;
               font-style: italic!important;
               width: 100% !important;
               display: inherit;
            }
            .multiple{
                position: relative;
                .btn_add_plus{
                    border-right: 0px;
                    position: absolute;top: 0px;
                    width: 40px;right: 10px;
                    height: 44px;
                    cursor: pointer;
                    z-index: 3;
                    span{
                        background: url(../images/materials/ico_plus.png) no-repeat;
                        width: 22px;height: 22px;
                        position: absolute;
                        margin-top: 10px;
                        left: 10px;
                    }

                    &.minus{
                        span{
                            background: url(../images/materials/ico_min.png) no-repeat;
                        }
                    }
                }
            }

            .input-with-sel{
                position: relative;
                
                &.select-only {
                    .boxSelect{
                        position: relative;
                        width: 100%;
                        select{
                            border-left: 1px solid #ddd;
                            border-top-left-radius: 6px; 
                            border-bottom-left-radius: 6px; 
                        }
                    }
                }
                
                &.multiple{
                    .btn_add_plus{
                        border-right: 1px solid #ddd;
                        right: 105px;

                        span{
                            left: 0px;
                        }
                    }
                }
                .boxSelect{
                    position: absolute;
                    right: 0px;top: 0px;
                    width: 105px;

                    .ico{
                        position: absolute; top: 0px;
                        width: 1px;
                        right: 25px;top: 0px;bottom: 0px;
                        border-left: 1px solid #ddd;
                        height: 44px;   
                        z-index: 1;                 
                       
                       &:after{
                        content: '';
                         background: url(../images/materials/ico_acc_sel.png) no-repeat;
                         width: 8px;height: 5px;position: absolute;
                         top: 50%;right: -16px;
                       }
                    }

                    select{
                        border-left: 0px;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        max-width: 100%;
                    }

                }
                select{
                    background-image: none;
                    // 
                    background-color: #fff;

                    
                    &:focus,
                    &:active{
                        outline: none;
                    }
                }
            }

            .alert{
                font-family: BrandonGrotesqueLight;font-style: italic;
                font-size: 13px;position: relative;
                top: -10px;

                &.alert-red{
                    color: #ff0000;
                }
            }


        }

    }
    .boxImageChange{
        background-color: #c3c4c5;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        margin: 0 0 30px;height: 140px;

        .boxloop-photo{
            position: relative;
            .preview.simple{
                    width: 100%;height: 140px;
                    background-image: none;
                    z-index: 2;
                    position: relative;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;

                    &:after{
                        content: '';
                        position: absolute;
                        background-image: url(../../assets/images/materials/img_preview_white.png);
                        width: 41px;height: 36px;
                        z-index: 1;
                        left: 50%;top: 35%;
                        transform:translate(-50%,-50%);
                    }
            }
            .file-upload-wrapper{

                input[type=file]{
                    top: -140px;
                    left: 0;right: 0;
                    width: 678px;height: 140px;
                }
            }
            .label-image-change{
                position: absolute;
                top: 45%;left: 50%;
                transform:translate(-50%,-50%);
                font-family: BrandonGrotesqueMedium;
                color: #fff;
                width: 100%;
                text-align: center;
                font-size: 20px;

                .small{
                    font-family: BrandonGrotesqueLight;
                    font-style: italic;font-size: 13px;
                }
            }
        }
    }
}

.box-content.recipe{
     &:after{ content: ''; display: block; clear: both;}
    .box-desc{
         float: left; width: 31.25%; position: relative; z-index: 3;
        .desc{ 
            padding: 90px 0 80px 80px; background: #f7f7f7;
            h1{ font-size: 80px;  color: #0368ff; line-height: 80px; font-family: BrandonGrotesqueBold;}
            p{ font-size: 18px; color: #333; font-family: BrandonGrotesque;}
        }
        .make-recipe{
            background: #ff0335;  padding:65px 65px 60px 80px; position: relative;
            &:after{content: ''; position: absolute; background: url('../images/arr-std.png'); width: 39px; height: 13px; right: 15%; bottom: 25%;}
            a{
                color: #fff;
                h2{  font-family: BrandonGrotesqueBold; }
                span{ 
                    font-size: 18px; position: relative;
                }
            }
        }
        .orbit{
            &.orbit-customnew{
                float: left; width: 66.25%; z-index: 2;
            }
        }
    }
}



