@font-face {
    font-family: 'BrandonGrotesque';
    src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Regular.eot");
    src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Regulard41d.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Regular.woff") format("woff"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Regular.html") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'BrandonGrotesqueBlack';
    src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Black.eot");
    src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Blackd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Black.woff") format("woff"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans/OpenSans-Regulard41d.eot?") format("eot"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular.html#OpenSans") format("svg");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'OpenSansBold';
    src: url("../fonts/OpenSans/OpenSans-Bold.eot");
    src: url("../fonts/OpenSans/OpenSans-Boldd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url("../fonts/OpenSans/OpenSans-Semibold.eot");
    src: url("../fonts/OpenSans/OpenSans-Semiboldd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url("../fonts/OpenSans/OpenSans-Extrabold.eot");
    src: url("../fonts/OpenSans/OpenSans-Extraboldd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Extrabold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal
}
body {
    font-family: OpenSans;
    color: #808184;
    font-size: 14px
}
header {
    position: relative;
    width: 100%;
    background-color: #0368ff;
    font-size: 13px;
    font-family: OpenSans
}
header ul {
    display: inline;
	margin-bottom: 0;
	padding-left: 0;
}
header ul li {
    display: inline-block;
    position: relative;
    padding: 10px 15px 10px 15px;
	font-weight:bold;
}
header ul li:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    right: -2px;
    top: 10px;
    background-color: white
}
header ul li:last-child:after {
    display: none
}
header a,
header b {
    color: white;
    font-family: 'OpenSans'
}
header a:hover,
header b:hover {
    color: white;
    font-weight: bold
}
h3 {
    font-size: 30px;
}
.no-padding-h {
    padding-left: 0 !important;
    padding-right: 0 !important
}
.padding-v {
    padding-top: 20px !important;
	padding-bottom: 10px !important;
}
.no-padding-v {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}
a:hover{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
a {
    color: #0368ff;
}
p {
	font-size:14px;
}

.top-bar{
	background-color: transparent;
	border-bottom: 1px solid #0368ff;
	padding: 10px 0;
}
.top-bar .logo {
    padding-left: 5px;
}
.top-bar a {
    font-weight: 300;
	color: #0368ff !important;
}
.logo img{
	height:65px;
}
.logo a{
	padding: 0.7rem 0.5rem;
	display: block;
	line-height: 1;
}
.top-bar .search{
	height: 44px;
	border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    max-width: none;
    margin-right: 0;
    border: 2px solid #0368ff;
    outline: none;
    border-radius: 100px;
    padding-right: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	
}
.top-bar .search [type="search"]{
	width:100%;
}
.top-bar .search-btn {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 1px solid #0368ff;
    padding: 10.5px;
    background-color: #0368ff;
    outline: none;
	margin-left:-1px;
}
.top-bar .search-btn:hover {
    background-color: #0055D4;
    border-color: #0055D4
}
.top-bar .search-btn img {
    width: 30px
}
.top-bar-right{
	padding-right: 15px;
	width:100%;
}
.top-bar-right .sub-bar{
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
    float:right;
}
.top-bar-right .sub-bar .col-md-2{
	position: absolute; top: 0; right: 30px; z-index: 2; width: auto;
}
.top-bar-right .sign{
	margin-top:10px;
}
.top-bar-right .search-mobile{
		display:none;
	}
.top-bar-right .cart-toggle{
	margin-top:5px;
}

.top-bar-right a{
	font-weight: bold;
}
.top-bar-right .sub-bar a{
	line-height: 1;
}
.cart-notif{
	width:21px;
	height:20px;
	padding:5px;
	font-size:10px;
	background:red;
	color:white;
	font-weight:bold;
	line-height:10px;
	text-align:center;
	margin:0 auto;
	position:absolute;
	top: 0px;
	right: 15px;
	border-radius:20px
}
.dropdown-menu{
	border-radius:0;
}
#popupChart.popup-box span{
	margin-bottom:0px;
}
#popupHeart .if-empty {
    width: 250px;
    text-align: center;
}
#popupHeart .love-font {
    position: absolute;
    top: 0px;
    cursor: pointer;
    color: #0368ff;
    padding-top: 6px;
    font-size: 15px;
}
#popupHeart .if-empty span {
    display: block;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 15px;
    color: #0368ff;
    font-weight: bold;
}
#popupChart .img-item {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #808184
}
#popupChart .if-empty {
    width: 250px;
    text-align: center
}
#popupChart .if-empty img {
    display: block;
    margin: auto
}
#popupChart .if-empty span {
    display: block;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 15px;
    color: #0368ff;
    font-weight: bold
}
#popupChart .margin-top {
    display: block;
    margin-top: 10px
}
#popupChart .margin-top span.sub-total {
    color: #808184
}
#popupChart .margin-top span.idr {
    color: #0368ff
}
#popupChart .view-more {
    color: #808184 !important;
    display: block;
    font-size: 20px;
    font-weight: 500
}
#popupChart button.checkout {
    font-size: 13px;
    padding: .8em 1em;
    background-color: #1A61D7
}
#popupChart button.checkout:hover {
    background-color: #1654BB
}
#popupChart.popup-box, #popupChart.popup-box {
    width: auto;
    font-size: 10px;
    color: grey;
    font-weight: bold;
}
#popupChart.popup-box .form-box {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden
}
#popupChart.popup-box .form-box::-webkit-scrollbar {
    width: 5px
}
#popupChart.popup-box .form-box::-moz-scrollbar {
    width: 5px
}
#popupChart.popup-box .form-box table {
    width: 350px
}
#popupChart.popup-box tr {
    border-bottom: 1px solid #808184;
    background-color: transparent
}
#popupChart.popup-box tr td {
    padding: .8rem .1rem;
    vertical-align: middle;
	    min-width: 100px;
	text-align:center;
}
#popupChart.popup-box tr td:last-child button {
    color: #ff0000 !important;
    font-size: 24px !important
}
#popupChart.popup-box tr td button {
    color: grey !important;
}
#popupChart.popup-box tr td ul {
    list-style: none;
	padding:0;
}
#popupChart.popup-box tr td ul li {
    display: inline-block;
    padding: 0
}
#popupChart.popup-box tr td button {
    padding: .1rem;
    outline: none;
    font-size: 16px;
	background: transparent;
}
#popupChart.popup-box tr td button:hover {
    text-decoration: underline
}
#popupChart.popup-box input[type='text'] {
    width: 45px;
    text-align: center;
    color: #808184;
    font-size: 14px
}
[type="color"], [type="date"], [type="datetime-local"], [type="datetime"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], textarea, select {
	margin: 0 0 1rem;
	width:100%;
	border-radius:0;
}
input[type='text'],input[type='email'],
input[type='password'],
select {
    height: 37px;
    padding: 0 .5rem;
    border: 1.5px solid #808184
}
.input-group-label {
    border-left: 1.5px solid #808184;
    border-bottom: 1.5px solid #808184;
    border-top: 1.5px solid #808184;
    background: transparent;
    padding: 0 .5rem
}
textarea {
    border: 1.5px solid #808184
}
select {
    background-color: #777777;
    color: white;
    background-image: url(../images/ico-arrow-dropdown.png);
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
	-webkit-appearance: none;
    -moz-appearance: none;
	background-size: 9px 6px;
	background-origin: content-box;
}

.maxwidth {
    width: 100%;
}
.popup-box {
    position: absolute;
    z-index: 9;
    width: 300px;
    background-color: white;
    border: 2px solid #0368ff;
    padding: 20px;
    left: -45px;
    transform: translateX(-50%)
}
.popup-box span:first-child {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 25px;
    display: block
}
.popup-box input,
.popup-box button {
    margin: 5px 0
}
.popup-box input[type="text"],
.popup-box input[type="password"] {
    max-width: 230px
}
.popup-box input[type="checkbox"]+label span {
    background-color: white;
    border: 1px solid #808184;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    font-weight: lighter
}
.popup-box button {
    padding: .3em 2em
}
.popup-box button.sign-in {
    text-align: left;
    padding: .5em .8em;
    width: 100%;
    max-width: 230px;
    height: 40px;
    margin-left: 1px;
}
.popup-box button.sign-in img {
    padding: 0 10px 0 0px
}
.popup-box span.close {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer
}
.popup-box.right1:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 66%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0368ff
}
.popup-box.right2:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 70%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0368ff
}
.text-blue {
    color: #0368ff !important;
}
.text-red {
    color: #ff0335 !important;
}
.text-center {
    text-align: center
}
.text-left {
    text-align: left
}
.text-blue {
    color: #0368ff
}
.text-tomato {
    color: tomato
}
.text-grey {
    color: #808184
}
.text-orange {
    color: #ff7610
}
.text-green {
    color: #27b173
}
.text-white {
    color: white
}
.text-purple {
    color: #C20ECC
}
span.equal {
    padding: 0 20px;
    font-size: 11px;
}
.margin-bottom-35 {
    margin-bottom: 35px;
    display: block;
}
.open a{
	text-decoration:none;
	color:#ff0335;
}
/* new pop up for signin */
.popup-box-signin {
    position: absolute;
    z-index: 9;
    width: 300px;
    background-color: white;
    border: 2px solid #0368ff;
    padding: 20px;
    left: -182%;
	margin-top: 10px;
}
.popup-box-signin a{
    padding: 0px !important;
}
.popup-box-signin span:first-child {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 25px;
    display: block
}
.popup-box-signin input,
.popup-box-signin button {
    margin: 5px 0
}
.popup-box-signin input[type="text"],
.popup-box-signin input[type="password"] {
    max-width: 230px;
	width:100%;
}
.popup-box-signin input[type="checkbox"]+label span {
    background-color: white;
    border: 1px solid #808184;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    font-weight: lighter
}
.popup-box-signin button {
    padding: .3em 2em
}
.popup-box-signin button.sign-in {
    text-align: left;
    padding: .5em .8em;
    width: 100%;
    max-width: 230px;
    height: 40px;
    margin-left: 1px;
}
.popup-box-signin button.sign-in img {
    padding: 0 10px 0 0px
}
.popup-box-signin span.close {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer
}
.popup-box-signin.right1:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 66%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0368ff
}
.popup-box-signin.right2:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0368ff
}

.popup-box-signin ul li{
    padding:1px;
}
.btn{
	background-color: #0368FF;
	position: relative;
	margin-left: 1px;
	color: #fefefe;
	border-radius: 0;
	font-weight: bold;
}
#forgotPassword{
	color: #808080;font-size:14px;margin-left:1px;margin-top: 12px;padding-left: 20px !important;
}
button:hover{
	color:#fefefe!important;
}
button.btn-save {
    padding: .5rem;
    letter-spacing: 5px;
    background: #0368ff
}
button.primary {
    background-color: #0368ff !important;
    padding: .8rem 2.5rem;
    font-size: 20px;
    font-weight: bold
}
button.gplus {
    background-color: #ff0335;
    min-width: 200px;
    padding: .3em .8em
}
button.gplus:hover {
    background-color: #CF1919
}
button.gplus img {
    padding-right: 15px
}
button.fb {
    background-color: #0368FF;
    min-width: 200px;
    padding: .5em .8em
}
button.fb:hover {
    background-color: #1654BB
}
button.fb img {
    padding-right: 15px
}
.sub-nav {
    position: relative;
}
.sub-nav:after {
    content: '';
    position: absolute;
    /*bottom: 0;*/
    left: 0;
    width: 100%;
    height: 3px;
    background-image: url(../images/dashed.png) ;
     background-repeat: repeat-x;
    background-position: center;
}

.menu-mobile{
	display:none;
}
	/*menu side*/
	#side-nav {
		bottom: 0;
		background: #fff;
		color: #212121;
		display: none;
		left: 0;
		position: fixed;
		top: 0;
		width: 256px;
		left: -256px;
		z-index: 9930;
		overflow-x: auto;
	}
	.logout{
		position: fixed;
		bottom:0;
		width: 256px;
	}
	#side-nav::-webkit-scrollbar {
		display: none;
	}
	#side-nav::-moz-scrollbar {
		display: none;
	}
	#side-nav a{
		color: #808184;
	}
	#side-nav a:hover{
		background-color: #EEEDED;
	}
	.menu-signin{
		padding: 15px;
		display: block;
		text-align: center;
		background: #0368FF;
		color: #fff !important;
		font-weight: bold;
	}
	
	.menu-signup{
		padding: 15px;
		display: block;
		text-align: center;
		background: #ff0335;
		color: #fff !important;
		font-weight: bold;
	}
	#side-nav .menu-account{
		padding: 20px;
		background-repeat: no-repeat;
		background-position: left 20px center;
		background-size: 25px;
		display: block;
		font-size: 12px;
		font-weight: bold;
		padding-left: 60px;
	}
	#side-nav .ac-profile{
		background-image: url(../images/ico-header-acc.png) ;
		background-size: 50px;
		padding-left: 80px;
		font-size: 16px;
		background-color: #EEEDED;
	}
	#side-nav .myorders{
		background-image: url(../images/ico-header-cart.png) ;
	}
	#side-nav .mylove{
		background-image: url(../images/ico-love.png) ;
		
	}
	#side-nav .myrecipe{
		background-image: url(../images/ico-lupus.png) ;
		
	}
	#side-nav .myshop{
		background-image: url(../images/ico-shop.png) ;
		
	}
	#side-nav .menu-myaccount{
		font-weight: bold;
		padding: 20px;
		font-size: 12px;
		display: block;
		color: #0368ff;
	}
	/*menu end*/
	
.sub-nav ul.left-side {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 20px auto;
    width: 50%;
	padding-left:25px
}
.sub-nav ul.left-side li {
    position: relative;
    display: inline;
    padding: 0 40px
}
.sub-nav ul.left-side li a {
    font-family: 'OpenSans';
    font-weight: bold;
    font-size: 16px;
    color: #0368ff;
}
.sub-nav ul.left-side li:nth-child(1) {
    padding-left: 10px
}
.sub-nav ul.left-side li:nth-child(1) span {
    color: #ff0335
}
.sub-nav ul.left-side li:nth-child(2) a {
    color: #ff7610
}
.sub-nav ul.left-side li:nth-child(2) span {
    color: #0368ff
}
.sub-nav ul.left-side li:nth-child(3) a {
    color: #27b173
}
.sub-nav ul.left-side li:nth-child(3) span {
    color: tomato
}
.sub-nav ul.left-side li:nth-child(4) span {
    color: #0368ff
}
.sub-nav ul.right-side {
    display: inline-block;
    list-style: none;
    margin: 20px auto;
    float: right
}
.sub-nav ul.right-side li {
    display: inline;
    padding-right: 10px
}
.sub-nav ul.right-side li a {
    font-family: 'OpenSans';
    font-weight: bold;
    font-size: 16px
}
#secondGrocer {
    left: -35px
}
.second-lv {
    position: absolute;
    width: 250px;
    margin-top: 10px;
    left: 20px;
    padding: 20px 0;
    z-index: 99;
    background-color: white;
    display: none
}
.second-lv.grocer:before,
.second-lv.cook:before,
.second-lv.eats:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ff0335
}
.second-lv.cook:before {
    border-bottom: 10px solid #0368ff
}
.second-lv.eats:before {
    border-bottom: 10px solid tomato
}
.second-lv ul {
    display: block
}
.second-lv ul li {
    padding: 0 20px !important;
    text-align: left;
    display: block !important
}
.second-lv ul li a {
    color: #0368ff !important;
    font-weight: 500;
    font-family: 'OpenSans' !important;
    color: grey !important;
    font-size: 12px !important
}
.second-lv ul li a:hover {
    color: #ff0335 !important
}
.second-lv ul li.third-submenu-right span {
    position: absolute;
    right: 6px;
}
.second-lv ul li.third-submenu-right span img {
    transform: rotate(-90deg)
}
.second-lv ul li.third-submenu-right .third-lv {
    position: absolute;
    top: 0;
    left: 200px;
    height: 350px;
    background-color: white;
    width: 200px;
    display: none
}
.menu-dropdown li {
    position: relative
}

footer {
    position: relative;
    display: block
}
footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-image: url(../images/dashed.png);
    background-position: center
}
footer .box-content {
    padding: 50px 50px
}
footer .box-content ul {
    list-style: none;
    margin-left: 0
}
footer .box-content ul li {
    padding: 1px 0;
	display:block;
}
footer .box-content ul li a {
    color: #8E8D8D;
    font-weight: bold
}
footer .box-content ul li a:hover {
    color: #0368ff
}
footer .box-content h6 {
    color: #808184;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
footer .box-content h6 a {
	margin-left: 245px;
}
footer .form-box {
    position: relative;
    width: 100%;
	text-align:right;
}
footer .form-box ul.menu {
    list-style: none;display: inline-block; border-radius: 50px; border: 2px solid #808184; overflow: hidden;
    margin: 0; padding: 0;
}
footer .form-box ul.menu li {
    position: relative;float: left;
}
footer .form-box ul.menu li:first-child{
	width: auto;
}
footer .form-box ul.menu li input[type='email'] {
    width: 240px;
    height: 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-image: url(../images/ico-message.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 55px; padding-right: 20px;
    border: none;
    margin: 0;
    outline: none;
}
footer .form-box ul.menu li button {
    position: relative;
    height: 40px;
    background-color: transparent;
    color: #ff0335;
    font-weight: bolder;
    /*border-right: 2px solid #808184;
    border-top: 2px solid #808184;
    border-bottom: 2px solid #808184;
    border-left: none;*/
    outline: none;
    padding: 0em 1em;
    border: none;
    border-radius: 0 50px 50px 0;
}
footer .form-box ul.menu li button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 2px;
    height: 30px;
    background-color: #808184;
    z-index: 999
}
footer .form-box ul.menu li button:hover {
    background-color: #0368ff;
    color: white
}
footer .form-box ul.socmed-list {
    position: relative;
    display: block;
    margin: 10px auto;
    text-align: right
}
footer .form-box ul.socmed-list li {
    display: inline;
    padding-left: 10px
}
footer .chat-box {
    position: absolute;
    height: 35px;
    width: 250px;
    right: 0;
    bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 3px solid #808184;
    background-color: #0368ff;
    overflow: hidden;
    cursor: pointer
}
footer .chat-box .columns {
    padding: 5px 0
}
footer .chat-box .right {
    background-color: #0368ff;
    text-align: center
}
footer .chat-box .right span {
    color: white;
    font-weight: bold
}
footer .chat-box .left {
    background-color: #D1D1D1;
    text-align: center
}
.copyright {
    width: 100%;
    background-color: #EEEDED;
    color: #808184;
    padding-top: 5px;
    padding-bottom: 5px
}
.copyright .box-content {
    max-width: 1100px
}
.copyright .box-content span {
    font-weight: bold;
    font-size: 12px
}
.container{
	padding-right: 0px;
	padding-left: 0px;
}
.hamburger-button {
  margin-top: 15px !important;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background: #fff;
}

.hamburger-button:focus {
  outline: none;
}
.hamburger-button i {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: #0368ff;
}

.hamburger-button i::before,
.hamburger-button i::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #0368ff;
  content: "";
}

.hamburger-button i::before {
  top: -15px;
}

.hamburger-button i::after {
  bottom: -15px;
}
.logo span{
	display:none;
	font-weight: bold;
	font-size:20px;
	font-family: opensansbold;
}
.cart-320{
		display:none;
	}
.main-content{
	padding: 20px 0;
}
.card {
    text-align: center
}
.card .card-content {
    border-radius: 5px
}
.card .card-content img {
    padding: 20px 0
}
.card .card-content p {
    text-align: left;
    color: white;
    padding: 10px 25px;
    margin-bottom: 0;
    font-size: 15px
}
.card button {
    margin-top: 10px;
    border-radius: 3px;
    font-weight: bold
}
.card.grocer .card-content {
    border: 5px solid #0368ff
}
.card.grocer .card-content p {
    background-color: #0368ff
}
.card.grocer button {
    background-color: #0368ff
}
.card.cook .card-content {
    border: 5px solid #ff7610
}
.card.cook .card-content p {
    background-color: #ff7610
}
.card.cook button {
    background-color: #ff7610
}
.card.eats .card-content {
    border: 5px solid #27b173
}
.card.eats .card-content p {
    background-color: #27b173
}
.card.eats button {
    background-color: #27b173
}
.side-card {
    margin-bottom: 15px;
    display: block
}
.side-card img {
    width: 200px
}
.side-card .text-box {
    font-family: 'OpenSans'
}
.side-card button {
    width: 200px;
    padding: 15px
}
.bg-red {
    position: relative
}
.bg-red .detail-box {
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.bg-red .detail-box p {
    width: 100px
}

.producthome{}
.producthome .row{margin-left: -5px; margin-right: -5px;}
.producthome .row .col-md-9 .col-md-3{padding: 0 5px; margin-bottom: 5px;}
.producthome .row .col-md-9 .col-md-3:nth-child(4n+1){clear: both;}

.img-detail{text-align: center; height: 186px;}
.img-detail img{max-height: 200px;}
.cube {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: .5s;
    background-size: 100%;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 10px;
}
.cube:after{content: ""; clear: both; display: block;}
.cube:hover {
    background-size: 120%;
    transition-duration: .5s
}
/*.cube:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    text-align: center !important
}*/
.cube .detail-box {
    padding: 20px 10px 0px 10px;
	text-shadow: 0;
	font-size: 14px;
	color:#353638;
}
.cube .detail-box h6 {
    font-weight: bold; height: 40px; overflow: hidden;
	font-size: 14px; color: #aeaeae; line-height: 20px;
}
.cube .detail-box p {
    line-height: 18px
}
.cube .detail-box span {
    font-weight: bold;
	font-size: 14px;
}
.bottom {
    bottom: 10px;
}
#myCarousel{
	margin-bottom:20px;
}
.feature-box {
    position: relative;
    width: 100%;
    background-color: #EEEDED
}
.feature-box ul {
    list-style: none;
    padding: 12px;
	text-align: center;
}
.feature-box ul li {
    display: inline-block;
    padding: 10px 33px;
    text-align: center;
	width:19%;
}
.feature-box ul li a {
    font-weight: bold;
    font-size: 11px;
    display: block
}
.feature-box ul li img {
    transition-duration: .5s;
    width: 75%;
}
.feature-box ul li img:hover {
    transform: scale(1.3);
    transition-duration: .5s
}
.carousel-control.left, .carousel-control.right {
	background-image:none;
}
.side-card span,.feature-box ul li span{
		display:none;
	}
.modal-box {
    text-align: center;
    display: block;
    margin: 5px;
    padding: 5px;
    position: relative;
    border: 3px solid #0368ff;
	z-index:-2;
}
.dashed-box {
    position: relative;
    text-align: center;
    margin: 5px;
    padding: 15px;
    border: 3px solid transparent;
    -webkit-border-image: url(../images/dashed.png) 2 round;
    -moz-border-image: url(../images/dashed.png) 2 round;
    -o-border-image: url(../images/dashed.png) 2 round
}
.dashed-box:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    left: 0;
    border: 3px solid transparent;
    -webkit-border-image: url(../images/dashed-vertical.png) 2 round;
    -moz-border-image: url(../images/dashed-vertical.png) 2 round;
    -o-border-image: url(../images/dashed-vertical.png) 2 round;
	z-index:-1;
}
.modal-content{
	border-radius:0;
	padding: 1rem;
	z-index:-3;
}
.modal-forgotpassword h4 {
    padding-top: 20px;
    color: #0368ff;
	font-size: 1.5625rem;
}
.modal-forgotpassword p {
    color: #B1B1B1;
    font-size: 16px;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
}

.modal-forgotpassword input[type="text"] {

    max-width: 300px;
    margin: 20px auto;
	width:100%;
	height: 24px;
	padding: 0 .5rem;
	border: 1.5px solid #808184;

}
.modal-forgotpassword button {
    margin-bottom: 20px;
}
.btn-aneh {
    background: #0368ff;
    padding: 7px 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.item-box {
    text-align: center;
}
.item-box .item.xlarge {
    width: 400px;
    height: 400px;
}
.item.xlarge {
    overflow: hidden;
}
.item-box .item {
    display: block;
    margin: auto;
    position: relative;
    border: 1px solid #808184;
}
.item.xlarge img {
    height: 100%;
    width: auto;
}
.item-box .thumbnail-box {
    position: relative;
    text-align: center;
    margin: 20px auto;
}
.item-box .thumbnail-box ul {
    margin-left: 0;
    padding-left: 0;
}
.item-box .thumbnail-box ul li {
    display: inline-block;
    padding: 3px;
}
.item-box .item {
    display: block;
    margin: auto;
    position: relative;
    border: 1px solid #808184;
}
.item-box .thumbnail-box ul li .item {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    margin-left: 5px;
}
.item-box .thumbnail-box ul li .item img {
    height: 100% !important;
    width: auto !important;
}
.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.panel-default>.panel-heading {
  padding: 0;
  background:none;
  
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
  color: #2199e8;
	font-size: 16px;
	font-weight: bold;
}

.panel-default>.panel-heading a:after {
  position: relative;
  top: 1px;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e113";
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e114";
}
.panel-body{
	font-size:16px;
}
.subtitle {
    color: #0368ff;
    font-size: 18px !important;
    letter-spacing: 4px;
	font-weight:bold;
	font-family:opensansbold;
}
.detail h6 {
    margin-bottom: .1rem;
	margin-top: 0;
}
.subtitle.large {
    font-size: 25px !important;
}
span.price {
    font-size: 17px;
    color: #9FA0A1;
	font-weight:bold;
}
.detail .counter {
    padding: 10px 0 0 0;
}
.recomendation-box {
    padding: 10px 30px 40px 30px;
    margin-left: 70px;
    margin-right: 70px;
}
.top-line-blue {
    border-top: 2px solid #0368ff !important;
}
.bottom-line-blue {
    border-bottom: 2px solid #0368ff !important;
}
.recomendation-box label {
    color: #0368ff;
    margin-bottom: 30px;
}
.recomendation-box .item {
    width: 140px;
    height: 140px;
    border: 1px solid #808184;
	background-size: cover;
	background-position: center;
}
.recomendation-box span {
    font-weight: bold;
    display: block;
    text-align: left;
    font-size: 13px;
}
.recomendation-box span {
    height: 65px;
    overflow: hidden;
}
.recomendation-box span {
    padding: 0px 5px;
    text-align: center;
}

.tabs-title > a {
    display: block;
    padding: 1.25rem 1.5rem;
    padding-left: 1.5rem;
    line-height: 1;
    font-size: .75rem;
}
.customer-and-reviews-box .nav-tabs a {
    font-size: 30px;
}
.customer-and-reviews-box .tab-content {
    padding: 0rem 1rem;
}
.customer-and-reviews-box .tab-content button {
    margin: 0 0 1rem;
}
.customer-and-reviews-box .nav-tabs > li.active > a, .customer-and-reviews-box .nav-tabs > li.active > a:focus, .customer-and-reviews-box .nav-tabs > li.active > a:hover {
	color: #0368ff;
    cursor: default;
    border: none;
	background-color: transparent;
	font-weight: bolder;
}
.customer-and-reviews-box .nav > li > a:focus, .customer-and-reviews-box .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
	border-color: transparent;
}
ul.rating {
    list-style: none;
    margin-left: -10px;
    margin-bottom: 8px;
}
ul.rating li {
    display: inline;
    padding: 0px 5px;
}
.chart-box table.chart {
    width: 100%;
    border-width: 0;
    margin-bottom: 40px;
    max-width: 400px;
}
.chart-box table, .chart-box thead, .chart-box tbody, .chart-box tr, .chart-box td {
    border: 0;
    padding: 0;
}
.chart-box p.percentage {
    font-size: 17px !important;
    color: #6f6f6f;
    font-weight: bold;
    margin-bottom: 3px;
}
.chart-box td.chart {
    font-size: 14px;
    margin-bottom: 50px;
    padding: 0 0 0px 0;
}
.chart-box .barchart {
    background-color: #FFFFFF;
    border: 1px solid #808184;
    height: 1.2em;
    padding: 0em;
    margin: 0 auto;
    width: 280px;
}
.chart-box .barchart .meter {
    background: #0368ff;
    height: 100%;
    display: block;
}
.loveee {
    float: right;
    margin-right: 20px
}
.add-to-cart-box img{
	width:25px;
}

#item_add_to_cart_wrap .qty-change {

    width: 145px;
    

}
.qty-change {
    margin-left: 11px;
    background-color: #0368ff;
    display: none;
    height: 45px;
    width: 90%;
}
.qty-change .counter .minus {
    position: relative;
    top: -10px;
    left: -10px;
    float: left;
    background-color: #045BDE;
    width: 45px;
    height: 45px;
}
.qty-change .counter .plus {
    position: relative;
    top: -10px;
    right: -10px;
    float: right;
    background-color: #045BDE;
    width: 45px;
    height: 45px;
}
.qty-change .counter button {
    color: white;
    font-weight: bolder;
    font-size: 18px;
}
.counter {
    position: relative;
    padding: 10px;
}
.counter input[type="text"] {
    width: 50px;
    border: 2px solid #808184;
    text-align: center;
    color: #808184;
    font-size: 14px;
	height:27px;
}
.qty-change .counter input[type="text"] {
    background-color: transparent;
    outline: none;
    border: none !important;
    outline: none;
    color: white;
}

#item_add_to_cart_wrap .makin-aneh .counter button {
    margin: 0;
}
.customer-qa-box {
    position: relative
}
.customer-qa-box .question-field {
    margin: 30px auto 30px auto;
    padding-left: 50px
}
.customer-qa-box .btn-aneh {
    margin-left: 30px;
    padding: 7px 20px;
    font-weight: bold;
    letter-spacing: 2px;
    background: #0368ff
}
.customer-qa-box .link-aneh {
    position: relative;
    display: inline-block;
    bottom: 5px
}

.customer-qa-box .qa-box table {
    margin-bottom: 0
}
.customer-qa-box .qa-box table tbody {
    border: none;
    background-color: transparent
}
.customer-qa-box .qa-box table tbody tr {
    display: block;
    background-color: transparent
}
.customer-qa-box .qa-box table tbody tr td {
    padding: 0px .625em
}
.customer-qa-box .qa-box table tbody tr:first-child {
    margin-top: 10px
}
.customer-qa-box .qa-box table tbody tr:last-child {
    margin-bottom: 10px
}
.customer-qa-box .qa-box table tbody td:first-child {
    padding-left: 20px;
    padding-right: 20px
}
.customer-qa-box .qa-box table tbody td:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px
}
.customer-qa-box .qa-box:nth-child(odd) {
    background-color: #DAF1FF;
    border-top: 2px solid #808184;
    border-bottom: 2px solid #808184
}
.customer-qa-box .qa-box:last-child {
    background-color: transparent;
    margin: 10px 0;
    border-bottom: 2px solid #808184
}
.customer-qa-box .margin-list {
    margin: 50px 0
}
.customer-qa-box .pagination-box {
    float: right
}
.customer-qa-box ul {
    list-style: none;
	padding-left:0;
}
.customer-qa-box .pagination-box li {
    padding: 5px
}
.customer-qa-box .pagination-box a {
    padding: 10px;
    border-radius: 100px;
    font-weight: bold;
    color: #808184
}
.customer-qa-box .pagination-box a:hover {
    padding: 5px 10px
}
.customer-qa-box .pagination-box .current {
    border-radius: 100px
}
.customer-qa-box .pagination-box .current a {
    color: white
}
.customer-qa-box .pagination-box .current:hover a {
    padding: 10px;
    background-color: transparent;
    color: white
}
.kirin-container input[type='text']{
	width:100%;
}
.nav-slide a{
	position:relative;
}
.tab-content > .tab-pane{
		opacity: 1 !important;
	}
.rating-box .rating{
	padding:0;
}
h5.title {
    color: #0368ff;
    font-weight: bold;
	font-family: 'openSansBold'
}
h5.title-margin {
    margin: 0 auto 50px auto;
    display: block;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0px;
}
section {
    padding: 40px 14%;
	text-align:center;
}
section img{
	width:100%;
}
h6.title {
    text-align: center;
    font-size: 30px;
    color: #0368ff;
    font-weight: bolder;
    margin: 70px auto;
    letter-spacing: 5px;
	font-family:opensansbold;
}
ul.side-nav {
    list-style: none;
    margin-left: 70px
}
ul.side-nav li {
    font-size: 18px;
    font-weight: bolder;
    line-height: 50px;
    color: #0368ff
}
ul.side-nav li a {
    font-weight: bold !important
}

.side-nav-become-box li {
    position: relative
}
.side-nav-become-box li a {
    position: relative
}
.side-nav-become-box li a.active:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background: #0368ff
}
.side-nav-become-box li:hover a {
    color: #ff0335
}
.become-box img{
		max-width:130px;
	}
.detail-title {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 20px;
	font-size:16px;
}
.detail-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -25px;
    width: 100%;
    height: 3px;
    background-image: url(../images/dashed.png);
    background-position: center
}
.sub-subtitle {
    color: #0368ff;
	font-size:16px;
	font-weight:bold;
	font-family:opensansbold;
}
.row .detail-box {
    max-width: 450px;
    font-size: 14px;
}
.col-centered{
	 margin: 0 auto;
	float: none;
}

.signup-member {
    display: block;
    width: 100%;
    margin: 20px 0;
}
.signup-member button {
    letter-spacing: 5px;
    padding: .5rem 1rem;
    margin: 30px 0;
}
.signup-member a {
    font-size: 20px;
    display: block;
    font-weight: bold;
}
.signup-member a,.signup-member a:focus,.signup-member a:hover {
    color:#fff;
}
.line-active {
    border-bottom: 2px solid #0368ff;
}
.top-bar.filter-box {
    padding-bottom: 10px;
}
.top-bar.filter-box {
    border: none;
	height: 30px;
}
.top-bar::after, .top-bar::before {
    content: ' ';
    display: table;
}
.top-bar-custome .result {
    font-weight: bold;
}
.top-bar.filter-box li span {
    display: block;
    padding: 5px 20px;
}
.top-bar.filter-box li span.result {
    padding-left: 5px;
    padding-right: 50px;
    position: relative;
}

.top-bar.filter-box li span.result::after {
    content: '';
    position: absolute;
    right: 25px;
    top: 4px;
    width: 2px;
    height: 20px;
    background-color: #9B9B9B;
    border-radius: 100px;
}
span.ico-down {
    position: relative;
}
.top-bar.filter-box li span {
    display: block;
    padding: 5px 20px;
}
.top-bar.filter-box span.filter-list {
    padding: 5px 0px 5px 10px;
    width: 200px;
}
.top-bar.filter-box span.filter-list {
    border: 1px solid #808184;
    color: #808184;
}
.top-bar.filter-box span.filter-list.ico-down::after {
    content: url(../images/ico-arrow-dropdown-blue.png);
    right: 10px;
    top: 6px;
	position:absolute;
}
.top-bar.filter-box ul.filter-list {
    background-color: white;
    border-bottom: 2px solid #808184;
    border-left: 2px solid #808184;
    border-right: 2px solid #808184;
	width:100%;
}
.top-bar.filter-box ul.filter-list li {
    padding: 5px 10px
}
.top-bar.filter-box ul.filter-list li:hover {
    background-color: #0368ff;
    color: white
}
.top-bar.filter-box ul.filter-list li:hover label {
    color: white
}
.box{
	position:relative;
}
.top-bar ul {
    background-color: transparent;
}
input[type='checkbox'],
input[type='radio'].square {
    position: relative;
    opacity: 0;
    float: left;
    margin: 0 5px;
	z-index:1;
}
input[type='checkbox']+label::before,
input[type='radio'].square+label::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #808184
}
input[type='checkbox']+label::after,
input[type='radio'].square+label::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 9px;
    height: 9px;
    background: #808184;
    opacity: 0
}
input[type='checkbox']:checked+label::after,
input[type='radio'].square:checked+label::after {
    opacity: 1
}

.top-bar {
    padding: 0;
}
.pagination {
    margin-left: 0;
    margin-bottom: 1rem;
	margin-top:0;
	margin-right:0;
	border:none;
}
.pagination::after, .pagination::before {
    content: ' ';
    display: table;
}
.pagination .disabled {
    display: none !important;
}
ul.pagination li.current {
    background: #0368ff;
    border-radius: 100px;
    padding: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-weight: bold;
	vertical-align: middle;
	text-align: center;
	padding-top:4px;
}
.pagination > li > a, .pagination > li > span {
	border:none;
	background:transparent;
	float:none;
}
.pagination > li > a:hover,.pagination > li > a:active,.pagination > li > a:visited{
	background:transparent;
}
#productDetail ul.pagination li.current a {
    color: #fff !important;
}
ul.pagination li.current a {
    line-height: 32px;
    text-align: center;
}
#productDetail .title {
    margin: 20px auto
}
#productDetail img.hero {
    width: 150px;
    margin-bottom: 50px
}
#productDetail .side-nav li {
    line-height: 30px;
    letter-spacing: 1px
}
#productDetail .side-nav li a {
    font-size: 14px;
    font-weight: 500
}
#productDetail .qty-change {
    margin: 10px 0;
}
#productDetail .side-nav li a:hover {
    color:#ff0335;
}
.item-box .item.large--2 {
    overflow: hidden;
}

.item-box .desc {
    height:60px;overflow:hidden;
}
.left-7 {
    left: -7px;
}
img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}
.item-box span b {
    color: #929497 !important;
}
.after-discount {
    color: #ff0335;
    padding: 0 3px;
    font-weight: bold;
}
.item-box.item-margin-bottom {
    margin-bottom: 70px;
}


.add-to-cart-btn {
    background: #0368ff;
    color: white;
    font-weight: bold;
	font-size: 14px;
    padding: 5px 12px;
    letter-spacing: 3px;
    margin: 10px auto;
    height: 42px;
    width:  80%;
}
.add-to-cart-btn[disabled]{
	color:white;background:#ff0000;
	opacity:.25;
}
.recently-viewed-box {
    text-align: center;
    max-width: 125px;
    border: 2px solid #0368ff
}
.recently-viewed-box span {
    display: block;
    font-size: 12px
}
.recently-viewed-box ul {
    display: block;
    list-style: none;
    margin-left: 0
}
.recently-viewed-box li {
    padding-bottom: 10px
}
.recently-viewed-box .header {
    font-size: 12px;
    font-weight: bolder;
    padding: 10px 0;
    color: #0368ff;
    border-bottom: 2px solid #0368ff;
    font-weight: bold
}
.recently-viewed-box .header:hover ~ .body {
    display: inherit
}
.recently-viewed-box .body .recomendation-box {
    padding: 0;
    display: block;
    margin: auto
}
.recently-viewed-box .body .recomendation-box .item {
    display: block;
    margin: auto;
    margin: 10px auto;
    width: 70px;
    height: 70px
}
.item-love{
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.item-sale{
	position: absolute;
	top: 0;
	left: 0;
}
hr.blue {
    border-bottom: 2px solid #0368ff;
}

.pagination-box{
	margin-right:80px;
}
section .container{text-align:left}
section .container img{width: auto;}
div.knowmore {
    margin-top: 10px;
}
.knowmore p {
    font-size: 16px;
}
#blue-bg {
    background: #e5f0ff;
    padding: 20px 0;
}
.margin-bottom-30 {
    margin-bottom: 30px;
    display: block;
}
h5.grey-bold{
	font-size: 18px;
	font-weight: bold;
}
section#blue-bg img {
    height: 60px;
    margin-bottom: 20px;
}
section p {
    font-size:16px;
}
ul.claim-refund {
    list-style: none;
    margin-left: 0;
	padding: 0;
    padding-bottom: 20px;
	font-size:16px;
}
hr#claim-refund {
    background: url('../images/dashed.png') repeat top center;
    background-size: contain;
    display: block;
    height: 4px;
    border: 0;
    position: relative;
}
section#claim-form {
    background: #ffe5ea;
}
.preview {
    display: block;
    width: 150px;
    height: 150px;
    border: 1px solid #808184;
    overflow: hidden;
    background-image: url(../images/img-maskot.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	margin-bottom:20px!important;
}
.preview.simple {
    background-image: url(../images/img-upload-box.png);
    width: 80px;
    height: 80px;
    border: none
}
.file-upload-wrapper {
    position: relative;
    z-index: 5;
    display: block;
    width: 30px;
    height: 30px
}
.file-upload-native,
.file-upload-text {
    position: absolute;
    top: 118px;
    left: 120px;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer
}
.file-upload-wrapper.custom {
    height: 80px;
    width: 80px
}
.file-upload-native.apalah {
    left: 0;
    top: -80px;
    height: 80px;
    width: 80px
}
.btn-upload {
    background-image: url(../images/ico-plus.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}
input[type="file"]::-webkit-file-upload-button {
    cursor: pointer
}
.file-upload-native:focus,
.file-upload-text:focus {
    outline: none
}
.file-upload-text {
    z-index: 10;
    padding: 5px 15px 8px;
    overflow: hidden;
    font-size: 14px;
	height:30px!important;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    color: #90a294;
    border: 0;
    background-color: transparent
}
.file-upload-native {
    z-index: 15;
    opacity: 0
}
.loyalty-points-box p {
    margin-top: 50px;
    font-size: 16px;
    max-width: 640px;
}
.sub-content {
    padding-left: 50px;
	font-size:14px;
}
.sub-content ul {
    list-style: none
}
.sub-content ul li {
    position: relative;
    padding-left: 10px
}
.sub-content ul li:nth-child(1):before {
    content: url(../images/ico-chart1.png);
    position: absolute;
    left: -20px;
}
.sub-content ul li:nth-child(2):before {
    content: url(../images/ico-chart2.png);
    position: absolute;
    left: -20px;
}
.sub-content ul li:nth-child(3):before {
    content: url(../images/ico-chart3.png);
    position: absolute;
    left: -20px;
}
img.payment {
    width: 100px;
}
div#return-exchange {
    padding-left: 0;
}
h6 {
    font-size: 16px;
    color: #2975ff;
	font-weight:bold;
}
.suggest-product-box {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #E4EFF9;
}
.after-title {
    display: block;
    margin: 0 auto 50px auto;
    max-width: 600px;
    text-align: center;
    font-size: 18px;
}
.buah-box img {
    display: block;
    margin: auto
}
.buah-box .apel,
.buah-box .jeruk,
.buah-box .brokoli,
.buah-box .wortel {
    position: relative
}
.buah-box .apel {
    top: -100px;
    right: 50px
}
.buah-box .jeruk {
    top: -50px
}
.buah-box .brokoli {
    margin-top: 100px;
    right: -50px
}
.buah-box .wortel {
    margin-top: 150px
}
.required {
    position: relative
}
.required:after {
    content: '*';
    color: red;
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 15px
}
.contact-us-box {
    padding-bottom: 0;
    color: #808184;
	margin-bottom: 30px;
}
.contact-us-box {
    padding-top: 50px;
    background-color: #E4EFF9;
}
ul.reach-us-here {
    list-style: none;
}
ul.reach-us-here li span {
    padding-left: 10px;
    display: inline-block;
}
ul.reach-us-here li img {
    display: inline-block;
    vertical-align: top;
}
.center{
	text-align:center;
}
#signUp img.pink {
    position: relative;
    top: 200px;
}
#signUp label {
    color: #808184;
    font-weight: bold;
    padding: .1rem 0;
}
#signUp img.blue {
    position: relative;
    top: -100px;
}
#signUp .agree {
    max-width: 363px;
    vertical-align: top;
    padding-left: 0px;
    margin-bottom: 20px;
}
.input-group {
    display: table;
    width: 100%;
    margin-bottom: 1rem;
}
#signUp .input-group-label {
    background-color: transparent;
    padding: 0px 5px;
}
.input-group-label {
    text-align: center;
    padding: 0 1rem;
    background: #e6e6e6;
    color: #0a0a0a;
    white-space: nowrap;
    width: 1%;
    height: 100%;
}
.input-group-label {
    border-left: 1.5px solid #808184;
    border-bottom: 1.5px solid #808184;
    border-top: 1.5px solid #808184;
    background: transparent;
    padding: 0 .5rem;
}
.input-group-button, .input-group-field, .input-group-label {
    margin: 0;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
}
.menu-account-box table td a {
    display: block;
    color: #808184;
	font-weight:bold;
}
.menu-account-box table td {
    height: 50px;
	padding:0!important;
}
#checkout table tbody tr td {
    vertical-align: middle;
}
#checkout table tbody tr td {
    padding: 5px;
    font-weight: bold;
}
#checkout table tbody tr {
    background: transparent;
    border: none;
}
#checkout table tbody {
    border: none;
}
.top-20 {
    position: relative;
    top: 20px;
}
.hide-dekstop{
	display:none!important;
}
.right{
	text-align:right!important;
}
.left{
	text-align:left;
}
.img-market{
	margin-right:-5px;
}
label.middle {
    margin: 0 0 1rem;
    padding: .5625rem 0;
}
.btn-action.blue {
    background: #0368ff;
}
.btn-action {
    width: 100%;
    padding: 0.5rem;
}
.btn-action {
    margin-bottom: 30px;
}
.space-3 {
    letter-spacing: 3px;
}
.btn-action.red {
    background: #ff0335;
    color: #fff;
}
.address-card {
    display: block;
    max-width: 200px;
    margin: 50px 10px;
}
.address-card h6 {
    margin-bottom: 30px;
}
.address-card a {
    color: #808184;
    padding: 0 20px;
        padding-right: 20px;
        padding-left: 20px;
}
.rumah-box img {
    margin: 30px;
}
.order-history-box {
    margin-bottom: 100px
}
.order-history-box table {
    margin-bottom: 50px
}
.order-history-box table tr:nth-child(odd) {
    background: #E5F0FF !important
}
.order-history-box table tr:first-child {
    background: transparent !important;
    border-top: 2px solid #0368ff !important;
    border-bottom: 2px solid #0368ff !important;
    text-align: left
}
.order-history-box table td:first-child,
.order-history-box table th:first-child {
    margin-left: 0px;
    display: block
}
table tr th, table tr td {
    text-align: center;
}
table tbody td, table tbody th {
    padding: 1rem .625rem .625rem;
}
#checkout table {
    border: none;
	    width: 100%;
}
#checkout table tr td {
	text-align:left;
}
.table-detail-order .title-catogory {
    font-size: 21px;
    margin: 15px 0;
}
button.confirm {
    font-size: 18px;
	padding:.6rem 1rem;
    letter-spacing: 4px;
	margin-bottom: 1rem;
}
#checkout table tbody tr.bg-transparent {
    background-color: transparent !important;
}
.table-detail-order table tr:first-child {
    border-bottom: 2px solid #0368ff !important;
    border-top: 2px solid #0368ff !important;
	line-height: 40px;
}
.table-detail-order table td {
    text-align: center;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.table-detail-order table tr {
    border-bottom: 2px solid #808184 !important;
}
.table-detail-order table tr:nth-child(odd) {
    background: #E5F0FF !important
}

.table-total table td{
    text-align: right!important;
}
.table-total table td {
    width: 200px;
}
.table-total table span {
    padding-left: 35px;
    display: block;
}
h1.big-blue {
    font-size: 5rem;
    color: #0368ff;
	font-weight:bold;
}
div.table-rewards {
    margin-top: 3rem;
}
table.rewards {
	width:100%;
    margin-top: 1rem;
	
}
table.rewards tr th{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
table.rewards tr th,table.rewards tr td{
   text-align:left!important;
}
thead.border-green {
    background: none;
    border: none;
    border-top: 2px solid #4fac71;
    border-bottom: 2px solid #4fac71;
}
table.rewards tbody tr:nth-child(even) {
    background-color: #e5f0ff!important;
}
div#rules-rewards {
    border: 1px solid #0368ff;
    padding: 10px;
	text-align: left;
	margin-bottom: 20px;
}
a.grey-underline {
    text-decoration: underline;
    color: #808083;
    margin-right: 20px;
}
p.semi {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 50px;
}
.customer-and-reviews-box {
    margin: 10px 70px
}
.customer-and-reviews-box .nav-tabs {
    border: none
}
.customer-and-reviews-box .nav-tabs a {
    font-size: 30px
}
.customer-and-reviews-box .nav-tabs .tabs-title>a:focus,
.customer-and-reviews-box .nav-tabs .tabs-title>a[aria-expanded=true] {
    background-color: transparent;
    font-weight: bolder
}
.customer-and-reviews-box .tab-content {
    border: none
}
.customer-and-reviews-box .tab-content input[type='text'],
.customer-and-reviews-box .tab-content textarea {
    max-width: 400px
}
.review-box {
    margin: 50px 0;
    position: relative
}
.review-box .text-label {
    position: absolute;
    left: 5px;
    top: -20px;
    font-weight: bolder;
    font-size: 14px
}
.review-box span {
    display: block;
    padding-bottom: 10px;
    font-size: 12px
}
.review-box .recomendation-box {
    padding: 0
}
#myRatingsReviews {
    margin-top: 10px
}
#myRatingsReviews h4 {
    font-weight: bolder;
    text-align: center
}
#myRatingsReviews .tabs-title {
    text-align: center;
    width: 100px
}
#myRatingsReviews .tabs-title.active a {
    color: white;
    font-weight: bold
}
#myRatingsReviews .tabs-title:first-child {
    border: 2px solid #0368ff;
    border-bottom: none
}
#myRatingsReviews .tabs-title:first-child.active {
    background-color: #0368ff
}
#myRatingsReviews .tabs-title:nth-child(2) {
    border: 2px solid #ff7610;
    border-left: none;
    border-bottom: none
}
#myRatingsReviews .tabs-title:nth-child(2).active {
    background-color: #ff7610
}
#myRatingsReviews .tabs-title:nth-child(2).active a {
    color: white
}
#myRatingsReviews .tabs-title:nth-child(2)>a {
    color: #ff7610
}
#myRatingsReviews .tabs-title:nth-child(3) {
    border: 2px solid #27b173;
    border-left: none;
    border-bottom: none
}
#myRatingsReviews .tabs-title:nth-child(3).active {
    background-color: #27b173
}
#myRatingsReviews .tabs-title:nth-child(3).active a {
    color: white
}
#myRatingsReviews .tabs-title:nth-child(3)>a {
    color: #27b173
}
#myRatingsReviews .tabs-title>a {
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bold
}
#myRatingsReviews .panel-content-box {
    padding: 25px 0
}
#myRatingsReviews .panel-content-box:nth-child(even) {
    background-color: #E4EFF9
}
#myRatingsReviews .panel-content-box .img-box {
    float: right;
    max-width: 200px;
	border: 1px solid #0368ff;
}

#myRatingsReviews .panel-content-box .rating-box {
    float: right
}
#myRatingsReviews .panel-content-box .rating-box .rating li img {
    width: 20px
}
#myRatingsReviews .panel-content-box .rating-box span {
    float: right
}
#myRatingsReviews .panel-content-box .rating-box ul {
    float: right;
    list-style: none;
	padding-left: 0;
}
#myRatingsReviews .panel-content-box .rating-box ul li {
    display: inline-block
}
#myRatingsReviews .panel-content-box .form-box {
    margin-top:20px;
}
.v-align-top {
    vertical-align: top;
}
.size-18 {
    font-size: 18px;
}
.seafer-grocer table tr:nth-child(odd) {
    background: #E5F0FF !important
}
.seafer-grocer table tr {
    border-bottom: 1.5px solid #9A9A9A
}
.seafer-grocer table tr:first-child {
    background: transparent !important;
    border-top: 2px solid #0368ff !important;
    border-bottom: 2px solid #0368ff !important
}
.seafer-grocer table td {
    font-size: 14px
}
.seafer-grocer table td .block {
    position: relative;
    font-size: 16px;
    font-weight: bold
}
.seafer-grocer table td:nth-child(4),
.seafer-grocer table td:nth-child(5),
.seafer-grocer table td:nth-child(6) {
    text-align: center
}
.seafer-grocer table td .counter {
    position: relative;
    top: 8px;
    text-align: center
}
.seafer-grocer table{
	margin-bottom:1rem;
	width:100%;
}
.item-box .item.small {
    width: 50px;
    height: 50px;
}
#cart .counter button,.cpage button {
    padding: 0px;
    font-weight: bold;
	background: none;
	color: #808184;
}
#cart .counter {
	padding:0px;
}
#cart .counter button:hover,.cpage button:hover {
	color: #808184!important;
}

#cart .counter * {
    display: inline-block;
}
.promotional {
    margin-top: 20px;
}
.promotional span {
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
}
#cart input.code {
    text-transform: uppercase;
}
input.code {
    width: 250px;
    border: 2px solid #808184;
	height:37px;
}
table.table-total {
    margin-top: 50px;
    margin-bottom: 80px;
	width:100%;
	font-weight:bold;
}
table.table-total td {
    padding: 0.3rem 0;
	text-align:left!important;
}
table.table-total td:last-child {
    max-width: 130px;
	text-align:right!important;
}
input.redeem-field {
    border: 2px solid #808184;
    margin-bottom: 5px;
}
.redeem-field {
    width: 120px;
}
#redeem {
    width: 120px;
    padding: 8px 0;
}
.btn-payment {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 3px;
    font-size: 20px;
}
.title-aneh {
    text-align: center;
    color: #0368ff;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 5px 0;
	font-size: 20px;
}
.payment-box {
    position: relative;
    margin-left: 15px;
}
h4.sub-subtitle{
	margin-bottom: 30px;
}
#confirm-box .img-box {
    margin: 30px auto;
}
#confirm-box .subtitle {
    font-size: 18px !important;
}
#confirm-box p {
    max-width: 460px;
    font-size: 16px;
    margin: 15px auto;
    color: #B1B1B1;
}
.htp {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
	font-weight:bold;
	font-family: opensansbold;
}
#confirm-box ul {
	font-size: 16px;
	padding-left:0;
}

#confirm-box button.btn-aneh{
    width: 100%;
    max-width: 335px;
    font-size: 18px;
	margin: 10px 0;
	padding: .444444em .8em;	
}
#confirm-box button.btn-aneh a {
	color:#fff;
}
#confirm-box .or {
    position: relative;
    display: block;
}
ul.menu.list-inline li:first-child{
	width:60%;
	
}
.btn-long{
	width: 50%;
	max-width: 250px;
	padding: 5px;
}
.dilabelin {
    display: inline-block;
    float: left;
    width: 10%;
    height: 37px;
	padding-top:7px;
    text-align: center;
    border-left: 1.5px solid #808184;
    border-top: 1.5px solid #808184;
    border-bottom: 1.5px solid #808184
}
.pasangannya-label {
    display: inline;
    width: 90%;
    height: 37px;
    padding: 0 .5rem;
    border: 1.5px solid #808184
}
.placeholder-italic::-webkit-input-placeholder {
    font-style: italic;
	opacity:0.5;
}
iframe {
	width:100%;
	 border: 1px solid #808184;
	 margin: 20px 0;
}
#modalPayment .border-dashed,#addAddressModal .border-dashed{
	text-align:left!important;
}
#modalPayment input[type="file"] {
    height: 25px;
    border: 1px solid grey;
    width: 100%;
}
#modalPayment span {
    font-weight: bold;
    font-size: 11.5px;
}
#modalPayment .save-payment-box {
    position: relative;
	margin-top: 20px;
}
#datepicker {
    background-image: url("../images/ico-calendar.png");
    background-position: 97%;
    background-repeat: no-repeat;
    padding-right: 10px;
}
form.border-dashed {
    position: relative;
    border: 3px solid transparent;
    -webkit-border-image: url(../images/LINE.png) 2 round;
    padding: 30px 30px 10px 30px
}
form.border-dashed:before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    border: 3px solid transparent;
    -webkit-border-image: url(../images/LINE-VERTICAL.png) 2 round;
    -moz-border-image: url(../images/dashed-vertical.png) 2 round;
    -o-border-image: url(../images/dashed-vertical.png) 2 round;
    width: 100%;
    height: 95%;
    z-index: -1
}
a#pin-location {
    background: #ff0335;
	margin-bottom: 10px !important;
}
#SignIn #forgotPassword{
	    padding: 0 !important;
		margin: 20px 0px;
		margin-bottom: 40px;
		display: block;
		font-weight: bold;
}
#SignIn .fb, #SignIn .gplus{
	margin: 5px 0px;
	width:100%;
}
#SignIn .btn-aneh{
	width: 70%;
    margin-top: 20px;
}
#SignIn span.title{
	display: block;
    border-bottom: 1px solid #A9A9A9;
    margin-bottom: 30px;
    padding: 10px 0;
    font-size: 12px;
    font-weight: bold;
}
#SignIn .arrow-L{
	height:15px;
	margin-right:10px;
}
.delivery-img img{
	height:30px;
	margin-bottom:5px;
	margin-right:5px;
}
.faq-box table tr th, .faq-box table tr td {
    text-align: left;
	vertical-align:top;
}
.fixed{
	position:fixed;
}
.ui-widget.ui-widget-content{z-index: 10000 !important;}
.a-center{text-align: center;}
.typeahead__container.hint .typeahead__field input{padding-right: 30px;}
.top-bar-right .search-box form > .col-xs-10{width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; padding-right: 30px !important;}


/*================= media query 1200px =================*/
@media (max-width:1200px){
    .top-bar-right .sign{width: 10%;}
    /*table.summary tr:nth-child(2) td:nth-child(2){display: none;}*/
    table.summary tr:nth-child(n+3) td:first-child{width: 50%;}
    table.summary tr:nth-child(n+2) td:last-child{width: 95px;}
    footer .box-content h6 a{margin-left: 145px;}
}
/*================= media query 990px =================*/
@media (max-width:990px){
    .top-bar > .container > .row > .col-sm-9{width: 45%;}
    .top-bar > .container > .row > .col-sm-2{width: 50%; float: right;}
    .top-bar-right .sign{width: 20%; float: right;}
    .top-bar-right .cart-toggle{width: auto; padding-right: 30px !important;}

    footer .box-content h6 a{text-align: right;margin-left: 0; display: block;}
    footer .box-content form{clear: both;}
}

/*================= media query 768px =================*/
@media (max-width:768px){
    .contact-us-box, .suggest-product-box {
        margin-top: -12px;
    }
    .navbar-nav .open .dropdown-menu{
        position:absolute;
    }
    
    #contact-us .subtitle{
        text-align:center;
    }

    #checkout .sub-subtitle {
        text-align:center;
        display:block;
    }

    .label-placeholder label{
        position: absolute;
        top: 9px;
        z-index: 1;
        left: 20px;
        color: #bbb;
        font-style: italic;
        opacity:0.5;
    }
    label.phone{
        left: 55px;
    }
    .phone_number{
        margin-bottom:0!important;
    }
    .top-d label{
        top: 4px!important;
    }
    .label-placeholder .required:after,.label-placeholder .text-red {
        opacity:0.5;
    }
    .label-placeholder label:active{

        z-index: -1;

    }
    .label-placeholder .empty{
        z-index: 0!important;
    }
    
    .label-placeholder .not-empty{
        z-index: 5!important;
    }
    .label-placeholder input:focus{
        z-index: 5!important;
    }
    .label-placeholder input,.label-placeholder select{
        position: relative!important;
        margin-bottom:2rem;
    }
    .label-placeholder input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        opacity:  0;
    }
    .label-placeholder input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       opacity:  0;
    }
    .label-placeholder input::-moz-placeholder { /* Mozilla Firefox 19+ */
       opacity:  0;
    }
    .label-placeholder input:-ms-input-placeholder { /* Internet Explorer 10-11 */
       opacity:  0;
    }
    .label-placeholder input::-ms-input-placeholder { /* Microsoft Edge */
       opacity:  0;
    }
    .label-placeholder label.no-placeholder{
        position: relative;
        opacity: 1;
        left: 0;
        color: #808184;
        
    }
    .img-rewads{
        width:120px;
    }
    .hide-dekstop{
        display:block!important;
    }
    select.short {
        width: 200px
    }

    
    #menu-collapse.side-nav li a {
        font-size: 14px;
    }
    .col-centered-768{
         margin: 0 auto;
        float: none;
    }
    
    .sub-content ul {
        list-style: inherit
    }
    .sub-content ul li:nth-child(1):before {
        content: "";
        position: none;
        left: 0;
    }
    .sub-content ul li:nth-child(2):before {
        content: "";
        position: none;
        left: 0;
    }
    .sub-content ul li:nth-child(3):before {
        content: "";
        position: none;
        left: 0;
    }
    .delivery-box .sub-content ul{
        list-style: none;
    }
    
    .delivery-box .sub-content ul li:nth-child(1):before {
        content: url(../images/ico-chart1.png);
        position: absolute;
        left: -20px;
    }
    .delivery-box .sub-content ul li:nth-child(2):before {
        content: url(../images/ico-chart2.png);
        position: absolute;
        left: -20px;
    }
    .delivery-box .sub-content ul li:nth-child(3):before {
        content: url(../images/ico-chart3.png);
        position: absolute;
        left: -20px;
    }
    .delivery-img img{
        height:40px;
    }
    h5.title-margin{
        font-size:24px;
        margin-bottom:30px;
    }
    .sub-content {
        padding-left: 0px;
    }
    section .side-nav-become-box{
        padding:0;
    }
    section{
        padding: 20px 0;
    }
    .pagination-box{
        margin-right:20px;
    }
    .item-box.item-margin-bottom {
        margin-bottom: 20px;
    }
    .top-bar.filter-box span.filter-list {
        border: 1px solid #0368ff;
        color: #0368ff;
    }
    
    #productDetail .top-bar:after{
        background-image:none;
    }
    .signup-member{
        margin-left:175px;
    }
    
    .become-box{
        padding-right: 20px;
    }
    .become-box img{
        max-width:100px;
    }
    .detail-title:before {
        left: 0px;
    }
    ul.side-nav {
        margin-left: 0px;
    }
    
    .chart-box p.percentage {
        font-size: 14px !important;
    }
    
    .item-box .thumbnail-box ul li .item {
        width: 70px;
        height: 70px;
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .item-box .item.xlarge {
        width: 300px;
        height: 300px;
    }
    .recomendation-box{
        margin-right: 5px;
        margin-left: 5px;
        padding: 10px 0px;
    }
    .recomendation-box label{
        margin-bottom:5px;
    }
    .customer-and-reviews-box {
        margin: 5px;
    }
    .customer-and-reviews-box .nav-tabs a {
        font-size: 18px;
    }
    header,.side-card img,.side-card .card-content, .hide-768{
        display:none;
    }
    #popupChart .img-item{
        display:block;
    }
    #popupChart.popup-box tr td{
        min-width: 0;
    }
    #popupChart.popup-box .form-box table{
        width:300px;
    }
    table .product_name{
        width:100px;
    }
    .side-card .card{
        border:2px solid;
        margin: 0px 20px;
        text-align: right;
        border-radius:3px;
        background-repeat: no-repeat;
        background-position: left 15px center;
        background-size: 200px;
    }
    .side-card .grocer{
        border-color:#0368ff;
        background-image: url(../images/card-grocer.png) ;
    }
    .side-card .cook{
        border-color:#ff7610;
        background-image: url(../images/card-cook.png) ;
    }
    .side-card .eats{
        border-color:#27b173;
        background-image: url(../images/card-eats.png) ;
        
    }
    .card button {
        margin-bottom: 10px;
        margin-right: 10px;
        border-radius: 0px;
        padding: 10px;
    }
    footer .box-content {
        padding: 50px 30px
    }

    .feature-box ul li {
        padding: 10px 3px;
    }
    .cart-notif{
        top: 15px;
        right: 2px;
        width: 16px;
        height: 15px;
        padding: 3px;
    }
    .sub-nav{
        display:none;
    }
    .menu-mobile{
        display:block;
        padding-right:0;
        width: auto; margin-right: 20px;
    }
    .top-bar-right .sign{
        display:none;
    }
    .top-bar-right .search-mobile{
        display:block;
        border-right:1px solid #8E8D8D;
        width: auto; padding-right: 20px !important;
    }
    .top-bar-right .search-mobile a{
        height:40px;
        display:block;
    }
    
    .top-bar-right .search-mobile img{
        margin-top:10px;
    }
    
    .top-bar-right .search-box{
        position: fixed;
        width: 100%;
        top: -60px;
        left: 0;
        z-index:30;
        display:none;
        box-shadow: 0px 3px 10px #212f3d;
    }
    .top-bar-right .open{
        top: 0px !important;
    }
    #side-nav.open{
        left: 0px !important;
    }
    .top-bar-right .search-box, #side-nav{
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .mask-modal{
        background-color: rgba(0, 0, 0, .5);
        height: 100%;
        left: 0;
        display:none;
        top: 0;
        width: 100%;
        z-index: 20;
        position: fixed;
    }   
    .top-bar-right .cart-toggle{
        text-align:right;
    }
    
    .top-bar{
        padding:0;
        border: none;
    }
    .top-bar:after {
        content: '';
        position: absolute;
        /*bottom: 0;*/
        left: 0;
        width: 100%;
        height: 3px;
        margin-top:5px;
        background-image: url(../images/dashed.png) ;
        background-repeat: repeat-x;
        background-position: center;
        background-size: contain;
    }
    .top-bar .logo{
        text-align:center;
    }
    .logo img{
        height:50px;
    }
    #popupChart.popup-box{
        margin-left: -70px;
    }
    .popup-box.right1::before{
        left:93%;
    }
    footer .box-content h6 a {
        margin-left: 55px;
    }
    
    .top-bar .search {
        border: 0;
        height: 60px;
        border-radius: 0;
    }
    .top-bar .search-btn{
        border: 0;
        border-radius: 0;
        width: 100%;
        background: #fff;
        height: 60px;
    }
    
    .top-bar .search-btn:hover{
        background: #fff;
    }
    
    .cube .detail-box h6 {
        font-size: 14px;
    }
    .cube .detail-box span {
        font-weight: bold;
        font-size: 14px;
    }

    .top-bar > .container > .row{margin-left: 0; margin-right: 0;}
    .top-bar > .container > .row > .col-sm-9{width: auto;}
    .top-bar > .container > .row > .col-sm-2{width: auto;}
    .top-bar-right .cart-toggle{width: auto; padding-left: 20px !important; padding-right: 20px !important}
    .producthome .row{margin-left: 0; margin-right: 0;}
    .top-bar-right{padding-right: 0;}
    .typeahead__container.hint{position: fixed; top: 0; left: 0; right: 0;}
    .top-bar-right .search-box form > .col-xs-10{padding-right: 0 !important;}
    .top-bar-right .sub-bar .col-md-2{right: 0;}
}
@media (max-width:767px){
    .producthome .row .col-md-9 .col-md-3:nth-child(4n+1){clear: inherit;}
    .producthome .row .col-md-9 .col-md-3:nth-child(3n+1){clear: both;}
    .producthome .row .col-md-9 .col-md-3:nth-child(n+7){display: none;}
}

/*================= media query 500px =================*/
@media (max-width:500px){
    footer .form-box ul.menu li button::before{
            top: 9px;
            width: 1px;
            height: 20px;
    }
    .menu-mobile{margin-right: 0; padding-left: 0;}
    .top-bar > .container > .row > .col-sm-9{padding: 0 5px;}
    
    #confirm-box button.btn-aneh {
        font-size: 16px;
        letter-spacing: 1px;
    }
    #confirm-box .img-box {
        width: 150px;
    }
    .seafer-grocer table,.seafer-grocer tbody,.seafer-grocer tr,.table-detail-order td{
        display:block; 
        position:relative;
    }
    .seafer-grocer tr{border-bottom:1px solid #808184!important;}
    .seafer-grocer th{display:none!important;}
    .seafer-grocer td:before{
        content:attr(data-content); 
        position:relative; 
        text-indent:0px; 
        font-size:11px;
        top:0px;
        font-weight:normal;
        display:block;
    }
   .seafer-grocer td{
        text-align:left;
        padding:10px 0!important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .seafer-grocer .item-box .item.small{
        margin:0;
    }
    .seafer-grocer table tr td:first-child {
        width: 50%;
        padding-top: 15px !important;
        padding-bottom: 90px !important;
    }
    .seafer-grocer table tr td:nth-child(2) {
        position: absolute;
        right: 50%;
        top: 50px;
        width: 25%;
        border: 1px solid #808184;
        text-align:center!important;
    }
    .seafer-grocer table tr td:nth-child(3) {
        position: absolute;
        right: 0px;
        top: 0;
        width: 75%;
        padding-top: 15px !important;
        padding-bottom: 20px !important;
        line-height: 15px;

    }
    .seafer-grocer table tr td:nth-child(4) {
        position: absolute;
        right: 0px;
        top: 100px;
        width: 75%;
        text-align:left!important;

    }
    .seafer-grocer table td:nth-child(4), .seafer-grocer table td:nth-child(5), .seafer-grocer table td:nth-child(6), .seafer-grocer table tr td:nth-child(7) {
        text-align: left;
        font-size:14px;
        font-weight:bold;
    }
    .seafer-grocer table tr td:nth-child(5) {
        position: absolute;
        right: 25%;
        top: 50px;
        width: 25%;
        border: 1px solid #808184;
        text-align:center!important;
        border-left: 0px;
    }
    .seafer-grocer table tr td:nth-child(6) {
        position: absolute;
        right: 0px;
        top: 50px;
        width: 25%;
        border: 1px solid #808184;
        text-align:center!important;
        border-left: 0px;
    }
    
    .seafer-grocer table tr td:nth-child(7) {
        position: absolute;
        right: 0px;
        top: 105px;
        width: 25%;
        text-align: left !important;
    }
    .seafer-grocer table tr td:nth-child(8) {
        position: absolute;
        right: 0px;
        top: -10px;
        width: 10%;
        text-align:right!important;
    }
    .seafer-grocer table td .block{
        font-size:14px;
    }
    .seafer-grocer table td .counter{
        text-align:left;
    }
    .promotional {
        margin-top: 0px;
    }
    table.table-total {
        margin-top: 30px;
    }
    .btn-payment {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
    }
    .review-320{
        
    }
    .customer-and-reviews-box .panel-content-box{position: relative;}
    .customer-and-reviews-box .panel-content-box .col-xs-4{display: inline; float: left; margin-right: 20px; margin-bottom: 30px;   }
    .customer-and-reviews-box .panel-content-box .col-xs-8{display: inline; width: auto; float: none;}
    .customer-and-reviews-box .panel-content-box .col-xs-8 .col-sm-6{float: right; width: 60%; padding: 0;}
    .customer-and-reviews-box .panel-content-box .col-xs-8 .col-sm-6:last-child{margin-bottom: 20px;}
    .customer-and-reviews-box .panel-content-box .col-xs-8 .review-320{clear: both; padding-top: 1px;}
    .customer-and-reviews-box .panel-content-box .col-xs-8 .review-320 .col-md-2{padding: 0;}
    .customer-and-reviews-box .panel-content-box .col-xs-8 .review-320 .col-md-10{padding: 0;}
    #myRatingsReviews .panel-content-box .form-box{margin-top: 20px !important}
    #myRatingsReviews .panel-content-box .rating-box {
        float: none!important;
        margin-top:10px;
    }
    #myRatingsReviews .tabs-title {
        width: 90px;
    }
    #myRatingsReviews .panel-content-box .rating-box ul {
        float: none!important;
    }
    #myRatingsReviews .top-line-blue {
        border-top: 2px solid #0368ff !important;
    }

    #myRatingsReviews .customer-and-reviews-box {
        margin: 5px 0px;
    }
    #myRatingsReviews .panel-content-box {
        padding: 25px 20px;
    }
    table.rewards,.rewards tbody,.rewards tr,.rewards td{
        display:block; 
        position:relative;
    }
    
    table.rewards{
        border-top: 2px solid #4fac71;
    }
    
    .rewards tr{border-bottom:1px solid #808184!important;}
    .rewards th{display:none!important;}
    .rewards td:before{
        content:attr(data-content); 
        position:absolute; 
        text-indent:0px; 
        font-size:12px;
        top:5px;
    }
   .rewards td{
        text-align:left;
        padding:10px!important;
        padding-top:20px!important;
    }
    table.rewards tr td:nth-child(2) {
        position: absolute;
        right: 0px;
        top: 0;
        width: 40%;
    }
    table.rewards tr td:first-child {
        width: 60%;
    }
    .table-detail-order table,.table-detail-order tbody,.table-detail-order tr,.table-detail-order td{
        display:block; 
        position:relative;
    }
    .table-detail-order tr{border-bottom:1px solid #808184!important;}
    .table-detail-order th{display:none!important;}
    .table-detail-order td:before{
        content:attr(data-content); 
        position:relative; 
        text-indent:0px; 
        font-size:12px;
        top:3px;
        display:block;
        font-weight:normal;
    }
   .table-detail-order table td{
        text-align:left;
        padding:5px 0!important;
    }
    .table-detail-order img{
        border: 1px solid #808184;
    }
    .table-detail-order table tr td:first-child {
        width: 20%;
        padding-top: 15px !important;
        padding-bottom: 110px !important;
    }
    .table-detail-order table tr td:nth-child(2) {
        position: absolute;
        right: 0px;
        top: 0;
        width: 75%;
        padding-top: 15px !important;
        padding-bottom: 20px !important;
        line-height: 15px;
    }
    .table-detail-order table tr td:nth-child(3) {
        position: absolute;
        right: 50%;
        top: 50px;
        width: 25%;
        border: 1px solid #808184;
        text-align:center!important;
    }
    .table-detail-order table tr td:nth-child(4) {
        position: absolute;
        right: 25%;
        top: 50px;
        width: 25%;
        border: 1px solid #808184;
        text-align:center!important;
        border-left: 0px;
    }
    .table-detail-order table tr td:nth-child(5) {
        position: absolute;
        right: 0px;
        top: 50px;
        width: 25%;
        border: 1px solid #808184;
        text-align:center!important;
        border-left: 0px;
    }
    .table-detail-order table tr td:nth-child(6) {
        position: absolute;
        right: 0px;
        top: 100px;
        width: 75%;
        text-align:left!important;
    }
    
    .table-detail-order table tr td:nth-child(7) {
        position: absolute;
        right: 0px;
        top: 135px;
        width: 75%;
        text-align:left!important;
    }

    .order-history-box table,.order-history-box tbody,.order-history-box tr,.order-history-box td{
        display:block; 
        position:relative;
    }
    .order-history-box tr{border-bottom:1px solid #808184!important;}
    .order-history-box th{display:none!important;}
    .order-history-box td:before{
        content:attr(data-content); 
        position:absolute; 
        text-indent:0px; 
        font-size:11px;
        top:5px;
    }
   .order-history-box  td{
        text-align:left;
        padding:10px!important;
        padding-top:20px!important;
    }
    .order-history-box table tr td:nth-child(2) {
        position: absolute;
        right: 0px;
        top: 0;
        width: 40%;
    }
    .order-history-box table tr td:first-child {
        width: 60%;
    }
    .status table,.status tbody,.status tr,.status td{
        display:block; 
        position:relative;
    }
    .status table tr td{
        font-size:18px;
    }
    .status table tr:nth-child(2) {
        position: absolute;
        right: 0px;
        top: 0;
        width: 40%;
    }
    .status table tr:first-child {
        width: 60%;
    }
    .status table tr td:first-child{
        font-size:12px;
    }
    .table-total table tr td:first-child{
        text-align:left!important;
    }
    .table-total table{
        margin-top:10px;
        margin-bottom:10px;
    }
    button.confirm{
        float:none!important;
    }
    .img-market{
        margin-top:-2px;
    }
    #signUp .agree {
        max-width: 250px;
    }
    ul.reach-us-here {
        padding-left: 0px;
    }
    .sub-content ul {
        padding-left: 20px;
    }
    .pagination-box{
        margin-right:30px;
    }
    .qty-change{
        height:40px;
        width:100%;
    }
    .qty-change .counter .minus,.qty-change .counter .plus{
        width:40px;
        height:40px;
    }
    #productDetail .qty-change .counter .minus,#productDetail .qty-change .counter .plus{
        width:39px;
        height:39px;
    }
    
    #productDetail .counter input[type="text"] {
        width: 20px;
    }
    #productDetail .top-bar-custome .pull-left{
        float:right!important;
    }
    #productDetail .navbar-nav {
        margin: 7.5px 0px;
    }
    .add-to-cart-btn{
        width: 100%;
        letter-spacing: 1px;
        height:40px;
        margin-bottom:0;
    }
    .h6.title{
        margin: 30px auto;
        font-size: 20px;
    }
    .become-box {
        padding-right: 30px;
        padding-left: 30px;
    }
    .signup-member {
        margin-left:0;
        text-align:center;
    }
    .carousel-inner{
        padding:0;
    }
    .kirin-container{
        margin-bottom:10px;
    }
    .item-box .item.xlarge {
        width: 250px;
        height: 250px;
    }
    .item-box .thumbnail-box {
        margin: 10px auto;
    }
    
    .item-box .thumbnail-box ul li .item {

        width: 50px;
        height: 50px;

    }
    .detail{
        padding: 0px 10px;
    }
    .subtitle.large {
        font-size: 20px !important;
    }
    .recomendation-box .item {
        width: 95px;
        height: 95px;
    }
    .padding-320{
        padding:5px;
    }
    .recomendation-box {
        margin-right: 15px;
        margin-left: 15px;
        padding: 10px 10px;
    }
    .chart-box p.percentage {
        font-size: 12px !important;
    }
    .chart-box .barchart {
        width: 200px;
    }
    .customer-and-reviews-box {
        margin: 5px 15px;
    }
    .customer-and-reviews-box .top-line-blue{
        border:none !important;
    }
    .accordion-link{
        padding: 5px 0 !important;
        font-size: 14px !important;
        font-weight: bold !important;
        border: none !important;
        background: none !important;
        border-bottom: 2px solid #0368ff !important;
        border-radius: 0 !important;
        color:#0368ff !important;
    }
    .customer-and-reviews-box .tab-content {
        padding: 5px;
    }
    .tab-content > .tab-pane{
        display:block !important;
        opacity: 1 !important;
    }
    ul.rating {
        margin-left: 0px;
    }
    .side-card span{
        display:block;
        padding: 15px 20px;
        font-size: 13px;
        color: #808184;
        font-weight: bold;
    }
    .side-card span:after{
        position: absolute;
        top: 1px;
        line-height: 50px;
        font-family: 'Glyphicons Halflings';
        speak: none;
        -webkit-font-smoothing: antialiased;
        content: "\e258";
        color: #808184;
    }
    .side-card .card{
        background-position: -53px center;
    }
    .hide-320,.side-card button{
        display:none!important;
    }
    .top-bar .search {
        height: 40px;
    }
    .top-bar .search-btn{

        height: 40px;
    }
    
    .top-bar{
        padding: 0px 5px;
    }
    .logo span{
        display:inline;
    }
    .logo img,.feature-box ul li img{
        display:none;
    }
    
    .cart-toggle .dropdown-toggle{
        display:none;
    }
    .cart-320,.feature-box ul li span{
        display:block;
    }
    
    .hamburger-button {
      margin-top: 0px !important;
      width: 40px;
      height: 40px;
    }

    .hamburger-button i {
      top: 20px;
      left: 3px;
      right: 3px;
      height: 3px;
    }

    .hamburger-button i::before,
    .hamburger-button i::after {
      height: 3px;
    }

    .hamburger-button i::before {
      top: -10px;
    }

    .hamburger-button i::after {
      bottom: -10px;
    }
    .padding-v{
        padding-top:10px !important;
        padding-bottom:0px !important;
    }
    .top-bar-right .search-mobile a {
        height: 30px;
    }
    .logo a {
        margin-top: 4px;
    }
    .top-bar-right .cart-toggle {
        margin-top: 0px; padding-left: 10px !important; padding-right: 10px !important;
    }
    .top-bar-right .search-mobile{padding-right: 10px !important;}
    .top-bar-right .search-mobile img {
        margin-top: 5px;
    }
    footer .form-box{
        text-align:center;
    }
    footer .form-box ul.socmed-list{
        text-align:center;
        padding:0;
    }
    .menu-footer {
        display:none;
    }
    footer .form-box ul.menu li input[type="email"]{
        width:100%;
        padding-left: 35px;
        background: none;
    }
    footer .box-content h6 a {
        margin-left: 0px;
        text-align:center;
    }
    footer .box-content h6{
        text-align:center;
    }
    .copyright .box-content{
        text-align:center;
    }
    .feature-box ul li{
        width:100%;
        height:60px;
        border-top: 1px solid #b2babb;
        vertical-align:middle;
        text-align:left;
        background-repeat: no-repeat;
        background-position: left 15px center;
        background-size: 40px;
        
    }
    .feature-box ul li a{
        color:#0368ff
        
    }
    .feature-box ul li:first-child{
        border:0;
    }
    .feature-box ul li span{
        margin: 15px 0 0 70px;
    }
    
    .feature-box ul li.sd{
        background-image: url(../images/sd.png) ;
    }
    .feature-box ul li.lp{
        background-image: url(../images/lp.png) ;
    }
    .feature-box ul li.hs{
        background-image: url(../images/hs.png) ;
        
    }
    .feature-box ul li.qa{
        background-image: url(../images/qa.png) ;
        
    }
    .feature-box ul li.bp{
        background-image: url(../images/bp.png) ;
        
    }
    .menu-account-box table td a {
        
        font-size:12px;;
    }
    
    #customer-chat-widget{
        display:block!important;
    }
    .customer-chat-header{
        position:fixed;
        background-color:#808184;
        background-image: url(../images/ico-livechat.png);
        background-repeat: no-repeat;
        background-position: center center;
        height: 40px;
        width: 70px;
        right: 20px;
        bottom: 30px;
        border-radius: 5px 5px 0px 0;
        -webkit-border-radius: 5px 5px 0px 0;
        -moz-border-radius: 5px 5px 0px 0;
    }
    .producthome .row .col-md-9 .col-xs-4{width: 50%;}
    .producthome .row .col-md-9 .col-xs-4:nth-child(3n+1){clear: inherit;}
    .producthome .row .col-md-9 .col-xs-4:nth-child(2n+1){clear: both;}
}
/*================= media query 500px =================*/
@media (max-width:375px){
    .img-detail{height: 120px;}
}