@font-face {
	font-family: 'BrandonGrotesqueBold';
	src: url('../fonts/BrandonGrotesque/Brandon-Bold.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BrandonGrotesqueMedium';
	src: url('../fonts/BrandonGrotesque/Brandon-Medium.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BrandonGrotesqueReguler';
	src: url('../fonts/BrandonGrotesque/Brandon-Reguler.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BrandonGrotesqueLight';
	src: url('../fonts/BrandonGrotesque/Brandon-Light.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BrandonGrotesque';
	src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.eot');
	src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.woff') format('woff'),
		url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BrandonGrotesqueBlack';
	src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Black.eot');
	src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque/BrandonGrotesque-Black.woff') format('woff'),
		url('../fonts/BrandonGrotesque/BrandonGrotesque-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family:"OpenSans";
	src:url("../fonts/OpenSans/OpenSans-Regular.eot?") format("eot"),
		url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
		url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"),
		url("../fonts/OpenSans/OpenSans-Regular.svg#OpenSans") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans/OpenSans-Light.ttf');

}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans/OpenSans-Bold.eot');
	src: url('../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansSemiBold';
	src: url('../fonts/OpenSans/OpenSans-Semibold.eot');
	src: url('../fonts/OpenSans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-Semibold.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansExtraBold';
	src: url('../fonts/OpenSans/OpenSans-Extrabold.eot');
	src: url('../fonts/OpenSans/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-Extrabold.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-Extrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}