section {
    padding: 40px 0;
}

img.logo-header {
    width: 262px;
}

img.ico-sosmed {
    width: 20px;
    vertical-align: middle;
}

img.center {
    margin: 15px auto;
    display: block;
}

span.equal {
    padding: 0 20px;
    font-size: 11px;
}

.center {
    text-align: center;
}

a.blue {
    font-family: 'OpenSansBold';
}

.absolute {
    position: absolute;
}

.right {
    text-align: right;
}

h1.big-blue {
    font-size: 4rem;
    color: #0368ff;
    font-family: OpenSansBold;
}

div.table-rewards {
    margin-top: 3rem;
}

thead.border-green {
    background: none;
    border: none;
    border-top: 2px solid #4fac71;
    border-bottom: 2px solid #4fac71;
}

table.rewards {
    margin-top: 1rem;
}

table tbody tr:nth-child(even) {
    background-color: #e5f0ff;
}

.required:after {
    content: '*';
    color: red;
    position: absolute;
    right: -10px;
    font-size: 12px;
    top: -2px;
}

span.icon-upload {
    position: absolute;
    margin-left: 370px;
    margin-top: -39px;
}

.contact-us-box h6 {
    font-family: 'opensansbold';
    margin-top: 15px;
}

.contact-us-box {
    padding-bottom: 0;
    color: #808184;
}

ul.reach-us-here {
    list-style: none;
    font-family: 'opensanssemibold';
}

.sub-content {
    font-family: opensanssemibold;
    font-size: 12px;
}

.delivery-box {
    padding: 50px 0;
}

ul.sidebar li {
    margin-bottom: 25px;
    line-height: 25px;
}

.red {
    color: #ff0335;
}

a.accordion-title.no-border.subtitle {
    color: #0368ff;
}

div.knowmore {
    margin-top: 40px;
}

.knowmore p {
    font-size: 13px;
}

section#blue-bg {
    background: #e5f0ff;
    padding: 20px 0;
}

h5.grey-bold {
    font-family: OpenSansBold;
}

section#blue-bg img {
    height: 60px;
    margin-bottom: 20px;
}

ul.claim-refund {
    list-style: none;
    margin-left: 0;
    padding-bottom: 20px;
}

ul.claim-refund li {
    font-family: OpenSansSemiBold;
    padding: 5px 0px;
}

section#claim-form {
    background: #ffe5ea;
}

hr#claim-refund {
    background: url('../images/dashed.png') repeat top center;
    background-size: contain;
    display: block;
    height: 4px;
    border: 0;
    position: relative;
}

section#claim-form div.form-box div {
    margin-top: 5px;
}

p.semi {
    font-family: OpenSansSemiBold;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 50px;
}

.left {
    text-align: left;
}

a.grey-underline {
    text-decoration: underline;
    color: #808083;
    margin-right: 20px;
    font-family: OpenSansBold;
}

a.blue-bg {
    color: #fff;
    font-family: OpenSansBold;
    background: #0368ff;
}

#myRatingsReviews .tabs-title.is-active a {
    font-family: 'OpenSansBold';
}

div#panelGrocer,div#panelCook,div#panelEats {
    padding: 0;
}

.item-myhearts:before {
    content: url(../../assets/images/love_icon_small.png);
    position: absolute;
    right: 10px;
    bottom: 5px;
    cursor: pointer;
}

div.item-myhearts {
    border: 2px solid #0368ff !important;
    min-height: 190px;
}

div.myheart-price {
    border: 2px solid #0368ff;
    border-top: none;
    padding: 5px 0;
}

.myheart-price p {
    margin: 5px;
    font-size: 13px;
}

.item-box.box-myhearts {
    margin-bottom: 25px;
}

div.mail-option {
    padding-left: 10px;
}

img.trash-icon {
    margin-left: 64px;
    margin-top: -10px;
}

input.mail-checkbox {
    opacity: 1;
}

small.user {
    background: #0368ff;
    color: #fff;
    padding: 2px 10px;
    border-radius: 10px;
}

small.admin {
    background: #ff0335;
    color: #fff;
    padding: 2px 10px;
    border-radius: 10px;
}

p.name-sender {
    font-size: 15px;
    color: #0368ff;
    margin-bottom: 5px;
    font-family: 'OpenSansSemiBold';
}

p.date-mail {
    margin-top: 5px;
    font-style: italic;
    font-size: 9px;
    color: #808184;
}

p.content-mail {
    border-bottom: 2px solid #929497;
    padding-bottom: 20px;
}

span.date-write {
    margin-top: 5px;
    font-style: italic;
    margin-left: 5px;
    font-size: 9px;
    color: #808184;
}

ul.sender {
    list-style: none;
    margin-left: 0;
    display: inline-flex;
}

ul.sender li {
    padding-right: 10px;
}

td.icon-mail {
    vertical-align: top;
    width: 60px;
}

img.user-icon {
    margin-top: 10px;
    width: 100%;
}

tbody.mails {
    border: none;
}

tbody.mails tr {
    border-top: 2px solid #0368ff;
}

div.mail-list {
    margin-top: 20px;
}

.ui-checkbox+label {
    position: relative;
    display: inline-block;
    font-size: 12px;
    margin-left: -20px;
}

.ui-checkbox:checked+label:before {
    border: 1px solid #88898c;
    color: #88898c;
}

.ui-checkbox+label:before {
    background-color: #fff;
    border: 1px solid #88898c;
    padding: 6px;
    display: block;
    position: absolute;
    content: "";
}
.ui-checkbox:checked+label:after {
    content: '';
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 3px;
    color: #88898c;
}

table.unstriped tbody tr:nth-child(even) {
    background: none;
}

div.options img.trash-icon {
    margin-left: 30px;
    margin-top: 0;
}

#toTop {
    display: none;
    position: absolute;
    bottom: 195px;
    right: 85px;
    width: 80px;
    height: 80px;
    background-image: url(../images/autoupicon.png);
    background-repeat: no-repeat;
    filter: alpha(opacity=40);
    background-size: 50px;
}

#toTop:hover {
    opacity: 1;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.btn-action {
    margin: 0;
    margin-left: 10px;
}

.btn-action.red {
    background: #ff0335;
    color: #fff;
}

input.redeem-field {
    border: 2px solid #808184;
    margin-bottom: 5px;
}

div.promotional button {
    font-family: OpenSansBold;
    background: #0368ff;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    text-align: right;
    top: -34px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

input#uploadFile {
    width: 100%;
    background: none;
    border: 1px solid;
    padding: 3px;
}

.top-bar .search {
    padding: 20px;
}

.top-bar .search-btn {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 1px solid #0368ff;
    padding: 12px;
    background-color: #0368ff;
    outline: none;
    padding-bottom: 11px;
}

span#map-help {
    width: 100%;
    background: #025EFF !important;
    font-weight: bold;
    display: block;
    white-space: normal;
    line-height: 18px;
}

#container-map {
    border: 5px solid #025EFF;
    display: none;
    margin: 20px 0;
}

#map {
    height: 300px;
}
.mqa-display {
    max-width:none !important;
}

#description {
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

a#pin-location {
    background: #ff0335;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    margin-top: 10px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}

.check-claim {
    margin: 3rem 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding-bottom: 15px;
    margin-top: 70px;
}
div#return-exchange {
    padding-left: 0;
}

div#rules-rewards {
    border: 1px solid #0368ff;
    padding: 10px;
    margin-left: -15px;
}

h6 {
    font-size: 15px;
    font-family: 'opensanssemibold';
    color: #2975ff;
}
/*Yudi Ripayansah*/
.recomendation-box span {
    height: 65px;
    overflow: hidden;
}
[type="color"], [type="date"], [type="datetime-local"], [type="datetime"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], textarea {
    padding: 0;
}
.file-upload-native, .file-upload-text {
    top: -25px;
}
#popupChart.popup-box tr td {
    min-width: 100px;
}
.recomendation-box ul li a {
    padding: 0px 5px;
}
.recomendation-box span {
    padding: 0px 5px;
    text-align: center;
}
#popupChart.popup-box tr td {
    text-align: center;
}
#popupChart .img-item {
    display: inline-block;
}
#popupChart.popup-box tr td:last-child {
    text-align: right;
}
#popupChart.popup-box tr td:last-child button {
    display: inline-block;
    margin-right: 5px;
    min-width: 30px;
}
#popupChart.popup-box tr td.item_total {
    text-align: right;
}
.add-to-cart-box button {
    height: 45px;
    padding: 7px 15px;
}
#item_add_to_cart_wrap {
    margin-left: 15px;
    padding: 0;
}
#item_add_to_cart_wrap .makin-aneh .counter button {
    margin: 0;
}
#item_add_to_cart_wrap .makin-aneh {
    width: 140px;
    float: left;
    margin-left: 11px;
}
#cart input.code {
    text-transform: uppercase;
}
.cube .detail-box {
    text-shadow: 2px 2px #ddd;
}
#becomeAMember .row .detail-box p, #becomeAMember .row .detail-box ul, #becomeAMember .row .detail-box ul li {
    font-family: 'OpenSansSemiBold';
} 
.customer-and-reviews-box .tabs-content input[type='text'], .customer-and-reviews-box .tabs-content textarea {
    padding: 0 .5rem;
}
select.short {
    width: 100%;
}
#checkout table tbody tr td {
    vertical-align: top;
}