@font-face {
    font-family: 'BrandonGrotesque';
    src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Regular.eot");
    src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Regular.woff") format("woff"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'BrandonGrotesqueBlack';
    src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Black.eot");
    src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Black.woff") format("woff"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans/OpenSans-Regular.eot?") format("eot"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular.svg#OpenSans") format("svg");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'OpenSansBold';
    src: url("../fonts/OpenSans/OpenSans-Bold.eot");
    src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url("../fonts/OpenSans/OpenSans-Semibold.eot");
    src: url("../fonts/OpenSans/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url("../fonts/OpenSans/OpenSans-Extrabold.eot");
    src: url("../fonts/OpenSans/OpenSans-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Extrabold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal
}
body {
    font-family: OpenSans;
    color: #808184;
    font-size: 14px
}
header {
    position: relative;
    width: 100%;
    background-color: #0368ff;
    font-size: 13px;
    font-family: BrandonGrotesque
}
header ul {
    display: inline
}
header ul li {
    display: inline-block;
    position: relative;
    padding: 10px 15px 10px 15px
}
header ul li:first-child {
    padding: 10px 15px 10px 0px
}
header ul li:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    right: -2px;
    top: 10px;
    background-color: white
}
header ul li:last-child:after {
    display: none
}
header a,
header b {
    color: white;
    font-family: 'BrandonGrotesque'
}
header a:hover,
header b:hover {
    color: white;
    font-weight: bold
}
.box {
    position: relative
}
input[type='checkbox'],
input[type='radio'].square {
    position: relative;
    opacity: 0;
    float: left;
    margin: 0 5px
}
input[type='checkbox']+label::before,
input[type='radio'].square+label::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #808184
}
input[type='checkbox']+label::after,
input[type='radio'].square+label::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 3px;
    width: 9px;
    height: 9px;
    background: #808184;
    opacity: 0
}
input[type='checkbox']:checked+label::after,
input[type='radio'].square:checked+label::after {
    opacity: 1
}
input[type='text'],
input[type='password'],
select {
    height: 24px;
    padding: 0 .5rem;
    border: 1.5px solid #808184
}
.input-group-label {
    border-left: 1.5px solid #808184;
    border-bottom: 1.5px solid #808184;
    border-top: 1.5px solid #808184;
    background: transparent;
    padding: 0 .5rem
}
textarea {
    border: 1.5px solid #808184
}
select {
    background-color: #777777;
    color: white;
    background-image: url(../images/ico-arrow-dropdown.png);
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer
}
select.short {
    width: 200px
}
.no-margin {
    margin: 0 !important
}
.margin-top-50 {
    margin-top: 50px;
    display: block
}
.margin-top-30 {
    margin-top: 30px;
    display: block
}
.margin-top-10 {
    margin-top: 10px;
    display: block
}
.margin-bottom-30 {
    margin-bottom: 30px;
    display: block
}
h6.title {
    text-align: center;
    font-size: 30px;
    color: #0368ff;
    font-weight: bolder;
    margin: 70px auto;
    letter-spacing: 5px;
    font-family: 'openSansBold'
}
h5.title-margin {
    margin: 0 auto 50px auto;
    display: block;
    text-align: center;
    font-size: 28px;
    letter-spacing: 5px
}
::-webkit-scrollbar-thumb {
    background: #808184;
    border-radius: 10px
}
::-moz-scrollbar-thumb {
    background: #808184;
    border-radius: 10px
}
table.small {
    max-width: 250px
}
table.summary td:nth-child(3) {
    text-align: right
}
table.summary2 td:nth-child(2) {
    text-align: right
}
.maxwidth {
    width: 100%
}
.hide-box {
    display: none
}
button.btn-save {
    padding: .5rem;
    letter-spacing: 5px;
    background: #0368ff
}
button.primary {
    background-color: #0368ff !important;
    padding: .8rem 2.5rem;
    font-size: 20px;
    font-weight: bold
}
button.gplus {
    background-color: #ff0335;
    min-width: 200px;
    padding: .3em .8em
}
button.gplus:hover {
    background-color: #CF1919
}
button.gplus img {
    padding-right: 15px
}
button.fb {
    background-color: #0368FF;
    min-width: 200px;
    padding: .5em .8em
}
button.fb:hover {
    background-color: #1654BB
}
button.fb img {
    padding-right: 15px
}
h5.title {
    color: #0368ff;
    font-weight: bolder
}
img.cart {
    margin-left: 15px
}
#popupHeart .if-empty {
    width: 250px;
    text-align: center;
}
#popupHeart .love-font {
    position: absolute;
    top: 0px;
    cursor: pointer;
    color: #0368ff;
    padding-top: 6px;
    font-size: 15px;
}
#popupHeart .if-empty span {
    display: block;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 15px;
    color: #0368ff;
    font-weight: bold;
}
#popupChart .img-item {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #808184
}
#popupChart .if-empty {
    width: 250px;
    text-align: center
}
#popupChart .if-empty img {
    display: block;
    margin: auto
}
#popupChart .if-empty span {
    display: block;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 15px;
    color: #0368ff;
    font-weight: bold
}
#popupChart .margin-top {
    display: block;
    margin-top: 10px
}
#popupChart .margin-top span.sub-total {
    color: #808184
}
#popupChart .margin-top span.idr {
    color: #0368ff
}
#popupChart .view-more {
    color: #808184;
    display: block;
    font-size: 16px;
    font-weight: 500
}
#popupChart button.checkout {
    font-size: 13px;
    padding: .8em 1em;
    background-color: #1A61D7
}
#popupChart button.checkout:hover {
    background-color: #1654BB
}
#popupChart.popup-box {
    width: auto;
    font-size: 10px;
    color: grey;
    font-weight: bold
}
#popupChart.popup-box .form-box {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden
}
#popupChart.popup-box .form-box::-webkit-scrollbar {
    width: 5px
}
#popupChart.popup-box .form-box::-moz-scrollbar {
    width: 5px
}
#popupChart.popup-box .form-box table {
    width: 350px
}
#popupChart.popup-box tr {
    border-bottom: 1px solid #808184;
    background-color: transparent
}
#popupChart.popup-box tr td {
    padding: .8rem .1rem;
    vertical-align: middle
}
#popupChart.popup-box tr td:last-child {
    color: red;
    font-size: 24px !important
}
#popupChart.popup-box tr td ul {
    list-style: none
}
#popupChart.popup-box tr td ul li {
    display: inline-block;
    padding: 0
}
#popupChart.popup-box tr td button {
    padding: .1rem;
    outline: none;
    font-size: 16px
}
#popupChart.popup-box tr td button:hover {
    text-decoration: underline
}
#popupChart.popup-box input[type='text'] {
    width: 45px;
    text-align: center;
    color: #808184;
    font-size: 14px
}
.top-bar {
    background-color: transparent;
    border-bottom: 1px solid #0368ff
}
.top-bar ul {
    background-color: transparent
}
.top-bar a {
    color: #0368ff
}
.top-bar .logo {
    padding-left: 25px
}
.top-bar .search {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 350px;
    max-width: none;
    margin-right: 0;
    border: 2px solid #0368ff;
    outline: none;
    padding-left: 30px
}
.top-bar .search-btn {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 1px solid #0368ff;
    padding: .6em .7em .65em .2rem;
    background-color: #0368ff;
    outline: none
}
.top-bar .search-btn:hover {
    background-color: #0055D4;
    border-color: #0055D4
}
.top-bar .search-btn img {
    width: 30px
}
.top-bar .top-bar-right.padding {
    padding: 24px 0
}
.top-bar .top-bar-right.padding a {
    font-weight: bold
}
.top-bar .top-bar-right.padding a:hover {
    color: #ff0335
}
.box-content {
    position: relative;
    display: block;
    margin: auto;
    max-width: 1200px
}
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important
}
.no-padding-2 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}
.align-right {
    text-align: right
}
.align-left {
    text-align: left
}

footer .box-content .box_down_app {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

footer .box-content .box_down_app a {
  margin-right: 15px;
}

footer .box-content .box_call_bubble {
  position: absolute;
  right: 0px;
  bottom: 30px;
  background: url("../../responsive_new/assets/images/materials/bubble_call.png") no-repeat;
  width: 232px;
  height: 157px;
}

footer .box-content .box_call_bubble ul {
  margin-top: 18px;
  margin-left: 75px;
  padding: 0px;
}

footer .box-content .box_call_bubble ul li {
  float: none;
}

footer .box-content .box_call_bubble ul li a {
  display: block;
  line-height: 30px;
  font-family: BrandonGrotesqueReguler;
  color: #fff;
  font-size: 14px;
  position: relative;
}

footer .box-content .box_call_bubble ul li:nth-child(1) a:before {
  content: '';
  position: absolute;
  left: -35px;
  top: 3px;
  background: url("../../assets/images/materials/ico_wa.png") no-repeat;
  width: 22px;
  height: 22px;
}

footer .box-content .box_call_bubble ul li:nth-child(2) a:before {
  content: '';
  position: absolute;
  left: -35px;
  top: 3px;
  background: url("../../assets/images/materials/ico_call.png") no-repeat;
  width: 23px;
  height: 23px;
}

.sub-nav {
    text-align: center;
    position: relative
}
.sub-nav:after {
    content: '';
    position: absolute;
    /*bottom: 0;*/
    left: 0;
    width: 100%;
    height: 3px;
    background-image: url(../images/dashed.png) ;
     background-repeat: repeat-x;
    background-position: center;
}
.sub-nav ul.left-side {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 20px auto;
    width: 50%
}
.sub-nav ul.left-side li {
    position: relative;
    display: inline;
    padding: 0 40px
}
.sub-nav ul.left-side li a {
    font-family: 'BrandonGrotesqueBlack';
    font-weight: bold;
    font-size: 16px;
    color: #0368ff;
}
.sub-nav ul.left-side li:nth-child(1) {
    padding-left: 10px
}
.sub-nav ul.left-side li:nth-child(1) span {
    color: #ff0335
}
.sub-nav ul.left-side li:nth-child(2) a {
    color: #ff7610
}
.sub-nav ul.left-side li:nth-child(2) span {
    color: #0368ff
}
.sub-nav ul.left-side li:nth-child(3) a {
    color: #27b173
}
.sub-nav ul.left-side li:nth-child(3) span {
    color: tomato
}
.sub-nav ul.left-side li:nth-child(4) span {
    color: #0368ff
}
.sub-nav ul.right-side {
    display: inline-block;
    list-style: none;
    margin: 20px auto;
    float: right
}
.sub-nav ul.right-side li {
    display: inline;
    padding-right: 10px
}
.sub-nav ul.right-side li a {
    font-family: 'BrandonGrotesqueBlack';
    font-weight: bold;
    font-size: 16px
}
#secondGrocer {
    left: -35px
}
.second-lv {
    position: absolute;
    width: 250px;
    margin-top: 10px;
    left: 20px;
    padding: 20px 0;
    z-index: 99;
    background-color: white;
    display: none
}
.second-lv.grocer:before,
.second-lv.cook:before,
.second-lv.eats:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ff0335
}
.second-lv.cook:before {
    border-bottom: 10px solid #0368ff
}
.second-lv.eats:before {
    border-bottom: 10px solid tomato
}
.second-lv ul {
    display: block
}
.second-lv ul li {
    padding: 0 20px !important;
    text-align: left;
    display: block !important
}
.second-lv ul li a {
    color: #0368ff !important;
    font-weight: 500;
    font-family: 'BrandonGrotesque' !important;
    color: grey !important;
    font-size: 12px !important
}
.second-lv ul li a:hover {
    color: #ff0335 !important
}
.second-lv ul li.third-submenu-right span {
    position: absolute;
    right: 6px;
}
.second-lv ul li.third-submenu-right span img {
    transform: rotate(-90deg)
}
.second-lv ul li.third-submenu-right .third-lv {
    position: absolute;
    top: 0;
    left: 200px;
    height: 350px;
    background-color: white;
    width: 200px;
    display: none
}
.menu-dropdown li {
    position: relative
}
.popup-box {
    position: absolute;
    z-index: 9;
    width: 300px;
    background-color: white;
    border: 2px solid #0368ff;
    padding: 20px;
    left: -35%;
    transform: translateX(-50%)
}
.popup-box span:first-child {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 25px;
    display: block
}
.popup-box input,
.popup-box button {
    margin: 5px 0
}
.popup-box input[type="text"],
.popup-box input[type="password"] {
    max-width: 230px
}
.popup-box input[type="checkbox"]+label span {
    background-color: white;
    border: 1px solid #808184;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    font-weight: lighter
}
.popup-box button {
    padding: .3em 2em
}
.popup-box button.sign-in {
    text-align: left;
    padding: .5em .8em;
    width: 100%;
    max-width: 230px;
    height: 40px;
    margin-left: 1px;
}
.popup-box button.sign-in img {
    padding: 0 10px 0 0px
}
.popup-box span.close {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer
}
.popup-box.right1:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 66%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0368ff
}
.popup-box.right2:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 70%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0368ff
}



/* new pop up for account */
.popup-box-account {
    position: absolute;
    z-index: 9;
    width: 700px;
    background-color: white;
    border: 2px solid #0368ff;
    padding: 20px;
    left: -35%;
}
.popup-box-account span:first-child {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 25px;
    display: block
}
.popup-box-account input,
.popup-box-account button {
    margin: 5px 0
}
.popup-box-account input[type="text"],
.popup-box-account input[type="password"] {
    max-width: 230px
}
.popup-box-account input[type="checkbox"]+label span {
    background-color: white;
    border: 1px solid #808184;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    font-weight: lighter
}
.popup-box-account button {
    padding: .3em 2em
}
.popup-box-account button.sign-in {
    text-align: left;
    padding: .5em .8em;
    width: 100%;
    max-width: 230px;
    height: 40px;
    margin-left: 1px;
}
.popup-box-account button.sign-in img {
    padding: 0 10px 0 0px
}
.popup-box-account span.close {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer
}
.popup-box-account.right1:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 66%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0368ff
}
.popup-box-account.right2:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0368ff
}

.popup-box-account ul li{
    padding:1px;
}




/* new pop up for signin */
.popup-box-signin {
    position: absolute;
    z-index: 9;
    width: 300px;
    background-color: white;
    border: 2px solid #0368ff;
    padding: 20px;
    left: -152%;
}
.popup-box-signin span:first-child {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 25px;
    display: block
}
.popup-box-signin input,
.popup-box-signin button {
    margin: 5px 0
}
.popup-box-signin input[type="text"],
.popup-box-signin input[type="password"] {
    max-width: 230px
}
.popup-box-signin input[type="checkbox"]+label span {
    background-color: white;
    border: 1px solid #808184;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    font-weight: lighter
}
.popup-box-signin button {
    padding: .3em 2em
}
.popup-box-signin button.sign-in {
    text-align: left;
    padding: .5em .8em;
    width: 100%;
    max-width: 230px;
    height: 40px;
    margin-left: 1px;
}
.popup-box-signin button.sign-in img {
    padding: 0 10px 0 0px
}
.popup-box-signin span.close {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer
}
.popup-box-signin.right1:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 66%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0368ff
}
.popup-box-signin.right2:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0368ff
}

.popup-box-signin ul li{
    padding:1px;
}


/* new pop up for cart */
.popup-box-cart {
    position: absolute;
    z-index: 9;
    min-width: 300px;
    background-color: white;
    border: 2px solid #0368ff;
    padding: 20px;
    left: -220%;
}
.popup-box-cart span:first-child {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 25px;
    display: block
}
.popup-box-cart input,
.popup-box-cart button {
    margin: 5px 0
}
.popup-box-cart input[type="text"],
.popup-box-cart input[type="password"] {
    max-width: 230px
}
.popup-box-cart input[type="checkbox"]+label span {
    background-color: white;
    border: 1px solid #808184;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    font-weight: lighter
}
.popup-box-cart button {
    padding: .3em 2em
}
.popup-box-cart button.sign-in {
    text-align: left;
    padding: .5em .8em;
    width: 100%;
    max-width: 230px;
    height: 40px;
    margin-left: 1px;
}
.popup-box-cart button.sign-in img {
    padding: 0 10px 0 0px
}
.popup-box-cart span.close {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer
}
.popup-box-cart.right1:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 66%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0368ff
}
.popup-box-cart.right2:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0368ff
}

.popup-box-cart ul li{
    padding:1px;
}


.btn-action {
    width: 100px;
    padding: 0.5rem;
    margin: 10px 20px
}
.btn-action.red {
    background: #ff0335
}
.btn-action.blue {
    background: #0368ff
}
.title-aneh {
    background: #0368ff;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 5px 0
}
hr.grey {
    border-bottom: 2px solid #808184
}
hr.blue {
    border-bottom: 2px solid #0368ff
}
table.no-background {
    background: transparent
}
table.no-background tbody tr {
    background: transparent !important
}
table.no-border tbody {
    border: none
}
#checkout table {
    border: none
}
#checkout table tbody {
    border: none
}
#checkout table tbody tr {
    background: transparent;
    border: none
}
#checkout table tbody tr td {
    padding: 5px;
    font-weight: bold
}
.sub-cube:first-child {
    padding-left: 0 !important
}
.sub-cube:last-child {
    padding-right: 0 !important
}
.orbit-custom {
    max-width: 1177px;
    overflow: hidden;
    height: 515px;
    margin: 20px auto auto auto;
    width: 100%
}
.orbit-custom .orbit-slide {
    max-height: 500px;
    overflow: hidden
}
.orbit-custom .orbit-slide .orbit-caption {
    top: 50px;
    bottom: 50px;
    font-size: 80px;
    max-width: 80%;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    background-color: transparent;
    color: #0368ff;
    font-family: 'BrandonGrotesqueBlack';
    letter-spacing: 22px
}
.orbit-custom button {
    outline: none
}
.orbit-custom .orbit-bullets {
    position: relative;
    bottom: 70px
}
.orbit-custom .orbit-bullets button {
    height: .8rem;
    width: .8rem;
    border: 2px solid;
    border-radius: 10px;
    border-color: white;
    background-color: transparent
}
.orbit-custom .orbit-bullets button.is-active {
    background-color: white
}
input[type='file'] {
    width: auto
}
input.code {
    width: 250px;
    border: 2px solid #808184
}
button.apply-code {
    background: #0368ff;
    letter-spacing: 3px;
    padding: 0.5rem
}
#signUp button.sign-up {
    width: 250px
}
#signUp label {
    color: #808184;
    font-weight: bold;
    padding: .1rem 0
}
#signUp .checkbox {
    margin-left: 15px
}
#signUp .agree {
    max-width: 363px;
    vertical-align: top;
    padding-left: 0px;
    margin-bottom: 20px
}
#signUp .form-box {
    margin-bottom: 50px;
    padding-right: 30px
}
#signUp .input-group-label {
    background-color: transparent;
    padding: 0px 5px
}
#signUp img.blue {
    position: relative;
    top: -100px
}
#signUp img.pink {
    position: relative;
    top: 200px
}
select.address-heigh {
    height: 100px
}
.blabla .input-group-label {
    height: 24px
}
.blabla .input-group-field {
    height: 24px
}
.callout {
    margin: 0;
    border: none
}
.required {
    position: relative
}
.required:after {
    content: '*';
    color: red;
    position: absolute;
    top: -10px;
    right: -18px;
    font-size: 15px
}
.text-center {
    text-align: center
}
.text-left {
    text-align: left
}
.text-blue {
    color: #0368ff
}
.text-tomato {
    color: tomato
}
.text-grey {
    color: #808184
}
.text-orange {
    color: #ff7610
}
.text-green {
    color: #27b173
}
.text-white {
    color: white
}
.text-purple {
    color: #C20ECC
}
.text-red {
    color: #ff0335 !important
}
.text-red-bold {
    color: #ff0335 !important;
    font-family: 'OpenSansBold'
}
.for-modal {
    position: relative;
    cursor: pointer
}
.popup-mbuh {
    position: absolute;
    width: 400px;
    height: 150px;
    border: 1px solid #0368ff;
    padding: 20px;
    background: white;
    z-index: 9;
    top: -160px;
    -webkit-box-shadow: 10px 10px 40px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 40px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 40px -15px rgba(0, 0, 0, 0.75)
}
.popup-mbuh:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 15%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #0368ff
}
.top {
    top: 10px
}
.bottom {
    bottom: 10px
}
.right {
    right: 10px
}
.card {
    text-align: center
}
.card .card-content {
    border-radius: 5px
}
.card .card-content img {
    padding: 20px 0
}
.card .card-content p {
    text-align: left;
    color: white;
    padding: 10px 25px;
    margin-bottom: 0;
    font-size: 15px
}
.card button {
    margin-top: 10px;
    border-radius: 3px;
    font-weight: bold
}
.card.grocer .card-content {
    border: 5px solid #0368ff
}
.card.grocer .card-content p {
    background-color: #0368ff
}
.card.grocer button {
    background-color: #0368ff
}
.card.cook .card-content {
    border: 5px solid #ff7610
}
.card.cook .card-content p {
    background-color: #ff7610
}
.card.cook button {
    background-color: #ff7610
}
.card.eats .card-content {
    border: 5px solid #27b173
}
.card.eats .card-content p {
    background-color: #27b173
}
.card.eats button {
    background-color: #27b173
}
.side-card {
    margin-bottom: 15px;
    display: block
}
.side-card img {
    width: 200px
}
.side-card .text-box {
    font-family: 'BrandonGrotesque'
}
.side-card button {
    width: 200px;
    padding: 15px
}
.bg-red {
    position: relative
}
.bg-red .detail-box {
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.bg-red .detail-box p {
    width: 100px
}
.add-to-cart-btn {
    background: #0368ff;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 12px;
    letter-spacing: 3px;
    margin: 10px auto;
    height: 45px;
    width: 95%
}
.semi-bold {
    font-family: 'OpenSansSemiBold'
}
.margin-right-30 {
    margin-right: 30px
}.cube {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: .5s;
    background-size: 100%;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 10px;
}
.cube:after{content: ""; clear: both; display: block;}
.cube:hover {
    background-size: 120%;
    transition-duration: .5s
}
/*.cube:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    text-align: center !important
}*/
.cube .detail-box {
    padding: 20px 10px 0px 10px;
    text-shadow: 0;
    font-size: 14px;
    color:#353638;
}
.cube .detail-box h6 {
    font-weight: bold; height: 40px; overflow: hidden;
    font-size: 14px; color: #aeaeae; line-height: 20px;
}
.cube .detail-box p {
    line-height: 18px
}
.cube .detail-box span {
    font-weight: bold;
    font-size: 14px;
}
.menu>li>a {
    padding: 0.7rem 0.5rem
}
.panel .columns {
    padding: 5px
}
.panel .sub-cube {
    padding: 0 5px
}
.left-7 {
    left: -7px
}
.feature-box {
    position: relative;
    width: 100%;
    background-color: #EEEDED
}
.feature-box ul {
    list-style: none;
    padding: 12px;
}
.feature-box ul li {
    display: inline-block;
    padding: 10px 33px;
    text-align: center
}
.feature-box ul li a {
    font-weight: bold;
    font-size: 11px;
    display: block
}
.feature-box ul li img {
    transition-duration: .5s;
    width: 150px
}
.feature-box ul li img:hover {
    transform: scale(1.3);
    transition-duration: .5s
}
footer {
    position: relative;
    display: block
}
footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-image: url(../images/dashed.png);
    background-position: center
}
footer .box-content {
    padding: 50px 50px
}
footer .box-content ul {
    list-style: none;
    margin-left: 0
}
footer .box-content ul li {
    font-family: BrandonGrotesque;
    padding: 1px 0
}
footer .box-content ul li a {
    color: #8E8D8D;
    font-weight: bold
}
footer .box-content ul li a:hover {
    color: #0368ff
}
footer .box-content h6 {
    color: #808184;
    font-family: 'OpenSansSemiBold'
}
footer .form-box {
    max-width: 300px;
    position: relative;
    width: 100%;
    float: right
}
footer .form-box ul.menu {
    list-style: none
}
footer .form-box ul.menu li {
    position: relative
}
footer .form-box ul.menu li input[type='email'] {
    width: 240px;
    height: 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-left: 2px solid #808184;
    border-top: 2px solid #808184;
    border-bottom: 2px solid #808184;
    border-right: none;
    background-image: url(../images/ico-message.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 55px
}
footer .form-box ul.menu li button {
    position: relative;
    height: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: transparent;
    color: #ff0335;
    font-weight: bolder;
    border-right: 2px solid #808184;
    border-top: 2px solid #808184;
    border-bottom: 2px solid #808184;
    border-left: none;
    outline: none;
    padding: .76em 1em
}
footer .form-box ul.menu li button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 2px;
    height: 30px;
    background-color: #808184;
    z-index: 999
}
footer .form-box ul.menu li button:hover {
    background-color: #0368ff;
    color: white
}
footer .form-box ul.socmed-list {
    position: relative;
    display: block;
    margin: 10px auto;
    text-align: right
}
footer .form-box ul.socmed-list li {
    display: inline;
    padding-left: 10px
}
footer .chat-box {
    position: absolute;
    height: 35px;
    width: 250px;
    right: 0;
    bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 3px solid #808184;
    background-color: #0368ff;
    overflow: hidden;
    cursor: pointer
}
footer .chat-box .columns {
    padding: 5px 0
}
footer .chat-box .right {
    background-color: #0368ff;
    text-align: center
}
footer .chat-box .right span {
    color: white;
    font-weight: bold
}
footer .chat-box .left {
    background-color: #D1D1D1;
    text-align: center
}
.copyright {
    width: 100%;
    background-color: #EEEDED;
    color: #808184;
    padding-top: 5px;
    padding-bottom: 5px
}
.copyright .box-content {
    max-width: 1100px
}
.copyright .box-content span {
    font-weight: bold;
    font-size: 12px
}
label {
    color: #808184;
    font-family: 'OpenSansSemiBold'
}
.payment label {
    font-family: 'OpenSans'
}
.payment p {
    font-family: 'OpenSansSemiBold'
}
.payment-box {
    position: relative;
    margin-left: 15px
}
.b2 {
    font-family: 'OpenSansSemiBold' !important
}
.before-discount {
    text-decoration: line-through;
    padding: 0 3px;
    font-weight: bold;
    font-family: 'openSansBold'
}
.after-discount {
    color: #ff0335;
    padding: 0 3px;
    font-weight: bold
}
.width-1024 {
    max-width: 1024px !important
}
::-webkit-input-placeholder {
    color: #808184 !important;
    font-family: BrandonGrotesque;
    opacity: 1
}
:-moz-placeholder {
    color: #808184 !important;
    font-family: BrandonGrotesque;
    opacity: 1
}
::-moz-placeholder {
    color: #808184 !important;
    font-family: BrandonGrotesque;
    opacity: 1
}
:-ms-input-placeholder {
    color: #808184 !important;
    font-family: BrandonGrotesque
}
.placeholder-italic::-webkit-input-placeholder {
    font-style: italic
}
ul.side-nav {
    list-style: none;
    margin-left: 70px
}
ul.side-nav li {
    font-size: 18px;
    font-weight: bolder;
    line-height: 50px;
    color: #0368ff
}
ul.side-nav li a {
    font-weight: bold !important
}
.side-nav-become-box {
    font-family: 'OpenSansBold'
}
.side-nav-become-box li {
    position: relative
}
.side-nav-become-box li a {
    position: relative
}
.side-nav-become-box li a.active:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background: #0368ff
}
.side-nav-become-box li:hover a {
    color: #ff0335
}
.width-80 {
    width: 80px
}
.width-100 {
    width: 100px
}
.add-reviews-box {
    max-width: 160px;
    text-align: center
}
.btn-aneh {
    background: #0368ff;
    padding: 7px 20px;
    font-weight: bold;
    letter-spacing: 2px
}
.subtitle {
    color: #0368ff;
    font-size: 20px !important;
    font-family: 'OpenSansBold';
    letter-spacing: 4px
}
.subtitle.large {
    font-size: 25px !important
}
.subtitle.large--2 {
    letter-spacing: 2px;
    margin: 30px 0;
    font-size: 30px !important
}
.sub-subtitle {
    color: #0368ff;
    font-family: 'OpenSansBold'
}
#becomeAMember .row {
    margin-bottom: 30px
}
#becomeAMember .row .detail-box {
    max-width: 450px;
    font-size: 14px
}
#becomeAMember .row .detail-box p {
    font-family: 'OpenSansSemiBold';
    font-size: 12px
}
#becomeAMember .row .img-box {
    display: block;
    text-align: center
}
p {
    font-family: 'OpenSansSemiBold';
    font-size: 12px
}
.how-it-works-box {
    background-color: #E5F0FF;
    padding: 70px 0
}
.how-it-works-box .content {
    position: relative;
    max-width: 600px;
    display: block;
    margin: auto
}
.how-it-works-box .content:before,
.how-it-works-box .content:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-image: url(../images/dashed.png);
    background-position: center
}
.how-it-works-box .content:before {
    top: -70px
}
.how-it-works-box .content:after {
    bottom: -70px
}
.detail-title {
    position: relative;
    padding-bottom: 70px;
    margin-bottom: 50px
}
.detail-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -25px;
    width: 100%;
    height: 3px;
    background-image: url(../images/dashed.png);
    background-position: center
}
.font-kecilin {
    font-size: 12px
}
.btn-nanggung {
    display: block;
    width: 244px;
    float: right;
    padding: .4rem 2.5rem !important
}
.blablabla {
    margin-left: 30px !important;
    margin-top: -17px;
    margin-bottom: 30px !important
}
.btn-aneh.kecil {
    padding: .3rem 1.6rem
}
.apaacoba {
    display: block;
    width: 100%;
    margin: 20px 0
}
.apaacoba a {
    font-size: 20px;
    display: block;
    font-weight: bold
}
.apaacoba button {
    letter-spacing: 5px;
    padding: .5rem 1rem;
    margin: 30px 0
}
button {
    outline: none;
    font-family: 'OpenSansBold'
}
.item-box {
    text-align: center
}
.item-box .item {
    display: block;
    margin: auto;
    position: relative;
    border: 1px solid #808184
}
.item-box .item.large {
    width: 250px;
    height: 250px
}
.item-box .item.xlarge {
    width: 400px;
    height: 400px
}
.item-box .item.large--2 {
    width: 220px;
    height: 220px
}
.item-box .item.medium {
    width: 160px;
    height: 160px
}
.item-box .item.small {
    width: 50px;
    height: 50px
}
.item-box .thumbnail-box {
    position: relative;
    text-align: center;
    margin: 20px auto
}
.item-box .thumbnail-box ul {
    margin-left: 0
}
.item-box .thumbnail-box ul li {
    display: inline-block;
    padding: 3px
}
.item-box .thumbnail-box ul li .item {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    margin-left: 5px
}
.line-active {
    border-bottom: 2px solid #0368ff
}
.detail p {
    max-width: 350px
}
.counter {
    position: relative;
    padding: 10px
}
.counter * {
    display: inline-block
}
.counter input[type='text'] {
    width: 50px;
    border: 2px solid #808184;
    text-align: center;
    color: #808184;
    font-size: 14px
}
.counter button {
    padding: 5px;
    font-weight: bold
}
.counter span {
    position: absolute
}
.counter.small input[type='text'] {
    width: 50px
}
.recomendation-box {
    padding: 10px 30px 40px 30px;
    margin-left: 70px;
    margin-right: 70px
}
.recomendation-box label {
    color: #0368ff;
    margin-bottom: 30px
}
.recomendation-box .item {
    width: 140px;
    height: 220px;
    border: 1px solid #808184
}
.recomendation-box span {
    font-weight: bold;
    display: block;
    text-align: left;
    font-size: 12px;
}
.customer-and-reviews-box {
    margin: 10px 70px
}
.customer-and-reviews-box .tabs {
    border: none
}
.customer-and-reviews-box .tabs a {
    font-size: 30px
}
.customer-and-reviews-box .tabs .tabs-title>a:focus,
.customer-and-reviews-box .tabs .tabs-title>a[aria-selected=true] {
    background-color: transparent;
    font-weight: bolder
}
.customer-and-reviews-box .tabs-content {
    border: none
}
.customer-and-reviews-box .tabs-content input[type='text'],
.customer-and-reviews-box .tabs-content textarea {
    max-width: 400px
}
.review-box {
    margin: 50px 0;
    position: relative
}
.review-box .text-label {
    position: absolute;
    left: 5px;
    top: -20px;
    font-weight: bolder;
    font-size: 14px
}
.review-box span {
    display: block;
    padding-bottom: 10px;
    font-size: 12px
}
.review-box .recomendation-box {
    padding: 0
}
a {
    color: #0368ff
}
.detail h6 {
    margin-bottom: .1rem
}
.detail .counter {
    padding: 10px 0 0 0
}
.add-to-cart-box span {
    font-weight: bold;
    font-size: 16px
}
.add-to-cart-box button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px 5px;
    letter-spacing: 2px;
    background: #0368ff;
    font-weight: bold
}
.add-to-cart-box table {
    width: 200px
}
.add-to-cart-box table tbody {
    border: none
}
.add-to-cart-box table tbody tr {
    background-color: transparent
}
.add-to-cart-box table tbody tr td {
    padding: 5px
}
.add-to-cart-box table tbody tr td img {
    width: 30px
}
.orbit-container.small {
    height: 50px !important
}
.tabs-title:first-child>a {
    padding-left: 0
}
.customer-qa-box {
    position: relative
}
.customer-qa-box .question-field {
    margin: 30px auto 30px auto;
    padding-left: 50px
}
.customer-qa-box .btn-aneh {
    margin-left: 30px;
    padding: 7px 20px;
    font-weight: bold;
    letter-spacing: 2px;
    background: #0368ff
}
.customer-qa-box .link-aneh {
    position: relative;
    display: inline-block;
    bottom: 5px
}
.customer-qa-box .qa-box {
    padding: 10px 0
}
.customer-qa-box .qa-box table {
    margin-bottom: 0
}
.customer-qa-box .qa-box table tbody {
    border: none;
    background-color: transparent
}
.customer-qa-box .qa-box table tbody tr {
    display: block;
    background-color: transparent
}
.customer-qa-box .qa-box table tbody tr td {
    padding: 0px .625em
}
.customer-qa-box .qa-box table tbody tr:first-child {
    margin-top: 10px
}
.customer-qa-box .qa-box table tbody tr:last-child {
    margin-bottom: 10px
}
.customer-qa-box .qa-box table tbody td:first-child {
    padding-left: 20px;
    padding-right: 20px
}
.customer-qa-box .qa-box table tbody td:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px
}
.customer-qa-box .qa-box:nth-child(odd) {
    background-color: #DAF1FF;
    border-top: 2px solid #808184;
    border-bottom: 2px solid #808184
}
.customer-qa-box .qa-box:last-child {
    background-color: transparent;
    margin: 10px 0;
    border-bottom: 2px solid #808184
}
.customer-qa-box .margin-list {
    margin: 50px 0
}
.customer-qa-box .pagination-box {
    float: right
}
.customer-qa-box .pagination-box li {
    padding: 5px
}
.customer-qa-box .pagination-box a {
    padding: 10px;
    border-radius: 100px;
    font-weight: bold;
    color: #808184
}
.customer-qa-box .pagination-box a:hover {
    padding: 5px 10px
}
.customer-qa-box .pagination-box .current {
    border-radius: 100px
}
.customer-qa-box .pagination-box .current a {
    color: white
}
.customer-qa-box .pagination-box .current:hover a {
    padding: 10px;
    background-color: transparent;
    color: white
}
.pagination a {
    color: #808184
}
.pagination .current {
    background: #0368ff;
    border-radius: 100px;
    padding: .2rem;
    font-weight: bold
}
.pagination .current a {
    color: white
}
.top-line-blue {
    border-top: 2px solid #0368ff !important
}
.bottom-line-blue {
    border-bottom: 2px solid #0368ff !important
}
#productDetail .title {
    margin: 20px auto
}
#productDetail img.hero {
    width: 150px;
    margin-bottom: 50px
}
#productDetail .side-nav li {
    line-height: 30px;
    letter-spacing: 1px
}
#productDetail .side-nav li a {
    font-size: 14px;
    font-weight: 500
}
.list-style li {
    position: relative
}
.list-style li:hover {
    text-decoration: none
}
.list-style li:hover:before {
    border: 2px solid #ff0335;
    background-color: #ff0335
}
.list-style li a:hover {
    font-weight: bolder !important;
    color: #ff0335
}
.pagination-box.margin-bottom {
    margin-bottom: 100px
}
.float-right {
    float: right
}
.float-left {
    float: left
}
.margin-bottom-100 {
    margin-bottom: 100px
}
.top-bar a {
    font-weight: 300
}
.top-bar .current {
    background-color: transparent;
    color: #808184
}
.top-bar .current a {
    color: #808184;
    font-weight: bold;
    padding: 5px 10px
}
.top-bar .current a:hover {
    font-weight: bolder
}
.sale {
    position: relative
}
.sale:after {
    content: url(../../assets/images/ico-sale.png);
    position: absolute;
    top: -2px;
    left: -2px
}
.top-bar-custome {
    padding: .5rem
}
.top-bar-custome .result {
    font-weight: bold
}
.top-bar-custome ul.pagination li a {
    color: #808184
}
.top-bar.filter-box {
    border: none
}
.top-bar.filter-box li span {
    display: block;
    padding: 5px 20px
}
.top-bar.filter-box li span.result {
    padding-left: 5px;
    padding-right: 50px;
    position: relative
}
.top-bar.filter-box li span.result:after {
    content: '';
    position: absolute;
    right: 25px;
    top: 4px;
    width: 2px;
    height: 20px;
    background-color: #9B9B9B;
    border-radius: 100px
}
.top-bar.filter-box span.filter-list {
    border: 2px solid #0368ff;
    padding: 5px 0px 5px 10px;
    width: 200px
}
.top-bar.filter-box span.filter-list:hover {
    border-bottom: none
}
.top-bar.filter-box span.filter-list.ico-down:after {
    content: url(../../assets/images/ico-arrow-dropdown-blue.png);
    right: 10px;
    top: 6px
}
.top-bar.filter-box ul.filter-list {
    background-color: white;
    border-bottom: 2px solid #0368ff;
    border-left: 2px solid #0368ff;
    border-right: 2px solid #0368ff
}
.top-bar.filter-box ul.filter-list li {
    padding: 5px 10px
}
.top-bar.filter-box ul.filter-list li:hover {
    background-color: #0368ff;
    color: white
}
.top-bar.filter-box ul.filter-list li:hover label {
    color: white
}
.accordion-title {
    color: #2199e8;
    font-size: 14px;
    font-weight: bold;
    padding: 0.25rem 1rem
}
.accordion-content {
    color: #808184
}
.second-lv ul li a:hover {
    font-family: 'BrandonGrotesqueBlack' !important;
    font-size: 13px !important
}
.no-border {
    border: none !important
}
.love {
    margin-left: 30px
}
span.price {
    font-size: 17px;
    color: #9FA0A1
}
.old-price {
    text-decoration: line-through
}
.bg-transparent {
    background-color: transparent !important
}
#checkout table tbody tr.bg-transparent {
    background-color: transparent !important
}
.no-border {
    border: none !important
}
.icon img {
    width: 20px
}
table.bg-transparent tr {
    background: transparent !important
}
table.price-table {
    font-size: 17px;
    position: relative;
    right: 45px;
    margin-bottom: 40px
}
table.price-table tr {
    background: transparent !important
}
table.price-table tbody {
    border: none
}
table.price-table td,
table.price-table th {
    padding: 0rem .625rem .625rem
}
table.price-table span.onsale {
    color: #0368ff
}
.chart-box table,
.chart-box thead,
.chart-box tbody,
.chart-box tr,
.chart-box td {
    border: 0;
    padding: 0
}
.chart-box .barchart {
    background-color: #FFFFFF;
    border: 1px solid #808184;
    height: 1.2em;
    padding: 0em;
    margin: 0 auto;
    width: 280px
}
.chart-box .barchart .meter {
    background: #0368ff;
    height: 100%;
    display: block
}
.chart-box table.chart {
    width: 100%;
    border-width: 0;
    margin-bottom: 40px;
    max-width: 400px
}
.chart-box table tr.even,
.chart-box table tr.alt,
.chart-box table tr:nth-of-type(even) {
    background: #FFF
}
.chart-box td.chart {
    font-size: 14px;
    margin-bottom: 50px;
    padding: 0 0 0px 0
}
.chart-box p.percentage {
    font-size: 17px !important;
    color: #6f6f6f;
    font-weight: 300;
    margin-bottom: 3px
}
.modal-box {
    text-align: center;
    display: block;
    margin: 5px;
    padding: 5px;
    position: relative;
    border: 3px solid #0368ff
}
.dashed-box {
    position: relative;
    text-align: center;
    margin: 5px;
    padding: 15px;
    border: 3px solid transparent;
    -webkit-border-image: url(../images/dashed.png) 2 round;
    -moz-border-image: url(../images/dashed.png) 2 round;
    -o-border-image: url(../images/dashed.png) 2 round
}
.dashed-box:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    left: 0;
    border: 3px solid transparent;
    -webkit-border-image: url(../images/dashed-vertical.png) 2 round;
    -moz-border-image: url(../images/dashed-vertical.png) 2 round;
    -o-border-image: url(../images/dashed-vertical.png) 2 round;
    z-index: -1
}
.address-card {
    display: block;
    max-width: 200px;
    margin: 50px 10px
}
.address-card h6 {
    font-family: 'OpenSansBold';
    margin-bottom: 30px
}
.address-card a {
    color: #808184;
    padding: 0 20px
}
.address-card a:hover {
    color: #0368ff
}
.rumah-box img {
    margin: 30px
}
.rumah-box img.right {
    margin-left: 0
}
.rumah-box img.left {
    margin-left: 60px
}
.top-15 {
    position: relative;
    top: 15px
}
.menu-account-box {
    margin-bottom: 100px;
    margin-top: 15px
}
.menu-account-box table td {
    height: 70px
}
.menu-account-box table td a {
    display: block;
    color: #808184;
    font-family: 'OpenSansSemiBold'
}
.menu-account-box table td a:hover {
    color: #0368ff
}
.menu-account {
    display: block;
    max-width: 190px;
    margin: 20px
}
.menu-account a {
    vertical-align: middle;
    padding: 10px 0
}
.menu-account img {
    margin-right: 10px;
    float: left
}
.menu-account span {
    display: block;
    vertical-align: middle;
    margin: auto
}
.table-total {
    font-family: 'OpenSansSemiBold'
}
.table-total table td:nth-child(1) {
    text-align: right
}
.table-total table td {
    width: 200px
}
.table-total table span {
    padding-left: 35px;
    display: block
}
.table-total .btn-primary {
    width: 100%;
    background-color: #0368ff;
    letter-spacing: 3px
}
table.table-total {
    margin-top: 50px;
    margin-bottom: 80px;
    font-family: 'OpenSansSemiBold'
}
table.table-total b {
    font-family: 'OpenSansBold'
}
table.table-total tbody {
    border: none !important
}
table.table-total td {
    padding: 0.3rem 0
}
table.table-total td:first-child {
    text-align: left
}
table.table-total td:last-child {
    max-width: 130px
}
img.payment {
    width: 100px
}
.makin-aneh {
    background-color: #0368ff;
    display: none;
    height: 45px;
    width: 90%;
    margin: 10px auto
}
.makin-aneh .counter button {
    color: white;
    font-weight: bolder;
    font-size: 18px;
    padding-top: 0
}
.makin-aneh .counter input[type='text'] {
    background-color: transparent;
    outline: none;
    border: none !important;
    outline: none;
    color: white
}
.makin-aneh .counter input[type='text']:focus {
    background-color: transparent;
    outline: 0
}
.makin-aneh .counter .minus {
    position: relative;
    top: -10px;
    left: -10px;
    float: left;
    background-color: #045BDE;
    width: 45px;
    height: 45px
}
.makin-aneh .counter .plus {
    position: relative;
    top: -10px;
    right: -10px;
    float: right;
    background-color: #045BDE;
    width: 45px;
    height: 45px
}
.ada-lovenya:before {
    content: url("../../assets/images/love_icon.png");
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer
}
.grayscale:before {
    -webkit-filter: grayscale(100%)
}
#sideDropdown {
    list-style: none;
    display: none
}
#sideDropdown li a {
    font-style: italic
}
ul.my-account li {
    display: inline-block;
    padding: 10px
}
.seafer-grocer table tr:nth-child(odd) {
    background: #E5F0FF !important
}
.seafer-grocer table tr {
    border-bottom: 1.5px solid #9A9A9A
}
.seafer-grocer table tr:first-child {
    background: transparent !important;
    border-top: 2px solid #0368ff !important;
    border-bottom: 2px solid #0368ff !important
}
.seafer-grocer table td {
    font-size: 12px
}
.seafer-grocer table td .block {
    position: relative;
    left: 35px;
    font-size: 16px;
    font-weight: bold
}
.seafer-grocer table td:nth-child(4),
.seafer-grocer table td:nth-child(5),
.seafer-grocer table td:nth-child(6) {
    text-align: center
}
.seafer-grocer table td .counter {
    position: relative;
    top: 8px;
    text-align: center
}
.seafer-eats tbody {
    border: none
}
.seafer-eats table tr:nth-child(odd) {
    background: #E5F0FF !important
}
.seafer-eats table tr {
    border-bottom: 1.5px solid #9A9A9A
}
.seafer-eats table tr:first-child {
    background: transparent !important;
    border-top: 2px solid #27b173 !important;
    border-bottom: 2px solid #27b173 !important
}
.seafer-eats table td {
    font-size: 12px
}
.seafer-eats table td .block {
    position: relative;
    left: 55px
}
.seafer-eats table td .block .action {
    font-weight: bold
}
.seafer-eats table td:nth-child(4),
.seafer-eats table td:nth-child(5),
.seafer-eats table td:nth-child(6) {
    text-align: center
}
.seafer-eats table td .counter {
    position: relative;
    top: 8px;
    text-align: center
}
.fontsize-username {
    font-size: 12px;
}
.proceed-payment {
    display: none
}
.redeem-field {
    width: 120px
}
#redeem {
    width: 120px;
    padding: 8px 0
}
.promotional {
    margin-top: 20px
}
.promotional span {
    font-size: 12px;
    margin-bottom: 20px;
    display: block
}
.promotional button {
    font-family: 'OpenSans';
    font-weight: 100
}
b {
    font-family: 'OpenSansBold'
}
.size-18 {
    font-size: 18px
}
.become-box .img-box {
    position: relative;
    top: -20px
}
.faq-box {
    max-width: 650px
}
.faq-box ul.circle {
    list-style-type: circle
}
.faq-box table tbody {
    border: none
}
.faq-box table tr {
    background-color: transparent !important
}
.faq-box table tr td {
    vertical-align: text-top
}
.faq-box table tr td:first-child {
    font-weight: bold
}
.faq-box table tr td span.email {
    text-decoration: underline
}
.btn-payment {
    width: 100%;
    background: #0368ff;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 3px;
    font-size: 18px
}
.remove-item-btn {
    color: red;
    font-weight: bold;
    font-size: 20px
}
button.confirm {
    font-size: 18px;
    font-family: 'OpenSans';
    padding: 20px 15px;
    letter-spacing: 4px
}
.order-history-box {
    font-family: 'OpenSansSemiBold';
    margin-bottom: 100px
}
.order-history-box table {
    margin-bottom: 50px
}
.order-history-box table tr:nth-child(odd) {
    background: #E5F0FF !important
}
.order-history-box table tr:first-child {
    background: transparent !important;
    border-top: 2px solid #0368ff !important;
    border-bottom: 2px solid #0368ff !important;
    text-align: left
}
.order-history-box table td:first-child,
.order-history-box table th:first-child {
    margin-left: 80px;
    display: block
}
.status {
    font-family: 'OpenSansSemiBold'
}
.status table {
    width: 300px;
    position: relative
}
.status table tbody tr td {
    padding: 0 !important;
    color: #B2B2B2
}
.table-detail-order {
    font-family: 'OpenSansSemiBold'
}
.table-detail-order .title-catogory {
    font-size: 21px;
    margin-bottom: 15px
}
.table-detail-order .title-catogory span {
    display: block;
    font-size: 12px
}
.table-detail-order table th {
    border-bottom: 2px solid #0368ff;
    border-top: 2px solid #0368ff
}
.table-detail-order table td {
    text-align: center;
    padding-top: 25px !important;
    padding-bottom: 25px !important
}
.table-detail-order table tr {
    border-bottom: 2px solid #808184 !important
}
.table-detail-order table tr:nth-child(odd) {}ul.rating {
    list-style: none;
    margin-left: -10px;
    margin-bottom: 8px
}
ul.rating li {
    display: inline;
    padding: 0px 5px
}
.recently-viewed-box {
    text-align: center;
    max-width: 125px;
    border: 2px solid #0368ff
}
.recently-viewed-box span {
    display: block;
    font-size: 12px
}
.recently-viewed-box ul {
    display: block;
    list-style: none;
    margin-left: 0
}
.recently-viewed-box li {
    padding-bottom: 10px
}
.recently-viewed-box .header {
    font-size: 12px;
    font-weight: bolder;
    padding: 10px 0;
    color: #0368ff;
    border-bottom: 2px solid #0368ff;
    font-weight: bold
}
.recently-viewed-box .header:hover ~ .body {
    display: inherit
}
.recently-viewed-box .body .recomendation-box {
    padding: 0;
    display: block;
    margin: auto
}
.recently-viewed-box .body .recomendation-box .item {
    display: block;
    margin: auto;
    margin: 10px auto;
    width: 70px;
    height: 70px
}
.dilabelin {
    display: inline-block;
    float: left;
    width: 15%;
    height: 24px;
    text-align: center;
    border-left: 1px solid #808184;
    border-top: 1px solid #808184;
    border-bottom: 1px solid #808184
}
.pasangannya-label {
    display: inline;
    width: 85%;
    height: 24px;
    padding: 0 .5rem;
    border: 1.5px solid #808184
}
.item-box.item-margin-bottom {
    margin-bottom: 70px
}
.item-box span b {
    color: #929497 !important
}
.vertical-align {
    vertical-align: top
}
span.ico-down {
    position: relative
}
span.ico-down:after {
    content: url(../../assets/images/ico-arrow-dropdown-dark.png);
    position: absolute;
    right: -30px;
    top: 0
}
.pagination a:hover,
.pagination button:hover {
    background: transparent
}
.is-active>.accordion-title:before {
    content: url(../../assets/images/ico-arrow-dropdown-dark.png);
    transform: rotate(180deg)
}
.accordion-title:before {
    content: url(../../assets/images/ico-arrow-dropdown-dark.png)
}
.space-3 {
    letter-spacing: 3px
}
.margin-left-30 {
    margin-left: 30px
}
.margin-right-5 {
    margin-right: 5px
}
.preview {
    display: block;
    width: 150px;
    height: 150px;
    border: 1px solid #808184;
    overflow: hidden;
    background-image: url(../../assets/images/img-maskot.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}
.preview.simple {
    background-image: url(../../assets/images/img-upload-box.png);
    width: 80px;
    height: 80px;
    border: none
}
.file-upload-wrapper {
    position: relative;
    z-index: 5;
    display: block;
    width: 30px;
    height: 50px
}
.file-upload-native,
.file-upload-text {
    position: absolute;
    top: -28px;
    left: 120px;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer
}
.file-upload-wrapper.custom {
    height: 80px;
    width: 80px
}
.file-upload-native.apalah {
    left: 0;
    top: -80px;
    height: 80px;
    width: 80px
}
.btn-upload {
    background-image: url(../../assets/images/ico-plus.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}
input[type="file"]::-webkit-file-upload-button {
    cursor: pointer
}
.file-upload-native:focus,
.file-upload-text:focus {
    outline: none
}
.file-upload-text {
    z-index: 10;
    padding: 5px 15px 8px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    color: #90a294;
    border: 0;
    background-color: transparent
}
.file-upload-native {
    z-index: 15;
    opacity: 0
}
.suggest-product-box {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #E4EFF9
}
.contact-us-box {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #E4EFF9
}
.contact-us-box h6 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold
}
.after-title {
    display: block;
    margin: 0 auto 50px auto;
    max-width: 600px;
    text-align: center;
    font-size: 16px
}
.buah-box {
    text-align: center
}
.buah-box img {
    display: block;
    margin: auto
}
.buah-box .apel,
.buah-box .jeruk,
.buah-box .brokoli,
.buah-box .wortel {
    position: relative
}
.buah-box .apel {
    top: -100px;
    right: 50px
}
.buah-box .jeruk {
    top: -50px
}
.buah-box .brokoli {
    margin-top: 100px;
    right: -50px
}
.buah-box .wortel {
    margin-top: 150px
}
.loyalty-points-box {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #FFF
}
.loyalty-points-box p {
    margin-top: 50px;
    font-size: 14px;
    max-width: 640px
}
ul.reach-us-here {
    list-style: none
}
ul.reach-us-here li {
    vertical-align: text-top;
    padding: 5px
}
ul.reach-us-here li img {
    display: inline-block;
    vertical-align: top
}
ul.reach-us-here li span {
    padding-left: 10px;
    display: inline-block
}
.gmap-box iframe {
    margin-left: 35px;
    width: 240px;
    height: 135px;
    border: 1.5px solid #808184
}
.delivery-box {
    padding-top: 50px;
    padding-bottom: 100px
}
.sub-content {
    padding-left: 50px
}
.sub-content ul {
    list-style: none
}
.sub-content ul li {
    position: relative;
    padding-left: 10px
}
.sub-content ul li:nth-child(1):before {
    content: url(../../assets/images/ico-chart1.png);
    position: absolute;
    left: -20px;
    top: 3px
}
.sub-content ul li:nth-child(2):before {
    content: url(../../assets/images/ico-chart2.png);
    position: absolute;
    left: -20px;
    top: 3px
}
.sub-content ul li:nth-child(3):before {
    content: url(../../assets/images/ico-chart3.png);
    position: absolute;
    left: -20px;
    top: 3px
}
.sign-up-btn {
    color: white
}
.modal-afterForgotPasswor .img-box img {
    width: 180px
}
.modal-afterForgotPasswor p {
    font-size: 16px
}
.modal-forgotpassword h4 {
    padding-top: 20px;
    color: #0368ff
}
.modal-forgotpassword p {
    color: #B1B1B1;
    font-size: 14px
}
.modal-forgotpassword input[type='text'] {
    max-width: 300px;
    margin: 20px auto
}
.modal-forgotpassword button {
    margin-bottom: 20px
}
#popupOpenAccount {
    max-width: 220px
}
#popupOpenAccount ul {
    list-style: none;
    text-align: right
}
.v-align-top {
    vertical-align: top
}
#myRatingsReviews {
    margin-top: 10px
}
#myRatingsReviews h4 {
    font-weight: bolder;
    text-align: center
}
#myRatingsReviews .tabs-title {
    text-align: center;
    width: 100px
}
#myRatingsReviews .tabs-title.is-active a {
    color: white;
    font-family: 'OpenSansExtraBold';
    font-weight: bolder
}
#myRatingsReviews .tabs-title:first-child {
    border: 2px solid #0368ff;
    border-bottom: none
}
#myRatingsReviews .tabs-title:first-child.is-active {
    background-color: #0368ff
}
#myRatingsReviews .tabs-title:nth-child(2) {
    border: 2px solid #ff7610;
    border-left: none;
    border-bottom: none
}
#myRatingsReviews .tabs-title:nth-child(2).is-active {
    background-color: #ff7610
}
#myRatingsReviews .tabs-title:nth-child(2).is-active a {
    color: white
}
#myRatingsReviews .tabs-title:nth-child(2)>a {
    color: #ff7610
}
#myRatingsReviews .tabs-title:nth-child(3) {
    border: 2px solid #27b173;
    border-left: none;
    border-bottom: none
}
#myRatingsReviews .tabs-title:nth-child(3).is-active {
    background-color: #27b173
}
#myRatingsReviews .tabs-title:nth-child(3).is-active a {
    color: white
}
#myRatingsReviews .tabs-title:nth-child(3)>a {
    color: #27b173
}
#myRatingsReviews .tabs-title>a {
    font-size: 18px;
    padding: 5px 10px;
    font-weight: bold
}
#myRatingsReviews .panel-content-box {
    padding: 25px 0
}
#myRatingsReviews .panel-content-box:nth-child(even) {
    background-color: #E4EFF9
}
#myRatingsReviews .panel-content-box .img-box {
    float: right;
    max-width: 200px
}
#myRatingsReviews .panel-content-box table {
    margin-left: 20px;
    max-width: 430px
}
#myRatingsReviews .panel-content-box table tbody {
    background: transparent;
    border: none
}
#myRatingsReviews .panel-content-box table tbody tr {
    background: transparent
}
#myRatingsReviews .panel-content-box table tbody tr td {
    padding: 2px
}
#myRatingsReviews .panel-content-box table tbody tr td .preview.simple {
    width: 60px;
    height: 60px
}
#myRatingsReviews .panel-content-box table tbody tr td.v-align-top img {
    width: 40px
}
#myRatingsReviews .panel-content-box table tbody tr td .form-box {
    margin-top: 50px;
    text-align: center
}
#myRatingsReviews .panel-content-box table tbody tr td .form-box input[type='text'] {
    max-width: none
}
#myRatingsReviews .panel-content-box table tbody tr td span {
    display: block;
    float: left
}
#myRatingsReviews .panel-content-box table tbody tr td p {
    margin: 5px;
    font-size: 11px
}
#myRatingsReviews .panel-content-box table tbody tr td .rating-box {
    float: right
}
#myRatingsReviews .panel-content-box table tbody tr td .rating-box .rating li img {
    width: 20px
}
#myRatingsReviews .panel-content-box table tbody tr td .rating-box span {
    float: right
}
#myRatingsReviews .panel-content-box table tbody tr td .rating-box ul {
    float: right;
    list-style: none
}
#myRatingsReviews .panel-content-box table tbody tr td .rating-box ul li {
    display: inline-block
}
.owl-carousel .owl-item img {
    display: inherit;
    width: auto
}
.block {
    display: block
}
.font-11 {
    font-size: 11px
}
.owl-slide .customer-qa-box .qa-box {
    padding: 0
}
.owl-slide .customer-qa-box .qa-box:last-child {
    margin: 0
}
.owl-slide .customer-qa-box .qa-box table tbody tr:first-child {
    margin-top: 5px
}
.htp {
    font-family: 'OpenSansBold';
    font-size: 24px;
    display: block;
    margin-bottom: 5px
}
.xyz {
    max-width: 355px !important
}
.xyz a {
    font-family: 'OpenSansBold';
    font-size: 22px
}
#confirm-box {
    text-align: center
}
#confirm-box .img-box {
    margin: 30px auto
}
#confirm-box .subtitle {
    font-size: 18px !important
}
#confirm-box .subtitle b {
    font-size: 22px;
    font-family: 'OpenSansExtraBold'
}
#confirm-box p {
    max-width: 460px;
    font-size: 14px;
    margin: 15px auto;
    color: #B1B1B1;
    font-family: 'OpenSansSemiBold'
}
#confirm-box p b {
    display: inline;
    font-size: 14px
}
#confirm-box ul {
    list-style: none
}
#confirm-box ul li .inline {
    display: inline
}
#confirm-box ul li span {
    position: relative
}
#confirm-box ul li span:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background-color: grey;
    left: -10px;
    top: 5px
}
#confirm-box button.gplus {
    padding: .444444em .8em
}
#confirm-box button.btn-aneh {
    width: 100%;
    max-width: 350px;
    font-size: 18px
}
#confirm-box button.btn-aneh a {
    color: white
}
#confirm-box button.how-to-pay {
    font-size: 18px;
    width: 100%;
    max-width: 250px
}
#confirm-box .or {
    position: relative;
    display: block;
    top: -10px
}
#modalPayment .columns {
    text-align: left
}
#modalPayment input[type='file'] {
    height: 25px;
    border: 1px solid grey;
    width: 100%
}
#modalPayment input[type='date'] {
    height: 25px;
    border: 1px solid grey
}
#modalPayment .time {
    width: 45px
}
#modalPayment span {
    font-weight: bold;
    font-size: 11.5px
}
#modalPayment .save-payment-box {
    position: relative
}
.margin-top-0 {
    margin-top: 0
}
.loveee {
    float: right;
    margin-right: 20px
}
#datepicker {
    background-image: url("../images/ico-calendar.png");
    background-position: 97%;
    background-repeat: no-repeat;
    padding-right: 10px
}
.margin-list.left--13 {
    position: relative;
    left: -13px
}
.owl-carousel {
    position: relative;
    height: 100%
}
.owl-carousel .owl-controls {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0
}
.owl-carousel .owl-controls .owl-buttons div {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    zoom: 1;
    margin: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 0em;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer
}
.owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: 5px;
    background-image: url(../images/ico-arrows-L.png)
}
.owl-carousel .owl-controls .owl-buttons .owl-next {
    right: 5px;
    background-image: url(../images/ico-arrows-R.png)
}
.orbit-next:active,
.orbit-next:focus,
.orbit-next:hover,
.orbit-previous:active,
.orbit-previous:focus,
.orbit-previous:hover {
    background-color: transparent;
    cursor: pointer
}
#signIn {
    margin-top: 50px
}
#signIn .form-box {
    position: relative;
    border: 3px solid #0368ff;
    padding: 15px;
    margin-bottom: 50px;
    color: grey
}
#signIn .form-box h6 {
    color: #0368ff;
    font-weight: bolder
}
#signIn .form-box table input[type="text"],
#signIn .form-box table input[type="password"] {
    height: 25px;
    width: 100%
}
#signIn .form-box table tbody {
    border: none
}
#signIn .form-box table tbody tr {
    background-color: transparent;
    vertical-align: middle
}
#signIn .form-box table tbody tr td {
    padding: 0;
    vertical-align: middle
}
#signIn .form-box table tbody tr td span {
    color: #ff0335;
    font-size: 24px
}
#signIn .form-box table tbody tr td input {
    padding-top: 5px
}
#signIn .form-box table tbody tr td.right {
    text-align: right
}
#signIn .form-box button.submit {
    display: block;
    margin: 20px auto 0 auto
}
form.border-dashed {
    position: relative;
    border: 3px solid transparent;
    -webkit-border-image: url(../images/LINE.png) 2 round;
    padding: 30px 30px 10px 30px
}
form.border-dashed:before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    border: 3px solid transparent;
    -webkit-border-image: url(../images/LINE-VERTICAL.png) 2 round;
    -moz-border-image: url(../images/dashed-vertical.png) 2 round;
    -o-border-image: url(../images/dashed-vertical.png) 2 round;
    width: 100%;
    height: 95%;
    z-index: -1
}
.image-thumbnail {
    width: 213px;
    height: 220px;
}
.image-large {
    width: 500px;
    height: 500px;
}
.popup-box.center:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0368ff;
}

.producthome{}
.producthome .row{margin-left: -5px; margin-right: -5px;}
.producthome .row .col-md-9 .col-md-3{padding: 0 5px; margin-bottom: 5px;}
.producthome .row .col-md-9 .col-md-3:nth-child(4n+1){clear: both;}


/*# sourceMappingURL=main.css.map */