body{
	font-family: OpenSans;
	color: $grey;

			font-size: 14px;
}
header{
	position: relative;
	width: 100%;
	background-color: $primary-color;
	font-size: 13px;
	font-family: BrandonGrotesque;

	ul{
		display: inline;
		li{
			display: inline-block;
			position: relative;
			padding: 10px 15px 10px 15px;
		}
		li:first-child{
			padding: 10px 15px 10px 0px;
		}
		li:after{
			content: '';
			position: absolute;
			width: 1px;
			height: 20px;
			right: -2px;
			top: 10px;
			background-color: white;
		}
		li:last-child{
			&:after{
				display: none;
			}
		}
	}
	a,b{
		color: white;
		font-family: 'BrandonGrotesque';
		&:hover{
			color: white;
			font-weight: bold;
			// text-decoration: line-through;
		}
	}
}
.box{
	position: relative;
}
input[type='checkbox'], input[type='radio'].square{
	position: relative;
	opacity: 0;
	float: left;
	margin: 0 5px;
}
input[type='checkbox'] + label::before, input[type='radio'].square + label::before{
	content: '';
	position: absolute;
	top: 5px;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid $grey;
}
input[type='checkbox'] + label::after, input[type='radio'].square + label::after{
	content: '';
	position: absolute;
	top: 8px;
	left: 3px;
	width: 9px;
	height: 9px;
	background: $grey;
	opacity: 0;
}
input[type='checkbox']:checked + label::after, input[type='radio'].square:checked + label::after{
	opacity: 1;
}
input[type='text'], input[type='password'], select{
	height: 26px;
	padding: 0 .5rem;
	border: 1.5px solid $grey;
}
.input-group-label{
	border-left: 1.5px solid $grey;
	border-bottom: 1.5px solid $grey;
	border-top: 1.5px solid $grey;
	background: transparent;
	padding: 0 .5rem;
}
textarea{
	border: 1.5px solid $grey;
}
select{
	background-color: #777777;
	color: white;
	background-image: url(../images/ico-arrow-dropdown.png);
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;

	&.short{
		width: 200px;
	}
}
.no-margin{
	margin: 0 !important;
}
.margin-top-50{
	margin-top: 50px;
	display: block;
}
.margin-top-30{
	margin-top: 30px;
	display: block;
}
.margin-top-10{
	margin-top: 10px;
	display: block;
}
.margin-bottom-30{
	margin-bottom: 30px;
	display: block;
}

h6.title{
	text-align: center;
	font-size: 30px;
	color: $primary-color;
	font-weight: bolder;
	margin: 70px auto;
	letter-spacing: 5px;
	font-family: 'openSansBold';
}

h5.title-margin{
	margin: 0 auto 50px auto;
	display: block;
	text-align: center;
	font-size: 28px;
	letter-spacing: 5px;
}
::-webkit-scrollbar-thumb{
    background: $grey;
    border-radius: 10px;
}
::-moz-scrollbar-thumb{
    background: $grey;
    border-radius: 10px;
}

table.small{
	max-width: 250px;
}

table.summary{
	td:nth-child(3){
		text-align: right;
	}
}
table.summary2{
	td:nth-child(2){
		text-align: right;
	}
}

.maxwidth{
	width: 100%;
}

.hide-box{
	display: none;
}

button.btn-save{
	// width: 100px;
	padding: .5rem;
	letter-spacing: 5px;
	background: $primary-color;
}
button.primary{
	background-color: $primary-color !important;
	padding: .8rem 2.5rem;
	font-size: 20px;
	font-weight: bold;
}
button.gplus{
	background-color: $red;
	min-width: 200px;
	padding: .3em .8em;
	&:hover{
		background-color: #CF1919;
	}
	img{
		padding-right: 15px;
	}
}
button.fb{
	background-color: #0368FF;
	min-width: 200px;
	padding: .5em .8em;
	&:hover{
		background-color: #1654BB;
	}
	img{
		padding-right: 15px;
	}
}

h5.title{
	color: $primary-color;
	    font-weight: bolder;
}

	img.cart{
		margin-left: 15px;
	}

#popupChart{
	.img-item{
		display: block;
		width: 30px;
		height: 30px;
		border:1px solid $grey;
	}

	.if-empty{
		width: 250px;
		text-align: center;
		img{
			display: block;
			margin: auto;
		}
		span{
			display: block;
			margin-top: 10px;
			margin-bottom: 40px;
			font-size: 15px;
			color: $primary-color;
			font-weight: bold;
		}
	}
	.margin-top{
	    	display: block;
	    	margin-top: 10px;

	    	span.sub-total{
	    		color: $grey;
	    	}
	    	span.idr{
				color: $primary-color;
	    	}
	    }
	.view-more{
		color: $grey;
	    display: block;
	    font-size: 16px;
	    font-weight: 500;
	    // text-decoration: underline;

	}
	button.checkout{
		font-size: 13px;
		padding: .8em 1em;
		background-color: #1A61D7;
		&:hover{
			background-color: #1654BB;
		}
	}
	&.popup-box{
		// max-width: 400px;
		width: auto;
		font-size: 10px;
		color: grey;
		font-weight: bold;
		
		.form-box{
			max-height: 200px;
			overflow-y: scroll;
			overflow-x: hidden;

			&::-webkit-scrollbar{
				width:5px;
			}
			&::-moz-scrollbar{
				width:5px;
			}

			table{
				width: 350px;
			}
		}

		tr{
			border-bottom: 1px solid $grey;
			background-color: transparent;

			td{
				padding: .8rem .1rem;
				vertical-align: middle;

				&:last-child{
					color: red;
					font-size: 24px !important;
				}

				ul{
					list-style: none;
					li{
						display: inline-block;
						padding: 0;
					}
				}

				button{
					padding: .1rem;
					outline: none;
					font-size: 16px;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}

		

		input[type='text']{
			width: 45px;
			text-align: center;
			color: $grey;
			font-size: 14px;
		}
	}
}
.top-bar{
	background-color: transparent;
	border-bottom: 1px solid $primary-color;
	ul{
		background-color: transparent;
	}
	a{
		color: $primary-color;
	}
	.logo{
		padding-left: 25px;
	}
	.search{
		border-top-left-radius: 100px;
		border-bottom-left-radius: 100px;
		width: 350px;
		max-width: none;
		margin-right: 0;
		border: 2px solid $primary-color;
		outline: none;
		padding-left: 30px;
	}
	.search-btn{
		border-top-right-radius: 100px;
		border-bottom-right-radius: 100px;
		border: 1px solid $primary-color;
		padding: .6em .7em .65em .2rem;
		background-color: $primary-color;
		outline: none;

		&:hover{
			background-color: #0055D4;
			border-color: #0055D4;
		}

		img{
			width: 30px;
		}
	}
	.top-bar-right.padding{
		padding: 24px 0;
		a{
			font-weight: bold;
			&:hover{
				color: $red;
			}
		}
	}
}
.box-content{
	position: relative;
	display: block;
	margin: auto;
	max-width: 1200px;
}
.no-padding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-padding-2{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.align-right{
	text-align: right;
}
.align-left{
	text-align: left;
}
.sub-nav{
	text-align: center;
	position: relative;
	&:after{
		content:'';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background-image: url(../images/dashed.png);
		background-position: center;
	}
	ul.left-side{
		display: inline-block;
		float: left;
		list-style: none;
		margin: 20px auto;
		width: 50%;
		li{
			position: relative;
			display: inline;
			padding: 0 40px;
			a{
				font-family: 'BrandonGrotesqueBlack';
				font-weight: bold;
				font-size: 16px;
			}
			&:hover{
				// text-decoration: underline;
			}
		}
		li:nth-child(1){
			padding-left: 10px;
			span{
				color: $red;
			}
		}
		li:nth-child(2){
			a{color: $orange;}
			span{
				color: $primary-color;
			}
		}
		li:nth-child(3){
			a{color: $green;}
			span{
				color: tomato;
			}		
		}
		li:nth-child(4){
			span{
				color: $primary-color;
			}	
		}
	}
	ul.right-side{
		display: inline-block;
		list-style: none;
		margin: 20px auto;
		float: right;
		li{
			display: inline;
			padding-right: 10px;
			a{
				font-family: 'BrandonGrotesqueBlack';
				font-weight: bold;
				font-size: 16px;
			}
			&:hover{
				// text-decoration: underline;
			}
		}
	}
}

#secondGrocer{
	left: 0px;
}
.second-lv{
	position: absolute;
	width: 220px;
	margin-top: 10px;
	left: 20px;
	padding: 20px 0;
	z-index: 99;
	background-color: white;
	display: none;

	&.grocer:before,&.cook:before, &.eats:before{
		content: '';
	    position: absolute;
	    top: -10px;
	    left: 50%;
	    transform: translateX(-50%);
	    width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    // border-bottom: 10px solid #0368ff;
	    border-bottom: 10px solid $red;
	}
	&.cook:before{
		border-bottom: 10px solid $primary-color;	
	}
	&.eats:before{
		border-bottom: 10px solid tomato;	
	}
	ul{
		display: block;
		li{
			padding: 0 20px !important;
			text-align: left;
			display: block !important;
			a{
				color: $primary-color !important;
				font-weight: 500;
				font-family: 'BrandonGrotesque' !important;
				color: grey !important;
				font-size: 12px !important;

				&:hover{
					color: $red !important;
				}
			}

			&.third-submenu-right{
				span{
					margin-left: 110px;
					img{
						transform: rotate(-90deg);
					}
				}

				.third-lv{
					position: absolute;
					top: 0;
					left: 170px;
					height: 350px;
					background-color: white;
					width: 200px;
					display: none;
					li{
						// padding-right: 0 50px !important;
					}
				}
			}
		}
	}
}

.menu-dropdown{
	li{
		position: relative;
	}
}

.popup-box{
	position: absolute;
	z-index: 9;
	width: 300px;
	// max-width: 250px;
	background-color: white;
	border: 2px solid $primary-color;
	padding: 20px;
	left: -35%;
	transform: translateX(-50%);

	span:first-child{
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 25px;
		display: block;
	}

	input, button{
		margin: 5px 0;
	}
	
	input[type="text"], input[type="password"]{
		max-width: 230px;
	}
	
	input[type="checkbox"] + label span{
		background-color: white;
		border: 1px solid $grey;
		width: 15px;
		height: 15px;
		vertical-align: middle;
		font-weight: lighter;
	}
	button{
		padding: .3em 2em;
	}

	button.sign-in{
		text-align: left;
		padding: .5em .8em;
		width: 100%;
		max-width: 230px;
		height: 40px;
		img{
			padding:0 10px 0 0px; 
		}
	}
	span.close{
		position: absolute;
		right: 10px;
		top: 0px;
		cursor: pointer;
	}
	
	
}
.popup-box.right1{
	&:before{
		content: '';
	    position: absolute;
	    top: -10px;
	    left: 66%;
	    transform: translateX(-50%);
	    width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-bottom: 10px solid #0368ff;
	}
}
.popup-box.right2{
	&:before{
		content: '';
	    position: absolute;
	    top: -10px;
	    left: 70%;
	    transform: translateX(-50%);
	    width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-bottom: 10px solid #0368ff;
	}
}

.btn-action{
	width: 100px;
	padding: 0.5rem;
	margin: 10px 20px;
}
.btn-action.red{
	background: $red;
}
.btn-action.blue{
	background: $primary-color;
}

.title-aneh{
	background: $primary-color;
	text-align: center;
	color: white;
	font-weight: bold;
	margin-top: 70px;
	margin-bottom: 50px;
	padding: 5px 0;
}

hr.grey{
	border-bottom: 2px solid $grey;
}
hr.blue{
	border-bottom: 2px solid $primary-color;
}

table.no-background{
	background: transparent;
	tbody{
		tr{
			background:transparent !important;
		}
	}
}
table.no-border{
	tbody{
		border: none;
	}
}

#checkout{
	// span{
	// 	font-family: 'OpenSansSemiBold';
	// }
	table{
		// margin: 20px 0;
		border: none;
		tbody{
			border: none;
			tr{
				background: transparent;
				border: none;
				td{
					padding: 5px;
					font-weight:bold;
					// input[type="text"]{
					// 	padding: 0;
					// 	margin: 0 0 5px 0;
					// }
				}
			}
		}
	}
}

.sub-cube:first-child{
	padding-left: 0 !important;
}
.sub-cube:last-child{
	padding-right: 0 !important;
}
.orbit-custom{
	max-width: 1177px;
	overflow: hidden;
	height: 515px;
	margin: 20px auto auto auto;
	width: 100%;
	

	.orbit-slide{
		max-height: 500px;
		overflow: hidden;

		.orbit-caption{
			top: 50px;
			bottom: 50px;
			font-size: 80px;
			max-width: 80%;
			font-weight: bold;
			left: 50%;
			transform: translateX(-50%);
			margin: auto;
			background-color: transparent;
			color: $primary-color;
			font-family: 'BrandonGrotesqueBlack';
			letter-spacing: 22px;
		}
	}
	button{
		outline: none;
	}

	.orbit-bullets{
		position: relative;
		bottom: 70px;
		button{
			height: .8rem;
			width: .8rem;
			border: 2px solid;
			border-radius: 10px;
			border-color: white;
			background-color: transparent;
		}
		button.is-active{
			background-color: white;
		}

	}
}

input[type='file']{
	width: auto;
}
input.code{
	width: 250px;
	border: 2px solid $grey;
}

button.apply-code{
	background: $primary-color;
	letter-spacing: 3px;
	// font-family: 'OpenSansBold';
	padding: 0.5rem;
}
#signUp{
	button.sign-up{
		width: 250px;
	}
	
	label{
		color: $grey;
		font-weight: bold;
		padding: .1rem 0;
	}
	
	.checkbox{
		margin-left: 15px;
	}
	.agree{
		max-width: 363px;
		vertical-align: top;
		padding-left: 0px;
		margin-bottom: 20px;
	}
	.form-box{
		margin-bottom: 50px;
		padding-right: 30px;
	}
	.input-group-label{
		background-color: transparent;
		padding: 0px 5px;
	}
	img.blue{
		position: relative;
		top:-100px
	}
	img.pink{
		position: relative;
		top: 200px;
	}
}

select.address-heigh{
	height: 100px;
	// option{
	// 	width: 100px;
	// }
}

.blabla{
	.input-group-label{
		height: 24px;
	}
	.input-group-field{
		height: 24px;
	}
}

// .orbit-slide{
// }

// .img-bg{
// 	width: 1170px;
// 	height: 800px;
// 	position: relative;
// 	left: 0;
// 	top: 0;
// 	background-repeat: no-repeat;
// 	background-position: center;
// 	background-size: cover;
// }
.callout{
	margin: 0;
	border:none;
}

.required{
	position: relative;
	&:after{
		content: '*';
		color: red;
		position: absolute;
		top: -10px;
		right: -18px;
		font-size: 15px;
	}
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-blue{
	color: $primary-color;
}
.text-tomato{
	color: tomato;
}
.text-grey{
	color: $grey;
}
.text-orange{
	color: $orange;
}
.text-green{
	color: $green;
}
.text-white{
	color: white;
}
.text-purple{
	color: #C20ECC;
}
.text-red{
	color: $red !important;
}

.text-red-bold{
	color: $red !important;
	font-family: 'OpenSansBold';
}
.for-modal{
	position: relative;
	cursor: pointer;
}

.popup-mbuh{
	position: absolute;
	width: 400px;
	height: 150px;
	border: 1px solid $primary-color;
	padding: 20px;
	background: white;
	z-index: 9;
	top: -160px;
	-webkit-box-shadow: 10px 10px 40px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 40px -15px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 40px -15px rgba(0,0,0,0.75);
	&:before{
		content: '';
	    position: absolute;
	    bottom: -10px;
	    left: 15%;
	    transform: translateX(-50%);
	    width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid #0368ff;
	}
}

.top{
	top: 10px;
}
.bottom{
	bottom: 10px;
}
.right{
	right: 10px;
}
.card{
	text-align: center;
	.card-content{
		border-radius: 5px;

		img{
			padding: 20px 0;
		}
		p{
			text-align: left;
		    color: white;
		    padding: 10px 25px;
		    margin-bottom: 0;
		    font-size: 15px;
		}
	}
	button{
		margin-top: 10px;
		border-radius: 3px;
		font-weight: bold;
	}
	
}
.card.grocer{
	.card-content{
		border: 5px solid $primary-color;
		p{
			background-color: $primary-color;
		}
	}
	button{
		background-color: $primary-color;
	}
}
.card.cook{
	.card-content{
		border: 5px solid $orange;
		p{
			background-color: $orange;
		}
	}
	button{
		background-color: $orange;
	}
}
.card.eats{
	.card-content{
		border: 5px solid $green;
		p{
			background-color: $green;
		}
	}
	button{
		background-color: $green;
	}
}

.side-card{
	margin-bottom: 15px;
	display: block;

	img{
		width: 200px;
	}

	.text-box{
		font-family: 'BrandonGrotesque';
	}
	button{
		width: 200px;
		padding: 15px;
	}
}

.bg-red{
	position: relative;
	
	.detail-box{
		text-align: center;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		p{
			width: 100px;
		}
	}
}

.add-to-cart-btn{
	background: $primary-color;
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding: 5px 12px;
	letter-spacing: 3px;
	margin: 10px auto;
	height: 45px;
	width: 95%;
}

.semi-bold{
	font-family: 'OpenSansSemiBold';
}
.margin-right-30{
	margin-right: 30px;
}

.cube{
	position: relative;
	display: block;
	width: 100%;
	height: 220px;
	margin-bottom: 10px;
	background-position: center;
	background-repeat: no-repeat;
	transition-duration: .5s;
	background-size: 100%;
	// margin: 10px;

	&:hover{
		background-size: 120%;
		transition-duration: .5s;
		span, p{
			color: white;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: black;
			opacity: .5;
			text-align: center !important;

		}
	} 

	.detail-box{
		position: absolute;
		padding: 20px 10px 0px 10px;
		h6{
			font-weight: bold;
		}
		p{
			line-height: 18px;
			// font-family: 'OpenSansSemiBold';
			// font-size: 12px;
		}
		span{
			// color: $grey;
			font-weight: bold;
		}
	}
}

.menu>li>a{
	padding: 0.7rem 0.5rem;
}
.panel{
	.columns{
		padding: 5px;

	}
	.sub-cube{
		padding: 0 5px;
	}
}
.left-7{
	left: -7px;
}

.feature-box{
	position: relative;
	width: 100%;
	background-color: #EEEDED;

	ul{
		list-style: none;
		li{
			display: inline-block;
			padding: 10px 70px;
			text-align: center;
			a{
				font-weight: bold;
				font-size: 11px;
				max-width: 90px;
				display: block;
			}
			img{
				transition-duration: .5s;
				width: 150px;
				&:hover{
					transform: scale(1.3);
					transition-duration: .5s;
				}
			}
		}
	}
}

footer{
	position: relative;
	display: block;
	&:before{
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background-image: url(../images/dashed.png);
		background-position: center;
	}
	.box-content{
		padding: 50px 50px;

		ul{ 
			list-style: none;
			margin-left: 0;
			li{
				font-family: BrandonGrotesque;
				padding: 1px 0;

				a{
					color: #8E8D8D;
					font-weight: bold;
					&:hover{
						color: $primary-color;
					}
				}
			}
		}
		h6{
			color: $grey;
			// font-weight: bold;
			font-family: 'OpenSansSemiBold';
		}
	}
	.form-box{
		max-width: 300px;
		position: relative;
		width: 100%;
		float: right;

		ul.menu{
			list-style: none;
			li{
				position: relative;
				input[type='email']{
					width: 240px;
					height: 40px;
					border-top-left-radius: 50px;
					border-bottom-left-radius: 50px; 
					border-left: 2px solid $grey;
					border-top: 2px solid $grey;
					border-bottom: 2px solid $grey;
					border-right: none;
					background-image: url(../images/ico-message.png);
					background-repeat: no-repeat;
					background-position: 10px center;
					padding-left: 55px;

				}
				button{
					position: relative;
					height: 40px;
					border-top-right-radius: 50px;
					border-bottom-right-radius: 50px;
					background-color: transparent;
					color: $red;
					font-weight: bolder;
					border-right: 2px solid $grey;
					border-top: 2px solid $grey;
					border-bottom: 2px solid $grey;
					border-left: none;
					outline: none;
					padding: .76em 1em;

					&::before{
						content: '';
						position: absolute;
						left: 0;
						top: 2px;
						width: 2px;
						height: 30px;
						background-color: $grey;
						z-index: 999;
					}

					&:hover{
						background-color: $primary-color;
						color: white;
					}
				}
			}
		}

		ul.socmed-list{
			position: relative;
			display: block;
			margin: 10px auto;
			text-align: right;
			li{
				display: inline;
				padding-left: 10px;
			}
		}
	}

	.chat-box{
		position: absolute;
		height: 35px;
		width: 250px;
		right: 0;
		bottom: 0;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom: 3px solid $grey;
		background-color: $primary-color;
		overflow: hidden;
		cursor: pointer;

		.columns{
			padding: 5px 0;
		}

		.right{
			background-color: $primary-color;
			text-align: center;
			span{
				color: white;
				font-weight: bold;
			}
		}
		.left{
			background-color: #D1D1D1;
			text-align: center;
		}
	}
}
.copyright{
	width: 100%;
	background-color: #EEEDED;
	color: $grey;
	padding-top: 5px;
	padding-bottom: 5px;

	.box-content{
		max-width: 1100px;

		span{
			font-weight: bold;
			font-size: 12px;	
		}
	}
}

label{
	color: $grey;
	font-family: 'OpenSansSemiBold';
}

.payment{
	label{
		font-family: 'OpenSans';
	}
	p{
		// margin-left: 24px;
		font-family: 'OpenSansSemiBold';
	}
}
.payment-box{
	position: relative;
	margin-left: 15px;
}
.b2{
	font-family: 'OpenSansSemiBold' !important;
}
.before-discount{
	text-decoration: line-through;
	padding: 0 3px;
	font-weight: bold;
	font-family: 'openSansBold';
}
.after-discount{
	color: $red;
	padding: 0 3px;
	font-weight:bold;
}

.width-1024{
	max-width: 1024px !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $grey !important;
    font-family: BrandonGrotesque;
    opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $grey !important;
   font-family: BrandonGrotesque;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $grey !important;
   font-family: BrandonGrotesque;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $grey !important;
   font-family: BrandonGrotesque;
}

.placeholder-italic{
	&::-webkit-input-placeholder{
		font-style: italic;
	}
}

  //////////////////////////////////////////////////////
 ////////////////BECOME A MEMBER///////////////////////
//////////////////////////////////////////////////////

ul.side-nav{
	list-style: none;
	margin-left: 70px;
	li{
		font-size: 18px;
		font-weight: bolder;
		line-height: 50px;
		color: $primary-color;

		&.active{
			// text-decoration: underline;
		}
		&:hover{
			// text-decoration: underline;
		}

		a{
			font-weight: bold !important;
		}
	}
}

.side-nav-become-box{
	font-family: 'OpenSansBold';
	li{
		position: relative;
		a{
			position: relative;
		}
		a.active{
			&:after{
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				bottom: -4px;
				background: $primary-color;
			}
		}
		&:hover{
			a{
				color: $red;
			}
		}
	}
}
.width-80{
	width: 80px;
}
.width-100{
	width: 100px;
}
.add-reviews-box{
	max-width: 160px;
	text-align: center;
}
.btn-aneh{
	background: $primary-color;
	padding: 7px 20px;
	font-weight: bold;
	letter-spacing: 2px;
}
.subtitle{
	color: $primary-color;
	font-size: 	20px !important;
	font-family: 'OpenSansBold';
	letter-spacing: 4px;
}
.subtitle.large{
	font-size: 25px !important;
}
.subtitle.large--2{
	letter-spacing:2px;
	margin: 30px 0; 
	font-size: 30px !important;
}
.sub-subtitle{
	color: $primary-color;
	font-family: 'OpenSansBold';
}
#becomeAMember{
	.row{
		margin-bottom: 30px;
		.detail-box{
			max-width: 450px;
			font-size: 14px;

			p{

			font-family: 'OpenSansSemiBold';
			font-size: 12px;
			}
		}

		.img-box{
			display: block;
			text-align: center;
		}
	}
}
p{
	font-family: 'OpenSansSemiBold';
	font-size: 12px;
}
.how-it-works-box{
	background-color: #E5F0FF;
	padding: 70px 0;
	.content{
		position: relative;
		max-width: 600px;
		display: block;
		margin: auto;

		&:before, &:after{
			content:'';
			position: absolute;
			left: 0;
			width: 100%;
			height: 4px;
			background-image: url(../images/dashed.png);
			background-position: center;
		}
		&:before{
			top: -70px;
		}
		&:after{
			bottom: -70px;
		}
	}
}
.detail-title{
	position: relative;
	padding-bottom: 70px;
	margin-bottom: 50px;
	&:before{
			content:'';
			position: absolute;
			bottom:0;
			left: -25px;
			width: 100%;
			height: 3px;
			background-image: url(../images/dashed.png);
			background-position: center;
		}
}
.font-kecilin{
	font-size: 12px;
}
.btn-nanggung{
	display: block;
    width: 244px;
    float: right;
    padding: .4rem 2.5rem !important;
}
.blablabla{
	margin-left: 30px !important;
	margin-top: -17px;
	margin-bottom: 30px !important;
}
.btn-aneh.kecil{
	padding: .3rem 1.6rem;
}
.apaacoba{
	display: block;
	width: 100%;
	margin: 20px 0;
	a{
		font-size: 20px;
		display: block;
		font-weight: bold;
	}
	button{
		letter-spacing: 5px;
		padding: .5rem 1rem;
		margin:30px 0;
	}
}



button{
	outline: none;
	font-family: 'OpenSansBold';
}

  /////////////////////////////////////////
 ///////////PRODUCT DETAIL////////////////
/////////////////////////////////////////

.item-box{
	text-align: center;
	.item{
		display: block;
		margin: auto;
		position: relative;
		border: 1px solid $grey;
	}
	.item.large{
		width: 250px;
		height: 250px;
	}
	.item.xlarge{
		width: 400px;
		height: 400px;
	}
	.item.large--2{
		width: 220px;
		height: 220px;
	}
	.item.medium{
		width: 160px;
		height: 160px;
	}
	.item.small{
		width: 50px;
		height: 50px;
	}
	.thumbnail-box{
		position: relative;
		// width: 250px;
		text-align: center;
		margin: 20px auto;

		ul{
			margin-left: 0;
			li{
				display: inline-block;
				padding: 3px;
				.item{
					width: 100px;
					height: 100px;
					margin-right: 5px;
					margin-left: 5px;
				}
			}
		}
	}
}
.line-active{
	border-bottom: 2px solid $primary-color;
}
.detail{
	p{
		max-width: 350px;
	}
}
.counter{
	position: relative;
	padding: 10px;
	*{
		display: inline-block;
	}
	input[type='text']{
		width: 50px;
		border: 2px solid $grey;
		text-align: center;
		color: $grey;
		font-size: 14px;
	}
	button{
		padding:5px;
		font-weight: bold;
	}
	span{
		position: absolute;

	}

}
.counter.small{
	
	input[type='text']{
		width: 50px;
	}
}
.recomendation-box{
	padding: 10px 30px 40px 30px;
	margin-left: 70px;
	margin-right: 70px;
	label{
		color: $primary-color;
		margin-bottom: 30px;
	}
	.item{
		width: 140px;
		height: 140px;
		border: 1px solid $grey;
	}
	span{
		font-weight: bold;
		display: block;
		text-align: center;
		height: 75px;
		overflow: hidden;
	}
}

.customer-and-reviews-box{
	margin: 10px 70px;

	.tabs{
		border: none;
		a{
			font-size: 30px;
		}
		.tabs-title>a:focus, .tabs-title>a[aria-selected=true]{
			background-color: transparent;
			font-weight: bolder;
		}
	}

	.tabs-content{
		border: none;

		input[type='text'], textarea{
			max-width: 400px;
		}
	}
}

.review-box{
	margin: 50px 0;
	position: relative;
	.text-label{
		position: absolute;
		left: 5px;
		top: -20px;
		font-weight: bolder;
		font-size: 14px;
	}
	span{
		display: block;
		padding-bottom: 10px;
		font-size: 12px;
	}
	.recomendation-box{
		padding: 0;

	}
}

a{
	color: $primary-color;
}

.detail{
	h6{
		margin-bottom: .1rem;
	}
	.counter{
		padding: 10px 0 0 0;
	}
}
.add-to-cart-box{
	// text-align: center;


	span{
		font-weight: bold;
		font-size: 16px;
	}
	button{
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 7px 5px;
		letter-spacing: 2px;
		background: $primary-color;
		font-weight: bold;
	}
	table{
		width: 200px;
		tbody{
			border: none;
			tr{
				background-color: transparent;
				td{
					padding: 5px;
					img{
						width: 30px;
					}
				}
			}
		}
	}
}
.orbit-container.small{
	height: 50px !important;
}
.tabs-title:first-child>a{
	padding-left: 0;
}
.customer-qa-box{
	position: relative;
	.question-field{
		margin: 30px auto 30px auto;
		padding-left: 50px;
	}
	.btn-aneh{
		margin-left: 30px;
		padding: 7px 20px;
		font-weight: bold;
		letter-spacing: 2px;
		background: $primary-color;
	}
	.link-aneh{
		position: relative;
		display: inline-block;
		bottom: 5px;
	}
	.qa-box{
		padding: 10px 0;
		table{
			margin-bottom: 0;
			tbody{
				border: none;
				background-color: transparent;
				tr{
					display: block;
					background-color: transparent;
					td{
						padding: 0px .625em;
					}
				}
				tr:first-child{
					margin-top: 10px;
				}
				tr:last-child{
					margin-bottom: 10px;
				}
				td:first-child{
					padding-left: 20px;
					padding-right: 20px;

					// .counter{
					// 	input[type='text']{
					// 		width: 30px;
					// 		height: 20px;
					// 		border: 1px solid #B1B1B1;
					// 	}
					// }
				}
				td:nth-child(2){
					// width: 40px;
					padding-left: 10px;
					padding-right: 10px;
				}
			}

		}
		// &:nth-child(odd){
		// 	margin: 10px 0;
		// }
		&:nth-child(odd){
			background-color: #DAF1FF;
			border-top: 2px solid $grey;
			border-bottom: 2px solid $grey;
		}
		&:last-child{
			background-color: transparent;
			margin: 10px 0;
			border-bottom: 2px solid $grey;
			// padding: 15px 0; 
		}
	}
	.margin-list{
		margin: 50px 0;
	}

	.pagination-box{
		float: right;
		li{
			padding: 5px;
		}
		a{
			padding:10px;
			border-radius: 100px;
			font-weight: bold;
				color:$grey;
			&:hover{
				padding: 5px 10px;
			}
		}
		.current{
			border-radius: 100px;
			a{
				color: white;
			}
			&:hover a{
				padding:10px;
				background-color: transparent;
				color: white;
			}
			
		}
	}
}

.pagination{
	a{
		color: $grey;
	}
}

.pagination .current{
	background: $primary-color;
	border-radius: 100px;
	padding: .2rem;
	font-weight: bold;

	a{
		color: white;
	}	
}

.top-line-blue{
	border-top: 2px solid $primary-color !important;
}
.bottom-line-blue{
	border-bottom: 2px solid $primary-color !important;
}

#productDetail{
	.title{
		margin: 20px auto;

	}
	img.hero{
		width: 150px;
		margin-bottom: 50px;
	}
	.side-nav{
		li{
			line-height: 30px;
			letter-spacing: 1px;

			a{
				font-size: 14px;
				font-weight: 500;
			}
		}
		
	}
}

.list-style{
	li{
		position: relative;
		// &:before{
		// 	content: '';
		// 	position: absolute;
		//     left: -20px;
		//     top: 50%;
		//     width: 8px;
		//     height: 8px;
		//     border: 2px solid $primary-color;
		//     border-radius: 100px;
		//     transform: translateY(-50%);
		// }

		&:hover{
			text-decoration: none;
			&:before{
				border: 2px solid $red;
				background-color: $red;
			}
		}
		a:hover{
			font-weight: bolder !important;
			color: $red;
		}
	}
}

.pagination-box.margin-bottom{
	margin-bottom: 100px;
}

.float-right{
	float: right;
}
.float-left{
	float: left;
}
.margin-bottom-100{
	margin-bottom: 100px;
}

.top-bar{
	a{
		font-weight: 300;
	}
	.current{
		background-color: transparent;
		color: $grey;
		a{
			color: $grey;
			font-weight: bold;
				padding: 5px 10px;

			&:hover{
				font-weight: bolder;
			}
		}
	}
}

.sale{
	position: relative;
	&:after{
		content: url(../../assets/images/ico-sale.png);
		position: absolute;
		top: -2px;
		left: -2px;
		// width: 15px;
		// height: 50px;
		// background: red;
		// display: block;
	}
}
.top-bar-custome{
	padding: .5rem;
	// margin-bottom: 60px;

	.result{
		font-weight: bold;
	}

	ul.pagination{
		li{
			
			a{
				color: $grey;
			}
		}
	}
}
.top-bar.filter-box{
	border: none;
	li{
		span{
			display: block;
			padding: 5px 20px;
		}

		span.result{
			padding-left: 5px;
			padding-right: 50px;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				right: 25px;
				top: 4px;
				width: 2px;
				height: 20px;
				background-color: #9B9B9B;
				border-radius: 100px;
			}
		}
	}

	span.filter-list{
		border: 2px solid $primary-color;
		padding: 5px 0px 5px 10px;
		width: 200px;

		&:hover{
			border-bottom:none;
		}

		&.ico-down{
			&:after{
				content: url(../../assets/images/ico-arrow-dropdown-blue.png);
				right: 10px;
				top: 6px;
			}
		}
	}

	ul.filter-list{
		background-color: white;
		border-bottom: 2px solid $primary-color;
		border-left: 2px solid $primary-color;
		border-right: 2px solid $primary-color;
		li{
			padding: 5px 10px;

			&:hover{
				background-color: $primary-color;
				color: white;
				label{
					color: white;
				}
			}
		}
	}
}

.accordion-title{
	color: #2199e8;
	font-size: 14px;
	font-weight: bold;
	padding: 0.25rem 1rem;
}
.accordion-content{
	color: $grey;
}

.second-lv{
	ul{
		li{
			a{
				&:hover{
					font-family: 'BrandonGrotesqueBlack' !important;
					font-size: 13px !important;
				}
			}
		}
	}
}

.no-border{
	border: none !important;
}.love{
	margin-left: 30px;
}
span.price{
	font-size: 17px;
	color: #9FA0A1;
}

.old-price{
	text-decoration: line-through;
}
.bg-transparent{
	background-color: transparent !important;
}
#checkout table tbody tr.bg-transparent{
	background-color: transparent !important;
}
.no-border{
	border: none !important;
}

.icon{
	img{
		width: 20px;
	}
}

table.bg-transparent{
	tr{
		background: transparent !important;
	}
}

table.price-table{
	font-size: 17px;
	position: relative;
	right: 45px;
    margin-bottom: 40px;

	tr{
		background: transparent !important;
	}
	tbody{
		border:none;
	}
	td, th{
		padding: 0rem .625rem .625rem;
	}
	span.onsale{
		color: $primary-color;
	}
}
.chart-box{
	table,thead, tbody, tr, td{
		border: 0;
		padding: 0;
	}
	.barchart { 
	  background-color: #FFFFFF;
	  border: 1px solid $grey;
	  height: 1.2em;
	  padding: 0em;
	  margin: 0 auto; 
	  width: 280px; }

	.barchart .meter {
	  background: $primary-color;
	  height: 100%;
	  display: block; }

	table.chart { 
	  width: 100%;
	  border-width: 0;
	  margin-bottom: 40px; 
	  max-width: 400px;
	}

	table tr.even, table tr.alt, table tr:nth-of-type(even) { 
		background: #FFF; }

	td.chart {
	  font-size: 14px;
	  margin-bottom: 50px;
	  padding: 0 0 0px 0; }

	p.percentage {
	  font-size: 17px !important; 
	  color: #6f6f6f;
	  font-weight: 300;
	  margin-bottom: 3px;}
}

.modal-box{
	text-align: center;
	display: block;
	margin: 5px;
	padding: 5px;
	position: relative;
	border: 3px solid $primary-color;
}

.dashed-box{
	position: relative;
	text-align: center;
	margin: 5px;
	padding: 15px;
	border: 3px solid transparent;
    -webkit-border-image: url(../images/dashed.png) 2 round;
    -moz-border-image: url(../images/dashed.png) 2 round;
    -o-border-image: url(../images/dashed.png) 2 round;

    &:before{
    	content: '';
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	top: -5px;
    	left: 0;
    	border: 3px solid transparent;
	    -webkit-border-image: url(../images/dashed-vertical.png) 2 round;
	    -moz-border-image: url(../images/dashed-vertical.png) 2 round;
	    -o-border-image: url(../images/dashed-vertical.png) 2 round;
	    z-index: -1;
    }
}
.address-card{
	display: block;
	max-width: 200px;
	margin: 50px 10px;
	h6{
		font-family: 'OpenSansBold';
		margin-bottom: 30px;
	}
	a{
		color: $grey;
		padding: 0 20px;

		&:hover{
			color: $primary-color;	
		}
	}
}



.rumah-box{
	img{
		margin: 30px;

		&.right{
			margin-left: 0;
		}
		&.left{
			margin-left: 60px
		}
	}
}

.top-15{
	position: relative;
	top: 15px;
}
.menu-account-box{
	margin-bottom: 100px;
	margin-top: 15px;
	table{
		td{
			height: 70px;
			a{
				width: 150px;
				display: block;
				color: $grey;
				font-family: 'OpenSansSemiBold';
				&:hover{
					color: $primary-color;
				}
			}
		}
	}
}
.menu-account{
	display: block;
	max-width: 190px;
	margin: 20px;
	a{
		vertical-align: middle;
		padding: 10px 0;


	}
	img{
		margin-right: 10px;
		float: left;
	}
	span{
		display: block;
		// padding: 15px 0;
		vertical-align: middle;
		margin: auto;
	}
}
.table-total{
	font-family: 'OpenSansSemiBold';

	table{
		td:nth-child(1){
			text-align: right;
			// margin-right: 30px;
			// width: 150px;
		}
		td{
			width: 200px;
		}
		span{
			padding-left: 35px;
			display: block; 
		}
	}

	.btn-primary{
		width: 100%;
		background-color: $primary-color;
		letter-spacing: 3px;
	}
}
table.table-total{
	margin-top: 50px;
	margin-bottom: 80px;
	font-family: 'OpenSansSemiBold';
	b{
		font-family: 'OpenSansBold';
	}
	tbody{
		border: none !important;
	}		
	td{
		padding: 0.3rem 0;
		&:first-child{
			text-align: left;
			// padding-right: 30px !important;
		}
		&:last-child{
			// padding-left: 50px;
			max-width: 130px;
		}
	}

}
#myCart{
	// display: none;
}

img.payment{
	width: 100px;
}
.makin-aneh{
	background-color: $primary-color;
	display: none;
	height: 45px;
	width: 90%;
	margin: 10px auto;
	.counter{
		button{
			color: white;
			font-weight: bolder;
			font-size: 18px;
			padding-top: 0;
		}
		input[type='text']{
			background-color: transparent;
			outline: none;
			border: none !important;
			outline: none;
			color: white;

			&:focus{
				background-color: transparent;
				outline: 0;
			}
		}
		.minus{
			position: relative;
			top: -10px;
			left: -10px;
			float: left;
			background-color: #045BDE;
			width: 45px;
			height: 45px;
		}
		.plus{
			position: relative;
			top: -10px;
			right: -10px;
			float: right;
			background-color: #045BDE;
			width: 45px;
			height: 45px;
		}
	}
}

.ada-lovenya{
	&:before{
		content: url('../../assets/images/love_icon.png');
		position: absolute;
		right: 10px;
		bottom: 10px;
		cursor: pointer;

	}
}
.grayscale{
	&:before{
		-webkit-filter: grayscale(100%);

	}
}

#sideDropdown{
	list-style: none;
	display: none;
	li{
		a{
			font-style: italic;
		}
	}
}

ul.my-account{
	li{
		display: inline-block;
		padding:10px;
	}
}

.seafer-grocer{
	// font-family: 'OpenSansSemiBold';
	table{
		tr:nth-child(odd){
			background: #E5F0FF !important;
		}
		tr{
			border-bottom: 1.5px solid #9A9A9A;
		}
		tr:first-child{
			background: transparent !important;
			border-top: 2px solid $primary-color !important;
			border-bottom: 2px solid $primary-color !important; 
		}
		// td:nth-child(odd){
		// 	background: red;
		// }
		td{
			font-size: 12px;
			.block{
				position: relative;
				left: 35px;
				font-size: 16px;
				font-weight: bold;

				.action{
					// font-weight: bold;

					// &:nth-child(2){
					// 	padding-left: 30px;
					// }
				}
			}
			&:nth-child(4),&:nth-child(5), &:nth-child(6){
				text-align: center;
			}
			.counter{
				position: relative;
				top: 8px;
				text-align: center;
			}
			
		}
	}
}
.seafer-eats{
	tbody{
		border: none;
	}
	table{
		tr:nth-child(odd){
			background: #E5F0FF !important;
		}
		tr{
			border-bottom: 1.5px solid #9A9A9A;
		}
		tr:first-child{
			background: transparent !important;
			border-top: 2px solid $green !important;
			border-bottom: 2px solid $green !important; 
		}
		td{
			font-size: 12px;
			.block{
				position: relative;
				left: 55px;

				.action{
					font-weight: bold;
				}
			}
			&:nth-child(4),&:nth-child(5), &:nth-child(6){
				text-align: center;
			}
			.counter{
				position: relative;
				top: 8px;
				text-align: center;
			}
			
		}
	}
}
.proceed-payment{
	display: none;
}
.redeem-field{
	display: none;
	width: 120px;

}
#redeem{
	width: 120px;
	padding: 8px 0;
}
.promotional{
	// display: none;
	margin-top: 20px;
	span{
		font-size: 12px;
		margin-bottom: 20px;
		display: block;
	}
	button{
		font-family: 'OpenSans';
		font-weight: 100;
	}
}

b{
	font-family: 'OpenSansBold';
}

.size-18{
	font-size: 18px;
}

.become-box{
	.img-box{
		position: relative;
		top: -20px;
	}
}



.faq-box{
	max-width: 650px;
	ul.circle{
		list-style-type: circle;
	}
	table{
		tbody{
			border: none;
		}
		tr{
			background-color: transparent !important;
			td{
				&:first-child{
					font-weight: bold;
				}
				span.email{
					text-decoration: underline;
				}
				vertical-align: text-top;
			}
		}
	}
}

.btn-payment{
	width: 100%;
	background: $primary-color;
	padding-top: 20px;
	padding-bottom: 20px;
	letter-spacing: 3px;
	// font-family: 'OpenSansSemiBold';
	font-size: 18px;
}

.remove-item-btn{
	color: red;
	font-weight: bold;
	font-size: 20px;
}
button.confirm{
	font-size: 18px;
	font-family: 'OpenSans';
	padding: 20px 15px;
	letter-spacing: 4px;
}
.order-history-box{
	font-family: 'OpenSansSemiBold';
	margin-bottom: 100px;

	table{
		margin-bottom: 50px;
		tr:nth-child(odd){
			background: #E5F0FF !important;
		}
		tr:first-child{
			background: transparent !important;
			border-top: 2px solid $primary-color !important;
			border-bottom: 2px solid $primary-color !important; 
			text-align: left;
		}

		td:first-child, th:first-child{
			margin-left: 80px;
			display: block;
		}
	}
}
.status{
	font-family: 'OpenSansSemiBold';
	table{
		width: 300px;
		position: relative;
		// left: -10px;
		tbody{
			tr{
				td{
					padding: 0 !important;
					color: #B2B2B2;
				}
			}
		}
	}
}
.table-detail-order{
	font-family: 'OpenSansSemiBold';

	.title-catogory{
		font-size: 21px;
		margin-bottom: 15px;
		span{
			display: block;
			font-size: 12px;
		}
	}
	table{
		th{
			border-bottom: 2px solid $primary-color;
			border-top: 2px solid $primary-color;
		}
		td{
			text-align: center;
			padding-top: 25px !important;
			padding-bottom: 25px !important;
		}
		tr{
			border-bottom: 2px solid $grey !important;
			&:nth-child(odd){
				background-color: $bluesky !important;
			}
		}
	}
}

ul.rating{
	list-style: none;
	margin-left: -10px;
	margin-bottom: 8px;
	li{
		display: inline;
		padding: 0px 5px;
	}
}

.recently-viewed-box{
	text-align: center;
	max-width: 125px;
	border: 2px solid $primary-color;
	span{
		display: block;
		font-size: 12px;
		// width: 100px;
	}
	ul{
		display: block;
		list-style: none;
		margin-left: 0;
	}
	li{
	 padding-bottom:10px;
	}
	.header{
		font-size: 12px;
		font-weight: bolder;
		padding: 10px 0;
		color: $primary-color;
		// cursor: pointer;
		border-bottom: 2px solid $primary-color;

		&:hover{
			// border-bottom: 2px solid $primary-color;
			&~.body{
				display: inherit;
			}
		}

		font-weight:bold;
	}
	.body{
		.recomendation-box{
			padding: 0;
			display: block;
			margin: auto;
			.item{
				display: block;margin: auto;
				margin: 10px auto;
				width: 70px;
				height: 70px;
			}
		}
	}

}
.dilabelin{
	display: inline-block;
	float: left;
	width: 15%;
	height: 24px;
	text-align: center;
	border-left: 1px solid #808184;
	border-top: 1px solid #808184;
	border-bottom: 1px solid #808184;
}
.pasangannya-label{
	display: inline;
	width: 85%;
    height: 24px;
    padding: 0 .5rem;
    border: 1.5px solid #808184;
}

.item-box.item-margin-bottom{
	margin-bottom: 70px;
}

.item-box{
	span{
		b{
			color: #929497 !important;
		}
	}
}
.vertical-align{
	vertical-align: top;
}

span.ico-down{
	position: relative;

	&:after{
		content: url(../../assets/images/ico-arrow-dropdown-dark.png);
		position: absolute;
		right: -30px;
		top: 0;
	}
}
.pagination a:hover, .pagination button:hover{
	background: transparent;
}

.is-active>.accordion-title:before{
	content: url(../../assets/images/ico-arrow-dropdown-dark.png);
	transform: rotate(180deg);
}
.accordion-title:before{
	content: url(../../assets/images/ico-arrow-dropdown-dark.png);
}

.space-3{
	letter-spacing: 3px;
}
.margin-left-30{
	margin-left: 30px;
} 
.margin-right-5{
	margin-right: 5px;
}
.preview {
		display: block;
		width: 150px;
		height: 150px;
		// margin: 20px auto;
		border: 1px solid $grey;
		// border-radius: 50%;
		overflow: hidden;
		background-image: url(../../assets/images/img-maskot.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
}
.preview.simple{
	background-image: url(../../assets/images/img-upload-box.png);
	width: 80px;
	height: 80px;
	border: none;
}

.file-upload-wrapper {
		position: relative;
		z-index: 5;
		display: block;
		width: 30px;
		height: 50px;

		// font-size: 30px;
		// margin: 5px auto;
		// border-right: 2px dotted rgb(33, 122, 105);
		// border-bottom: 2px dotted rgb(33, 122, 105);
		// border-left: 2px dotted rgb(33, 122, 105);
}

.file-upload-native,
.file-upload-text {
		position: absolute;
		top: -28px;
		left: 120px;
		display: block;
		width: 100%;
		height: 100%;
		cursor: pointer;
}
.file-upload-wrapper.custom{
	height: 80px;
	width: 80px;
}
.file-upload-native.apalah{
	left: 0;
	top: -80px;
	height: 80px;
	width: 80px;
}

.btn-upload{
	background-image: url(../../assets/images/ico-plus.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

input[type="file"]::-webkit-file-upload-button {
		cursor: pointer;
}

.file-upload-native:focus,
.file-upload-text:focus {
		outline: none;
}

.file-upload-text {
		z-index: 10;
		padding: 5px 15px 8px;
		overflow: hidden;
		font-size: 14px;
		line-height: 1.4;
		cursor: pointer;
		text-align: center;
		letter-spacing: 1px;
		text-overflow: ellipsis;
		color: rgb(144, 162, 148);
		border: 0;
		background-color: transparent;
}

.file-upload-native {
		z-index: 15;
		opacity: 0;
}

.suggest-product-box{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: $bluesky;
}
.contact-us-box{
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: $bluesky;

	h6{
		margin-top: 50px;
		margin-bottom: 20px;
		font-weight: bold;
	}
}
.after-title{
	display: block;
	margin: 0 auto 50px auto;
	max-width: 600px;
	text-align: center;
	font-size: 16px;
}
.buah-box{
	text-align: center;
	img{
		display: block;
		margin: auto;
	}
	.apel, .jeruk, .brokoli, .wortel{
		position: relative;
	}
	.apel{
		top: -100px;
		right: 50px;
	}
	.jeruk{
		top: -50px;
	}
	.brokoli{
		margin-top: 100px;
		right: -50px;
	}
	.wortel{
		margin-top: 150px;
	}
}
.loyalty-points-box{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: $orange-milk;

	p{
		margin-top: 50px;
		font-size: 14px;
		max-width: 640px;
	}
}
ul.reach-us-here{
	list-style: none;
	li{
		vertical-align: text-top;
		img{
			display: inline-block;
			vertical-align: top;
		}
		span{
			padding-left: 10px;
			display: inline-block;
		}
		padding: 5px;
	}
}

.gmap-box{
	iframe{
		margin-left: 35px;
		width: 240px;
		height: 135px;
		border: 1.5px solid $grey;
	}
}
.delivery-box{
	padding-top: 50px;
	padding-bottom: 100px;
}
.sub-content{
	padding-left: 50px;
	ul{
		list-style: none;
		li{
			position: relative;
			padding-left: 10px;

			&:nth-child(1):before{
				content: url(../../assets/images/ico-chart1.png);
				position: absolute;
				left: -20px;
				top: 3px;
			}
			&:nth-child(2):before{
				content: url(../../assets/images/ico-chart2.png);
				position: absolute;
				left: -20px;
				top: 3px;
			}
			&:nth-child(3):before{
				content: url(../../assets/images/ico-chart3.png);
				position: absolute;
				left: -20px;
				top: 3px;
			}

		}
	}
}
.sign-up-btn{
	color: white;
}

.modal-afterForgotPasswor{
	.img-box{
		img{
			width: 180px;
		}
	}
	p{
		font-size: 16px;
	}
}
.modal-forgotpassword{
	h4{
		padding-top: 20px;
		color: $primary-color;
	}
	p{
		color: #B1B1B1;
		font-size: 14px;
	}
	input[type='text']{
		max-width: 300px;
		margin: 20px auto;
	}
	button{
		margin-bottom: 20px;
	}
}

#popupOpenAccount{
	max-width: 220px;
	ul{
		list-style:none;
		text-align: right;
	}
}

.v-align-top{
	vertical-align: top;
}

#myRatingsReviews{
	margin-top: 10px;

	h4{
		font-weight: bolder;
		text-align: center;
	}
	.tabs-title{
		text-align: center;
		width: 100px;
		// font-family: 'openSansSemiBold';

		&.is-active{
			a{
				color: white;
				font-family: 'OpenSansExtraBold';
				font-weight: bolder;
			}
		}

		
		&:first-child{
			border: 2px solid $primary-color;
			border-bottom: none;

			&.is-active{
				background-color: $primary-color;
			}

		}
		&:nth-child(2){
			border: 2px solid $orange;
			border-left: none;
			border-bottom: none;

			&.is-active{
				background-color: $orange;
				a{
					color: white;
				}
			}
			&>a{
				color: $orange;
			}
		}
		&:nth-child(3){
			border: 2px solid $green;
			border-left: none;
			border-bottom: none;

			&.is-active{
				background-color: $green;
				a{
					color: white;
				}
			}
			&>a{
				color: $green;
			}
		}
		&>a{
			font-size: 18px;
			padding: 5px 10px;
			font-weight: bold;
		}

		
	}
	.panel-content-box{
		padding: 25px 0;
		// margin: 10px auto;
		&:nth-child(even){
			background-color: $bluesky;
		}
		.img-box{
			float: right;
			max-width: 200px;
		}
		table{
			margin-left: 20px;
			max-width: 430px;
			tbody{
				background: transparent;
				border: none;
				tr{
					background: transparent;
					td{
						padding: 2px;

						.preview.simple{
							width: 60px;
							height: 60px;
						}

						&.v-align-top{
							img{
								width: 40px;
							}
						}

						.form-box{
							margin-top: 50px;
							text-align: center;

							input[type='text']{
								max-width: none;
							}
						}

						span{
							display: block;
							float: left;
						}

						p{
							margin: 5px;
							font-size: 11px;
						}

						.rating-box{
							float: right;
							.rating{
								li{
									img{
										width: 20px;
									}
								}
							}
							span{
								float: right;
							}
							ul{
								float: right;
								list-style: none;
								li{
									display: inline-block;
								}
							}
						}
					}
				}
			}
		}
	}
}
.owl-carousel .owl-item img{
	display: inherit;
	width: auto;
}
.block{
	display: block;
}
.font-11{
	font-size: 11px;
}
.owl-slide{
	.customer-qa-box .qa-box{
		padding: 0;
	}
	.customer-qa-box .qa-box:last-child{
		margin: 0;
	}
	.customer-qa-box .qa-box table tbody tr:first-child{
		margin-top: 5px;
	}
}
.htp{
	font-family: 'OpenSansBold';
	font-size: 24px;
	display: block;
	margin-bottom: 5px;
}
.xyz {
	max-width: 355px !important;
		a{
		font-family: 'OpenSansBold';
		font-size: 22px;
	}
}
#confirm-box{
	text-align: center;

	.img-box{
		margin: 30px auto;
	}
	.subtitle{
		font-size: 18px !important;
		b{
			font-size: 22px;
			font-family: 'OpenSansExtraBold';
		}
	}
	p{
		max-width: 460px;
		font-size: 14px;
		margin: 15px auto;
		color: #B1B1B1;
		font-family: 'OpenSansSemiBold';
		b{
			display: inline;
			font-size: 14px;
		}
	}
	ul{
		list-style: none;
		li{
			.inline{
				display: inline;
			}
			span{
				position: relative;
				&:before{
				content: '';
				position: absolute;
				width: 4px;
				height: 4px;
				border-radius: 10px;
				background-color: grey;
				left: -10px;
				top: 5px;
			}
			}
		}
	}
	button.gplus{
		padding: .444444em .8em;
	}
	button.btn-aneh{
		width: 100%;
		max-width: 350px;
		font-size: 18px;
		a{
			color: white;
		}
	}
	button.how-to-pay{
		font-size: 18px;
		width: 100%;
		max-width: 250px;
	}
	.or{
		position: relative;
		display: block;top: -10px;
	}
}
#modalPayment{
	.columns{
		text-align: left;
	}
	input[type='file']{
		height: 25px;
		border: 1px solid grey;
		width: 100%;
	}
	input[type='date']{
		height: 25px;
		border: 1px solid grey;
		// width: 115px;
	}
	.time{
		width: 45px;
	}
	span{
		font-weight: bold;
		font-size: 11.5px;
	}
	.save-payment-box{
		position: relative;
	}
}
.margin-top-0{
	margin-top: 0;
}
.loveee{
	float: right;
	margin-right: 20px;
}

#datepicker	{
	background-image: url('../images/ico-calendar.png');
	background-position: 97%;
	background-repeat: no-repeat;
	padding-right: 10px;
}

.margin-list.left--13{
	position: relative;
	left: -13px;
}
.owl-carousel {
	position: relative;
	height: 100%;
	div:not(.owl-controls) {
		// height: 100%;
	}
	
	.owl-slide {
		// background-image: url('https://images.unsplash.com/photo-1437915015400-137312b61975?fit=crop&fm=jpg&h=800&q=80&w=1200');
		// background-repeat: no-repeat;
		// background-size: cover;
		// background-position: center center;
	}
	
	
	.owl-controls {
		position: absolute;
		top: 90%;
		left: 0;
		right:0;
		
		.owl-buttons {
			
			div {
				position: absolute;
				top:0;
				bottom: 0;
	   			display: inline-block;
	    		zoom: 1;
	    		margin: 0;
				width: 50px;
				height: 50px;
				text-align: center;
	    		font-size: 0em;
	    		background-position: center;
	    		background-repeat: no-repeat;
				cursor: pointer;
	    		
	    	} 
			
			.owl-prev {
				left: 5px;
				background-image: url(../images/ico-arrows-L.png);
			}
			.owl-next {
				right: 5px;
				background-image: url(../images/ico-arrows-R.png);
			}
		}
	}
}

.orbit-next:active, .orbit-next:focus, .orbit-next:hover, .orbit-previous:active, .orbit-previous:focus, .orbit-previous:hover{
	background-color: transparent;
	cursor: pointer;
}