#signIn{
	margin-top: 50px;

	.form-box{
		position: relative;
		border: 3px solid $primary-color;
		padding: 15px;
		margin-bottom: 50px;
		color: grey;
		

		h6{
			color: $primary-color;
			font-weight: bolder; 
		}

		table{
			input[type="text"], input[type="password"]{
				height: 25px;
				width: 100%;
			}
			tbody{
				border: none;

				tr{
					background-color: transparent;
					vertical-align: middle;

					td{
						span{
							color:$red;
							font-size: 24px;
						}
						input{
							padding-top: 5px;
						}
						padding: 0;
						vertical-align: middle;
					}
					td.right{
						text-align: right;
					}
				}
			}
		}

		button.submit{
			display: block;
			margin:  20px auto 0 auto;
		}
		button.checkout{
			// margin: 10px;
		}
	}
}
form.border-dashed{
	position: relative;
	border: 3px solid transparent;
	-webkit-border-image: url(../images/dashed.png) 2 round;
	padding: 30px 30px 10px 30px;;

	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 6px;
		border: 3px solid transparent;
		-webkit-border-image: url(../images/dashed-vertical.png) 2 round;
		-moz-border-image: url(../images/dashed-vertical.png) 2 round;
		-o-border-image: url(../images/dashed-vertical.png) 2 round;
		width: 100%;
		height: 95%;
		z-index: -1;
	}
}